.main-content
  %section.section
    .section-body
      .row
        .col-6.col-md-3
          .card
            .card-header.jc-between.no-border
              %h4 Utilisateurs
              .ml-2.fw-600
                = User.all.size
        .col-6.col-md-3
          .card
            .card-header.jc-between.no-border
              %h4 Financements
              .ml-2.fw-600
                = FinancingRequest.all.size
        .col-6.col-md-3
          .card
            .card-header.jc-between.no-border
              %h4 Sociétés
              .ml-2.fw-600
                = Company.all.size
        .col-6.col-md-3
          .card
            .card-header.jc-between.no-border
              %h4 Compromis
              .ml-2.fw-600
                = Compromise.all.size

        .col-12
          .card
            .card-header
              %h4 Demandes d'avance
            .card-body.p-0
              .table-responsive
                %table.table.table-striped
                  %tbody
                    %tr
                      %th
                        .custom-checkbox.custom-control
                          %input#checkbox-all.custom-control-input{"data-checkbox-role" => "dad", "data-checkboxes" => "mygroup", :type => "checkbox"}
                          %label.custom-control-label{:for => "checkbox-all"}  
                      %th Task Name
                      %th Members
                      %th Due Date
                      %th Status
                      %th Action
                    - @requests.each do |req|
                      %tr
                        %td.p-0.text-center
                          .custom-checkbox.custom-control
                            %input#checkbox-1.custom-control-input{"data-checkboxes" => "mygroup", :type => "checkbox"}
                            %label.custom-control-label{:for => "checkbox-1"}  
                        %td
                          = req.company
                        %td
                        %td
                          = req.inspect
                        %td
                          .badge.badge-success Completed
                        %td
                          %a.btn.btn-secondary{:href => "#"} Detail
