.big-logo-container
  = svg("logo-edmond-inline")
.subtitle-container
  %h4
    = "Mon abonnement"
  %p
    = "Vous avez choisis l'abonnement à 39,90 HT/Mois"

= simple_form_for [:wizard, user] do |f|
  .svg
    = svg("box-surprise")

  %section.submit-section
    = f.submit "Retour", class: "btn btn-lightblue wizard-submit", name: "back_button"
    = f.submit "Accéder à mon espace Pro", class: "btn btn-blue wizard-submit"
