.big-logo-container
  = svg("logo-edmond-inline")
.subtitle-container
  %h4
    = "Les infos de ma société"
  %p
    = "Etes-vous seul ou accompagné aux commandes de la société ?"

= simple_form_for [:wizard, user] do |f|

  .custom-choice-radio-inputs
    %input.shareholder#shareholderChoice1{name: "raw_choice", type: "radio", value: "true", "data-dom-target": "section.passive-shareholder"}
    %label{for: "shareholderChoice1"} Je suis seul

    %input.shareholder#shareholderChoice2{name: "raw_choice", type: "radio", value: "false", "data-dom-target": "section.shareholder"}
    %label{for: "shareholderChoice2"} Nous sommes plusieurs actionnaires


  = f.simple_fields_for :companies do |c|
    %section.passive-shareholder
      = c.simple_fields_for :shareholders do |s|
        = s.input :name, as: :hidden, input_html: {value: "#{user.firstname} #{user.lastname}"}

    %section.shareholder
      = c.simple_fields_for :shareholders do |s|
        = s.input :name

    .dynamic-form-container

  %section.submit-section
    = f.submit "Retour", class: "btn btn-lightblue wizard-submit", name: "back_button"
    = f.submit "Continue", class: "btn btn-blue wizard-submit"
