/ .big-logo-container
/   = svg("logo-edmond-inline")
/ .subtitle-container
/   %h4
/     = "Je m'inscris gratuitement"
/ = simple_form_for [:wizard, user] do |f|
/   .form-input-with-icon.required
/     .input-icon
/       = feather_svg("mail")
/     = f.input :email, placeholder: "Email", label: false, input_html: {autocomplete: "new-email"}
/   .form-input-with-icon.required
/     .input-icon
/       = feather_svg("key")
/     = f.input :password, placeholder: "Mot de passe", label: false, input_html: {autocomplete: "new-password"}
/   .form-input-with-icon
/     .input-icon
/       = feather_svg("key")
/     = f.input :password_confirmation, placeholder: "Confirmation du mot de passe", label: false

/   .custom-user-boolean-field
/     = f.input :cgu, label: "En m'inscrivant, j'accepte les #{link_to 'CGU et CGV', 'https://edmond.immo/conditions-utilisation-de-vente-du-service-en-ligne-edmond/', target: '_blank'}".html_safe, as: :boolean, boolean_style: :inline

/   %section.submit-section
/     = f.submit "Suivant", class: "btn btn-blue wizard-submit"



.d-flex.d-column.mb-4
  .subtitle-container.text-center
    %h4.fw-800
      = "Je m'inscris gratuitement"
  %p.text-center.fw-600.text-darkblue
    = "Je m'inscris pour finaliser ma demande d'avance sur honoraires"

= simple_form_for [:wizard, user] do |f|

  = f.simple_fields_for :companies do |c|
    = c.input :name, input_html: {class: "hidden-company-field"}, as: :hidden
    = c.input :trade_name, input_html: {class: "hidden-com-name-field"}, as: :hidden
    = c.input :postal_code, input_html: {class: "hidden-postal-code-field"}, as: :hidden
    = c.input :city, input_html: {class: "hidden-city-field"}, as: :hidden
    = c.input :siret, input_html: {class: "hidden-siret-field"}, as: :hidden
    = c.input :juridical_nature, input_html: {class: "hidden-juridical-nature-field"}, as: :hidden
    = c.input :siren, input_html: {class: "hidden-siren-field"}, as: :hidden
    = c.input :activity_start_date, input_html: {class: "hidden-activity-start-date-field"}, as: :hidden
    = c.input :full_address, input_html: {class: "hidden-full-address-field"}, as: :hidden

    .form-custom-label.mb-2 Mon agence
    .relative-input
      .input-icon
        = unicon_svg(name: "store-alt", size: 20, color: "rgb(0,172,216)")
      = c.input :company_api_search, placeholder: "Recherche société, SIRET, Ville", label: false, input_html: {class: "test form-control", autocomplete: "new-email"}
      / %input.test.form-control{type: "text", name: "company_api_search", placeholder: "Recherche société, SIREN, Ville"}
      .result-container.d-none

  .custom-user-radiobuttons
    = f.input :is_legal_agent, collection: [["1","Oui"],["0","Non"]], as: :radio_buttons, boolean_style: :inline, label_method: :last, value_method: :first, label: "Etes-vous le représentant légal ?"

  .form-custom-label.mb-2.mt-4 Mes infos
  .row
    .col-12.col-sm-6
      .form-input-with-icon.required
        .input-icon
          = feather_svg("mail")
        = f.input :firstname, placeholder: "Prénom", label: false, input_html: {autocomplete: "new-email"}
    .col-12.col-sm-6
      .form-input-with-icon.required
        .input-icon
          = feather_svg("mail")
        = f.input :lastname, placeholder: "Nom", label: false, input_html: {autocomplete: "new-email"}

  .row
    .col-12.col-sm-6
      .form-input-with-icon.required
        .input-icon
          = feather_svg("mail")
        = f.input :email, placeholder: "Email", label: false, input_html: {autocomplete: "new-email"}
    .col-12.col-sm-6
      .form-input-with-icon.required
        .input-icon
          = feather_svg("phone")
        = f.input :phone, placeholder: "Téléphone", label: false, input_html: {autocomplete: "new-email"}

  .row
    .col-12.col-sm-6
      .form-input-with-icon.required
        .input-icon
          = feather_svg("key")
        = f.input :password, placeholder: "Mot de passe", label: false, input_html: {autocomplete: "new-password"}
    .col-12.col-sm-6
      .form-input-with-icon.required
        .input-icon
          = feather_svg("key")
        = f.input :password_confirmation, placeholder: "Confirmation", label: false

  .custom-user-boolean-field.jc-center
    = f.input :cgu, label: "En m'inscrivant, j'accepte les #{link_to 'CGU et CGV', 'https://edmond.immo/conditions-utilisation-de-vente-du-service-en-ligne-edmond/', target: '_blank'}".html_safe, as: :boolean, boolean_style: :inline


  %section.submit-section
    = f.submit "Suivant", class: "btn btn-blue wizard-submit"
