.big-logo-container
  = svg("logo-edmond-inline")
.subtitle-container
  %h4
    = "Félicitations"
  %p
    = "Un mois d'abonnement offert !"

= simple_form_for [:wizard, user] do |f|
  .medium-svg
    = svg("box-surprise")

  %section.submit-section
    = f.submit "Accéder à mon espace Pro", class: "btn btn-blue mx-2 wizard-submit"
