.big-logo-container
  = svg("logo-edmond-inline")
.subtitle-container
  %h4
    = "Quelques infos complémentaires"

= simple_form_for [:wizard, user] do |f|

  .form-input-with-icon.required
    .input-icon
      = feather_svg("user")
    = f.input :firstname, placeholder: "Prénom", label: false

  .form-input-with-icon.required
    .input-icon
      = feather_svg("user")
    = f.input :lastname, placeholder: "Nom", label: false

  .form-input-with-icon.required
    .input-icon
      = feather_svg("phone")
    = f.input :phone, placeholder: "Téléphone", label: false


  = f.simple_fields_for :companies do |c|
    .form-input-with-icon
      .input-icon
        = feather_svg("map-pin")
      = c.input :city, placeholder: "Ville", label: false
    .form-input-with-icon.required
      .input-icon
        = feather_svg("tag")
      = c.input :trade_name, placeholder: "Nom commercial", label: false
    .form-input-with-icon.required
      .input-icon
        = feather_svg("tag")
      = c.input :name, placeholder: "Raison sociale", label: false
    .form-input-with-icon.required
      .input-icon
        = unicon_svg(name: "store-alt", size: 25, color: "rgb(0,172,216)")
      = c.input :company_type, collection: CompanyType.lists, boolean_style: :inline, label: false, label_method: :last, value_method: :first, prompt: "Forme juridique"


  .custom-user-radiobuttons
    = f.input :is_legal_agent, collection: [["1","Oui"],["0","Non"]], as: :radio_buttons, boolean_style: :inline, label_method: :last, value_method: :first, label: "Etes-vous le représentant légal ?"

  %section.submit-section
    = f.submit "Retour", class: "btn btn-lightblue wizard-submit", name: "back_button"
    = f.submit "Suivant", class: "btn btn-blue mx-2 wizard-submit"
