%section.user-question-success
  = feather_svg("send")
  %h4.success Merci, votre message à été envoyé
  .d-flex.jc-center.mt-4
    = remote_link_to(target: new_dashboard_user_question_path, dynamic_dom_receiver: ".user-question-block", pattern: "html", trackable_url: true) do
      .btn.btn-blue Poser une autre question
