%p Je contacte directement l'équipe d'Edmond
= simple_form_for [:dashboard,user_question], html: {"data-remote-form": true, "data-dynamic-receiver": ".user-question-block"} do |f|
  = f.input :user_id, as: :hidden, input_html: {value: current_user.id.to_s}
  = f.input :object, label: false, placeholder: "Objet", input_html: {class: "form-control"}
  = f.input :message, label: false, placeholder: "Message", as: :text, input_html: {class: "form-control"}
  .d-flex.jc-center
    = f.submit "Envoyer", class: "btn btn-blue"
