%section.sub-mini-show
  %h3.fw-700.text-lightblue.mb-3
    = "#{@subscription.name}"

  .d-flex.ai-center.mb-2
    %h5.fw-600.text-gray
      = @subscription.category

  .d-flex.ai-center.mb-2
    %h5.fw-600
      - if @subscription[:recurrence] == 1
        = "#{number_with_delimiter(@subscription.int_amount, locale: :fr)} € / Mois"
      - elsif @subscription[:recurrence] == 2
        = "#{number_with_delimiter(@subscription.int_amount, locale: :fr)} € / An"

  .d-flex.ai-center
    %h6.fw-500.text-gray
      = "Engagement du #{l(@subscription.start_date,format: :medium)} au #{l(@subscription.end_date,format: :medium)}"
