%section.new-subscription-form
  %h4.text-center.fw-700.text-lightblue.mb-3
    = "Mon abonnemment #{@sub_item.name}"
  = simple_form_for [:dashboard,@subscription], html: {"data-remote-form": true, "data-dynamic-receiver": ".subs-items-dynamic-content"} do |f|
    = f.input :name, as: :hidden, input_html: {value: @sub_item.name, class: "form-control"}
    = f.input :slug_name, as: :hidden, input_html: {value: @sub_item.slug_name}
    = f.input :company_id, as: :hidden, value: @company.id.to_s, input_html: {value: @company.id.to_s}
    = f.input :subitem_id, as: :hidden, value: @sub_item.id.to_s, input_html: {value: @sub_item.id.to_s}
    = f.input :category, as: :hidden, input_html: {value: @sub_item.subscription_type.input_value.to_i}

    .custom-label Fréquence de l'abonnement
    .custom-user-radiobuttons
      = f.input :recurrence, collection: [[1,"Mensuelle"],[2,"Annuelle"]], as: :radio_buttons, boolean_style: :inline, label_method: :last, value_method: :first, label: false

    .row
      .col-12
        .field-with-hint.input-swapper
          .hint € HT / Mois
          = f.input :amount, label: false, placeholder: "Coût / mois", input_html: {class: "form-control","data-remote-mask": true}
      .col-12.col-sm-6
        = f.input :start_date, label: false, placeholder: "Date début", input_html: {"data-date-picker": "datepicker", class: "form-control", autocomplete: "off"}
      .col-12.col-sm-6
        .dynamic-field-receiver
          = remote_link_to(target: dashboard_dynamic_field_path(field: :end_date, resource: :subscription), dynamic_dom_receiver: ".dynamic-field-receiver", trackable_url: false) do
            .d-flex.ai-center
              .svg-blue-button.mr-2
                = feather_svg("plus")
              %p.text-darkblue Ajouter une date de fin

    .d-flex.jc-center
      = f.submit "Enregistrer", class: "btn btn-blue"
