$animation-time: 0.4s;
$dynamic-slide-width: var(--slide-object-width);

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    display: none;
    transform: translate($dynamic-slide-width);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.fadein {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: $animation-time;
}

.slidein-from-right {
  animation-name: slideInFromRight;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}




