$light-blue: rgb(0,172,217);
$light-blue-lighter: rgb(86,221,254);
$medium-blue: darken($light-blue,14%);
$dark-blue: darken(rgb(0,45,136),15%);
$bluegray: rgb(134,170,191);
$yellow: rgb(255,200,57);
$green: rgb(10,230,130);
$light-gray: rgb(245,245,245);
$bck-gray: rgb(240,243,248);
$bck-gray-alt: rgb(242,245,250);
$orange: rgb(255,161,80);
$green: rgb(44,186,127);
$red: tomato;
$alt-blue: rgb(43,121,171);
$smooth-blue: rgb(141,214,235);

.bck-lightblue {
  background-color: $light-blue;
}
.bck-mediumblue {
  background-color: $medium-blue;
}
.bck-darkblue {
  background-color: $dark-blue;
}
.bck-yellow {
  background-color: $yellow;
}
.bck-gray {
  background-color: $light-gray;
}
.bck-smoothblue {
  background-color: $smooth-blue !important;
}

.text-lightblue {
  color: $light-blue !important;
}
.text-mediumblue {
  color: $medium-blue !important;
}
.text-darkblue {
  color: lighten($dark-blue,5%) !important;
}
.text-yellow {
  color: $yellow !important;
}
.text-gray {
  color: rgb(120,120,140) !important;
}
.text-altblue {
  color: $alt-blue !important;
}


.text-green {
  color: $green !important;
}
.text-red {
  color: tomato !important;
}




