div,html,body {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a, a:hover {
  text-decoration: none;
}


.d-flex {
  display: flex;
  align-items: center;
  &.jc-start {
    justify-content: flex-start;
  }
  &.jc-center {
    justify-content: center;
  }
  &.jc-end {
    justify-content: flex-end;
  }
  &.jc-between {
    justify-content: space-between;
  }
}

.ai-start {
  align-items: flex-start;
}
.ai-center {
  align-items: center;
}

.d-column {
  flex-direction: column;
}

.f-grow-1 {
  flex: 1;
}
.f-grow-2 {
  flex: 2;
}
.f-grow-3 {
  flex: 3;
}
.f-grow-4 {
  flex: 4;
}
.f-grow-5 {
  flex: 5;
}
.f-grow-6 {
  flex: 6;
}
.f-grow-7 {
  flex: 7;
}
.f-grow-8 {
  flex: 8;
}
.f-grow-9 {
  flex: 9;
}


.pr-10 {
  padding-right: 10%;
}
.pr-30 {
  padding-right: 30%;
}
.pl-30 {
  padding-left: 30%;
}


.pr-50 {
  padding-right: 50%;
}
.pl-50 {
  padding-left: 50%;
}

.p-20px {
  padding: 20px;
}


.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.nomargins {
  margin: 0 !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nopaddings {
  padding: 0 !important;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

.title {
  font-weight: 700;
  color: $light-blue;
}

.fs-8 {
  font-size: 0.8rem !important;
}
.fs-9 {
  font-size: 0.9rem !important;
}



.height40 {
  height: 40%;
}
.height50 {
  height: 50%;
}
.height100 {
  height: 100%;
}
.height100vh {
  height: 100vh;
}


.w100 {
  width: 100%;
}


.genuine-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  h1,h2,h3,h4,h5,h6,p,small {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }
  .list-group-item {
    padding: 1rem;
    transition: 0.3s;
    display: flex;
    align-items: center;
    .brand-svg-logo {
      height: 100%;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      background-color: rgb(240,240,245);
    }
  }
}



@media (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
  .d-mobile-column {
    flex-direction: column !important;
  }
  .d-mobile-column-start {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .mobile-mb-10 {
    margin-bottom: 10px !important;
  }
}


.point-separator {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(170,170,180);
  margin-top: 4px;
  display: inline-block;
}

.active-cursor {
  cursor: pointer;
}

.ajax-loading-text {
  color: rgb(50,50,55) !important;
  font-weight: 400;
}







