$stisla-blue: rgb(103,192,231);
$stisla-green: rgb(105,227,130);
$stisla-red: rgb(253,84,76);
$stisla-purple: rgb(124,142,249);
$stisla-orange: rgb(250,172,86);
$stisla-dark-blue: #34395e;
$stisla-gray-light: rgb(220,224,232);
$stisla-gray: rgb(80,82,92);

$stisla-blue-light: lighten($stisla-blue,25%);
$stisla-green-light: lighten($stisla-green,28%);
$stisla-red-light: lighten($stisla-red,30%);
$stisla-purple-light: lighten($stisla-purple,20%);
$stisla-orange-light: lighten($stisla-orange,30%);
