%section.contextual-header
  %h4 Tous mes abonnements
  .d-flex.jc-center
    = remote_link_to(target: new_dashboard_subscription_path, dynamic_dom_receiver: ".custom-tab-content", trackable_url: true) do
      .btn.btn-blue Ajouter un abonnement
