.container
  %h2 Inscription

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, label: false, placeholder: "Email", autofocus: true, input_html: { autocomplete: "email", class: "form-control" }
      .row
        .col
          = f.input :password, label: false, placeholder: "Mot de passe", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control" }
        .col
          = f.input :password_confirmation, label: false, placeholder: "Confirmation mot de passe", input_html: { autocomplete: "new-password", class: "form-control" }

    .form-actions
      = f.button :submit, "Inscription", class: "btn btn-dark"
