.compromise-info-block
  %h6.text-center.fw-600.mb-3
    = "J'entre la nouvelle date de signature de l'acte"
  = simple_form_for [:dashboard, @compromise], method: :post, url: dashboard_compromise_update_act_signature_date_path(@compromise), html: {"data-remote-form": true, "data-dynamic-receiver": "section.content", id: "compromise_update_act_date"} do |f|
    = f.input :pending_compromise, as: :hidden, input_html: {value: "true"}
    .d-flex
      = f.input :authentic_act_signature_date, label: false, placeholder: "Date de signature de l'acte authentique", input_html: {"data-date-picker": "datepicker", class: "form-control", autocomplete: "off", value: l(@compromise.authentic_act_signature_date, format: :french)}
      = f.submit "Enregistrer", class: "btn btn-blue"
