%section.compromise-new-form
  = simple_form_for [:dashboard, @compromise], html: {"data-remote-form": true, "data-dynamic-receiver": "section.content"} do |f|
    .top-block
      %h4
        = "Je modifie les informations du compromis #{@compromise.reference}"
    .middle-block
      .row
        .col-12.col-sm-6
          = f.input :company_id, as: :hidden, value: @compromise.company.id.to_s
          = f.input :pending_compromise, as: :hidden, input_html: {value: "true"}

          - if @compromise.status
            .custom-radiobuttons-with-icons
              = f.input :status,  as: :radio_buttons, collection: [[0,"Signé"],[1,"En attente"],[2,"Annulé"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first,checked: @compromise[:status]
          - else
            .custom-radiobuttons-with-icons
              = f.input :status,  as: :radio_buttons, collection: [[0,"Signé"],[1,"En attente"],[2,"Annulé"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first

          = f.input :seller_lastname, label: false, placeholder: "Nom du vendeur", input_html: {class: "form-control"}

          .custom-label Type de contrat
          - if @compromise.contract_type
            .custom-classic-radiobuttons
              = f.input :contract_type, as: :radio_buttons, collection: [[0,"Compromis"],[1,"Promesse de vente"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, checked: @compromise[:contract_type]
          - else
            .custom-classic-radiobuttons
              = f.input :contract_type, as: :radio_buttons, collection: [[0,"Compromis"],[1,"Promesse de vente"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first

          .custom-label Conditions suspensives de financement ?
          - if @compromise.pending_funding_terms
            .custom-classic-radiobuttons
              = f.input :pending_funding_terms, as: :radio_buttons, collection: [[0,"Oui"],[1,"Non"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, checked: @compromise[:pending_funding_terms]
          - else
            .custom-classic-radiobuttons
              = f.input :pending_funding_terms, as: :radio_buttons, collection: [[0,"Oui"],[1,"Non"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first

          .custom-label Lieu de signature du compromis
          - if @compromise.compromise_signature_place
            .custom-classic-radiobuttons
              = f.input :compromise_signature_place, as: :radio_buttons, collection: [[0,"Agence"],[1,"Notaire"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, checked: @compromise[:compromise_signature_place]
          - else
            .custom-classic-radiobuttons
              = f.input :compromise_signature_place, as: :radio_buttons, collection: [[0,"Agence"],[1,"Notaire"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first

        .col-12.col-sm-6

          - if @compromise.purchase_type
            .custom-radiobuttons-with-icons
              = f.input :purchase_type, as: :radio_buttons, collection: [[0,"Maison"],[1,"Appartement"],[2,"Terrain"],[3,"Autres"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, checked: @compromise[:purchase_type]
          - else
            .custom-radiobuttons-with-icons
              = f.input :purchase_type, as: :radio_buttons, collection: [[0,"Maison"],[1,"Appartement"],[2,"Terrain"],[3,"Autres"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first


          = f.input :fees, label: false, placeholder: "Honoraires", input_html: {class: "form-control","data-remote-mask": true}
          = f.input :selling_price, label: false, placeholder: "Prix de vente", input_html: {class: "form-control","data-remote-mask": true}

          = f.input :compromise_signature_date, label: false, placeholder: "Date de signature du compromis", input_html: {"data-date-picker": "datepicker", class: "form-control", autocomplete: "off", value: l(@compromise.compromise_signature_date, format: :french)}

          = f.input :authentic_act_signature_date, label: false, placeholder: "Date de signature de l'acte authentique", input_html: {"data-date-picker": "datepicker", class: "form-control", autocomplete: "off", value: l(@compromise.authentic_act_signature_date, format: :french)}

          = f.input :reference, label: false, placeholder: "Reference interne du mandat", input_html: {class: "form-control"}
    .bottom-block
      .d-flex.jc-center
        = f.submit "Modifier ce compromis", class: "btn btn-blue"
