= render "dashboard/shared/current_path"
- if @company.compromises?
  .fadein
    = render "dashboard/compromises/partials/header"
    %section.compromises-index
      = render "shared/flashes"
      .sortable-list{id: "#{@resource_name}", "data-remote-list": @resource_name, "data-remote-values": '["comp-date","name","act-date","status","fees"]'}
        .table-responsive
          %table.table
            %thead
              %tr
                %th.sort{"data-sort": "comp-date", scope: "row"}
                  .d-flex
                    Date compromis
                    = feather_svg("code")
                %th.sort{"data-sort": "name", scope: "row"}
                  .d-flex
                    Vendeur
                    = feather_svg("code")
                %th.sort{"data-sort": "act-date", scope: "row"}
                  .d-flex
                    Date acte
                    = feather_svg("code")
                %th.sort{"data-sort": "status", scope: "row"}
                  .d-flex
                    Statut
                    = feather_svg("code")
                %th.sort{"data-sort": "fees", scope: "row"}
                  .d-flex
                    Honoraires
                    = feather_svg("code")
                %th
            %tbody.list
              - @compromises.each_with_index do |compromise,index|
                %tr
                  %th{:scope => "row"}
                    .comp-date
                      = l(compromise.compromise_signature_date, format: :medium_short)
                  %td
                    .name
                      = "#{compromise.seller_lastname}"
                  %td
                    .act-date
                      = l(compromise.authentic_act_signature_date, format: :medium_short)
                  %td
                    .status
                      = compromise.status
                  %td
                    .fees
                      %strong
                        = number_with_delimiter(compromise.fees.to_i, locale: :fr) + "€"
                  %td
                    = remote_link_to(target: dashboard_compromise_path(compromise), dynamic_dom_receiver: "section.content", class: "table-show-link", trackable_url: true) do
                      = svg("angle-down")
        .fixed-pagination
          %ul.pagination
- else
  %section.relative-empty-resource
    .d-flex.jc-center.ai-center
      = dynamic_svg(name: "empty-resources", size: 160)
    %h5
      = "C'est bien vide ici !"
    .d-flex.ai-center.jc-center
      = remote_link_to(target: new_dashboard_compromise_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
        .btn.btn-blue.mx-2 Nouveau compromis
      = remote_link_to(target: dashboard_new_pending_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
        .btn.btn-blue.mx-2 Nouvelle vente signée


= render "dashboard/pages/partials/restricted_access_modal"
