%section.compromise-new-form.smaller
  = simple_form_for [:dashboard, @compromise], html: {"data-remote-form": true, "data-dynamic-receiver": "section.content"} do |f|
    .top-block
      %h4 Je renseigne les informations sur ma vente signée
    .middle-block
      .row
        .col-12
          = f.input :company_id, as: :hidden, value: @compromise.company.id.to_s
          = f.input :status, as: :hidden, input_html: {value: 0}
          = f.input :seller_lastname, label: false, placeholder: "Nom du vendeur", input_html: {class: "form-control"}
          = f.input :reference, label: false, placeholder: "Référence interne du mandat", input_html: {class: "form-control"}

          .field-with-hint
            .hint TTC
            = f.input :fees, label: false, placeholder: "Honoraires", input_html: {class: "form-control","data-remote-mask": true}
          .field-with-hint
            .hint TTC FAI
            = f.input :selling_price, label: false, placeholder: "Prix de vente", input_html: {class: "form-control","data-remote-mask": true}
          = f.input :compromise_signature_date, label: false, placeholder: "Date de signature du compromis", input_html: {"data-date-picker": "datepicker", class: "form-control", autocomplete: "off"}
          = f.input :authentic_act_signature_date, label: false, placeholder: "Date de signature de l'acte authentique", input_html: {"data-date-picker": "datepicker", class: "form-control", autocomplete: "off"}
    .bottom-block
      .d-flex.jc-center
        = f.submit "Créer la vente", class: "btn btn-blue"
