= render "dashboard/shared/account_menu", title: "Fiche compromis #{@compromise.reference}"
/ = render "dashboard/shared/backlink"
%section.compromise-show
  .row
    .col-12.col-sm-8
      .base-block.fullpage
        .subtitle Les références
        .row.mb-20
          .col-12.col-sm-6
            .d-flex.jc-between.pr-10
              .label Référence interne
              .value
                = @compromise.reference
            .d-flex.jc-between.pr-10
              .label Type de bien
              .value
                - if @compromise.purchase_type
                  = @compromise.purchase_type.capitalize

          .col-12.col-sm-6
            .d-flex.jc-between.pr-10
              .label Vendeur
              .value
                = @compromise.seller_lastname
            .d-flex.jc-between.pr-10
              .label Prix de vente
              .value
                = number_with_delimiter(@compromise.selling_price.to_i, locale: :fr) + " €"

        .subtitle Le compromis
        .row.mb-20
          .col-12.col-sm-6
            .d-flex.jc-between.pr-10
              .label Type de contrat
              .value
                - if @compromise.contract_type
                  = @compromise.contract_type
            .d-flex.jc-between.pr-10
              .label Conditions suspensives
              .value
                - if @compromise.pending_funding_terms
                  = @compromise.pending_funding_terms
            .d-flex.jc-between.pr-10
              .label Lieu de signature
              .value
                - if @compromise.compromise_signature_place
                  = @compromise.compromise_signature_place

          .col-12.col-sm-6
            .d-flex.jc-between.pr-10
              .label Montant des honoraires
              .value
                = number_with_delimiter(@compromise.fees.to_i, locale: :fr) + " €"
            .d-flex.jc-between.pr-10
              .label Signature compromis le
              .value
                = l(@compromise.compromise_signature_date,format: :medium)
            .d-flex.jc-between.pr-10
              .label Signature de l'acte le
              .value
                = l(@compromise.authentic_act_signature_date,format: :medium)
                - if @compromise.authentic_act_signature_date == Date.today
                  %span ( Aujourd'hui )

        .subtitle Statuts
        .row
          .col-12.col-sm-6
            .d-flex.jc-between.pr-10
              .label Statut du compromis
              .value
                = @compromise.status
          .col-12.col-sm-6
            .d.flex
              = remote_link_to(target: edit_dashboard_compromise_path(@compromise), dynamic_dom_receiver: "section.content", trackable_url: true) do
                .btn.btn-blue Modifier

    .col-12.col-sm-4
      .base-block.fullpage
        .top-item
          %h5
            = "Une question sur edmond ?"
        .bottom-item.user-question-block
          = render "dashboard/user_questions/partials/new", user_question: @user_question

