%section.dashboard
  = render "dashboard/shared/fixed_menu"
  %section.content
    %h3.title Je valide ma vente

    .row
      .col-12.col-sm-6
        .compromise-info-block
          .d-flex.jc-between.mb-2
            .label Vendeur
            .value
              = @compromise.seller_lastname
          .d-flex.jc-between.mb-2
            .label Prix de vente
            .value
              = number_with_delimiter(@compromise.selling_price.to_i, locale: :fr) + " €"
          .d-flex.jc-between
            .label Montant des honoraires
            .value
              = number_with_delimiter(@compromise.fees.to_i, locale: :fr) + " €"
        .question
          %p
            = "La signature de l'acte est prévu aujourd'hui."
          %p
            = "Confirmez-vous la signature ?"

        .d-flex
          = remote_link_to(target: dashboard_compromise_change_signed_date_path(@compromise), dynamic_dom_receiver: ".compromise-status-changer", pattern: "html", method: "POST", class: "mr-3", trackable_url: false) do
            .btn.btn-orange Non, c'est en attente
          = remote_link_to(target: dashboard_compromise_signed_path(@compromise), dynamic_dom_receiver: "section.content", pattern: "html", method: "POST", trackable_url: false) do
            .btn.btn-green Oui, c'est signé

        .compromise-status-changer
