.fullheight-block.validation-success
  = feather_svg("bar-chart-2")
  %h4
    = "Bravo 🎉 Mon tableau de bord vient de se mettre à jour"

  = link_to dashboard_start_path do
    .btn.btn-blue
      = "Mon tableau de bord"
