%section.new-month-cost
  .row
    .col-12.col-sm-7
      .cost-form-block
        .new-cost-month-title
          = "Frais fixes"
        = simple_form_for [:dashboard,@cost], html: {"data-remote-form": true, "data-dynamic-receiver": "section.show-month-cost"} do |f|
          / %h4
          /   = "#{french_dates[@cost.month]} #{@cost.year}"
          .row
            .col-12
              = f.input :rent, label: "Loyer", placeholder: "Loyer", input_html: {class: "custom-form-control", "data-remote-mask": true}, hint: "€ HT"
            .col-12
              = f.input :wages, label: "Salaires", placeholder: "Salaires", input_html: {class: "custom-form-control", "data-remote-mask": true}, hint: "€"
            .col-12
              = f.input :others, label: "Autres frais", placeholder: "Autres", input_html: {class: "custom-form-control", "data-remote-mask": true}, hint: "€ HT"
          .d-flex.jc-center
            = f.submit "Modifier", class: "btn btn-blue"

    .col-12.col-sm-5
      .row
        .col-12
          .doughnut-chart-centered-text
            .first.big
              = "#{number_with_delimiter(@costs_total, locale: :fr)} €"
            .last.big de charges
          = generate_chart(id: "costs-#{@cost.month}", colors: ["rgb(255,229,164)","rgb(255,200,57)","rgb(43,121,172)","rgb(0,162,208)"],chart_type: "doughnut", datas: @datas, labels: ["One","two"], height: "250")
        .col-12
          .chart-legend-simple-container
            .chart-legend-simple-container-item
              .chart-legend-simple.rent
              %p
                = "Loyer"
            .chart-legend-simple-container-item
              .chart-legend-simple.subscriptions
              %p
                = "Abonnements"
            .chart-legend-simple-container-item
              .chart-legend-simple.wages
              %p
                = "Salaires"
            .chart-legend-simple-container-item
              .chart-legend-simple.others
              %p
                = "Autres"
