.d-flex.costs-year-selector
  = remote_link_to(target: dashboard_year_costs_path(year: @year.to_i - 1), method: "POST", pattern: "html", dynamic_dom_receiver: ".costs-receiver", trackable_url: false) do
    = feather_svg("chevron-left")

  .current-year
    = @year.to_i

  = remote_link_to(target: dashboard_year_costs_path(year: @year.to_i + 1), method: "POST", pattern: "html", dynamic_dom_receiver: ".costs-receiver", trackable_url: false) do
    = feather_svg("chevron-right")
