%section.edmond-user-signin-section
  %section.left-block
    .svg
      = svg("logo-edmond-inline")
    .form-wrapper
      %h5 Connectez-vous à votre espace pro
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "session_new_user", class: "session_new_user"}) do |f|
        = f.error_notification
        .form-inputs
          .custom-user-signin-field
            = feather_svg("user")
            = f.input :email, label: false, placeholder: "Identifiant"

          .custom-user-signin-field
            = feather_svg("lock")
            = f.input :password, label: false, placeholder: "Mot de passe"

          .custom-user-boolean-field
            = f.input :remember_me, label: "Se souvenir de moi", as: :boolean, boolean_style: :inline if devise_mapping.rememberable?

        .d-flex.justify-content-center.align-items-center
          = f.button :submit, "Connexion", class: "btn btn-blue"

        .d-flex.justify-content-center.align-items-center.mt-4
          = link_to "Mot de passe perdu ?", new_password_path(:user), class: "unbox-btn"
        .d-flex.justify-content-center.align-items-center.mt-1
          = link_to "S'inscrire", new_wizard_user_path, class: "unbox-btn"


