%section.section
  .container.mt-5
    .row
      .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
        .login-brand
          %img.shadow-light.rounded-circle{:alt => "logo", :src => "assets/img/stisla-fill.svg", :width => "100"}/
        .card.card-primary
          .card-header
            %h4 Login
          .card-body
            %form.needs-validation{:action => "#", :method => "POST", :novalidate => ""}
              .form-group
                %label{:for => "email"} Email
                %input#email.form-control{:autofocus => "", :name => "email", :required => "", :tabindex => "1", :type => "email"}/
                .invalid-feedback
                  Please fill in your email
              .form-group
                .d-block
                  %label.control-label{:for => "password"} Password
                  .float-right
                    %a.text-small{:href => "auth-forgot-password.html"}
                      Forgot Password?
                %input#password.form-control{:name => "password", :required => "", :tabindex => "2", :type => "password"}/
                .invalid-feedback
                  please fill in your password
              .form-group
                .custom-control.custom-checkbox
                  %input#remember-me.custom-control-input{:name => "remember", :tabindex => "3", :type => "checkbox"}/
                  %label.custom-control-label{:for => "remember-me"} Remember Me
              .form-group
                %button.btn.btn-primary.btn-lg.btn-block{:tabindex => "4", :type => "submit"}
                  Login
            .text-center.mt-4.mb-3
              .text-job.text-muted Login With Social
            .row.sm-gutters
              .col-6
                %a.btn.btn-block.btn-social.btn-facebook
                  %span.fab.fa-facebook
                  Facebook
              .col-6
                %a.btn.btn-block.btn-social.btn-twitter
                  %span.fab.fa-twitter
                  Twitter
        .mt-5.text-muted.text-center
          Don't have an account?
          %a{:href => "auth-register.html"} Create One
        .simple-footer
          Copyright © Stisla 2018
