%section.fullheight-layout
  .fullheight-base-block
    .d-flex.jc-center
      %h5 Je détaille ma situation
    = simple_form_for [:dashboard,@financing_request], html: {"data-remote-form": true, "data-dynamic-receiver": "section.content"} do |f|
      = f.input :company_id, as: :hidden, input_html: {value: @company.id.to_s}
      = f.input :year_transactions_count, placeholder: "Nb de ventes en #{Date.today.year - 1}", label: false, input_html: {"data-remote-mask": true, class: "form-control"}
      = f.input :pending_transactions_count, placeholder: "Nb de compromis en attente de signature", label: false, input_html: {"data-remote-mask": true, class: "form-control"}
      = f.input :annual_revenue, placeholder: "Chiffre d'affaire en #{Date.today.year - 1}", label: false, input_html: {"data-remote-mask": true, class: "form-control"}, hint: "HT"
      = f.input :total_transactions_amount, placeholder: "Montant des honoraires sous compromis", label: false, input_html: {"data-remote-mask": true, class: "form-control"}, hint: "HT"
      = f.input :company_creation_year, as: :numeric, placeholder: "Année de création de la société", label: false, input_html: {class: "form-control"}
      .d-flex.jc-center
        = f.submit "Continuer", class: "btn btn-blue"
