%section.fullheight-layout
  .fullheight-base-block.nocolor.success-block
    .d-flex.jc-center
      = svg("chapeau-edmond")
    %h4 Ma demande a été envoyée !
    %p L'équipe d'experts Edmond va me recontacter sous 24h pour valider ma demande
    .d-flex.jc-center
      = remote_link_to(target: dashboard_compromises_path, dynamic_dom_receiver: "section.content", trackable_url: true) do
        .btn.btn-blue.mx-2 Mes compromis
      = remote_link_to(target: dashboard_management_path, dynamic_dom_receiver: "section.content", trackable_url: true) do
        .btn.btn-blue.mx-2 Ma trésorerie
