%section.show-month-cost
  .row
    - if cost
      .col-12.col-sm-7
        .row
          .col-12
            .cost-show-block
              / %h4
              /   = "#{french_dates[cost.month]} #{cost.year}"
              .d-flex.jc-between.mb-4
                .subtitle Frais fixes
                = remote_link_to(target: edit_dashboard_cost_path(cost), dynamic_dom_receiver: "section.show-month-cost", pattern: "html", trackable_url: false) do
                  .icon-edit-btn
                    = feather_svg("edit-2")

              .d-flex.jc-between.mb-2.pr-50
                %h5 Loyer
                %h5
                  %b
                    = "#{number_with_delimiter(cost.rent, locale: :fr)} €"
              / .d-flex.jc-between.mb-2.pr-50
              /   %h5 Abonnements
              /   %h5
              /     %b
              /       = "#{number_with_delimiter(cost.subscriptions, locale: :fr)} €"
              .d-flex.jc-between.mb-2.pr-50
                %h5 Salaires
                %h5
                  %b
                    = "#{number_with_delimiter(cost.wages, locale: :fr)} €"
              .d-flex.jc-between.mb-2.pr-50
                %h5 Autres frais
                %h5
                  %b
                    = "#{number_with_delimiter(cost.others, locale: :fr)} €"
          .col-12.d-none
            .cost-show-block.mt-4
              .d-flex.jc-between.mb-4
                .subtitle Abonnements
              - if @company.subscriptions?
                .row
                  - @company.subscriptions.each_slice(4) do |sub|
                    .col-6
                      - sub.each do |sub_item|
                        .d-flex.ai-center.jc-between.mb-2
                          %h5
                            = sub_item.name
                          %h5
                            %b
                              = number_with_delimiter(sub_item.amount.to_i, locale: :fr) + " €"
              - else
                .d-flex.ai-center
                  = unicon_svg(name: "info-circle", size: 23, color: "#{application_colors(:lightblue)}")
                  .text-mediumblue.fw-600.ml-2
                    = "Aucun abonnement en cours"



      .col-12.col-sm-5
        .row
          .col-12
            .doughnut-chart-centered-text
              .first.big
                = "#{number_with_delimiter(costs_total, locale: :fr)} €"
              .last.big de charges
            = generate_chart(id: "costs-#{cost.month}", colors: ["rgb(255,229,164)","rgb(255,200,57)","rgb(43,121,172)","rgb(0,162,208)"],chart_type: "doughnut", datas: datas, labels: ["One","two"], height: "250")
          .col-12
            .chart-legend-simple-container
              .chart-legend-simple-container-item
                .chart-legend-simple.rent
                %p
                  = "Loyer"
              .chart-legend-simple-container-item
                .chart-legend-simple.subscriptions
                %p
                  = "Abonnements"
              .chart-legend-simple-container-item
                .chart-legend-simple.wages
                %p
                  = "Salaires"
              .chart-legend-simple-container-item
                .chart-legend-simple.others
                %p
                  = "Autres"
