%section.wizard-users-signup
  %section.form-block.wizard-dynamic-content
    = render "wizard/partials/one_step", user: @user
  %section.reinsurance-block.mobile-hidden
    .reinsurance-card
      .big-brand-inline-logo.mb-3
        = svg("logo-edmond-inline-white")

      %h4.fw-700.text-white
        = "L'unique service d'avance sur honoraires et de pilotage de trésorerie"
      .d-flex.ai-center.jc-start
        .separator.yellow

      .reinsurance-block.f-grow-1.d-flex.ai-center.mb-4.mt-5
        = unicon_svg(name: "briefcase-alt", size: 35, color: "white")
        %h5.text-white.text-center.ml-2
          Pour les professionnels de
          %b l'immobilier

      .reinsurance-block.f-grow-1.d-flex.ai-center.mb-4
        = unicon_svg(name: "euro-circle", size: 35, color: "white")
        %h5.text-white.text-center.ml-2
          Avance sur
          %b honoraires
          d'agence

      .reinsurance-block.f-grow-1.d-flex.ai-center.mb-4
        = unicon_svg(name: "calendar-alt", size: 35, color: "white")
        %h5.text-white.text-center.ml-2
          Visualisation dynamique de la
          %b trésorerie
