.main-content
  %section.section
    .section-body
      = "Company without user in database"
      = @company.inspect
      = @company.compromises.size
      = @company.costs.size
      = @company.subscriptions.size
      = @company.financing_requests.size
