.main-content
  %section.section
    .section-body
      .row
        .col-12
          .card
            .card-header
              %h4 Sociétés
            .card-body.p-0
              .table-responsive
                %table.table.table-striped
                  %tbody
                    %tr
                      %th
                        .custom-checkbox.custom-control
                          %input#checkbox-all.custom-control-input{"data-checkbox-role" => "dad", "data-checkboxes" => "mygroup", :type => "checkbox"}/
                          %label.custom-control-label{:for => "checkbox-all"}  
                      %th Nom
                      %th Type
                      %th Ville
                      %th Status
                      %th Action
                    - @companies.each do |company|
                      %tr
                        %td.p-0.text-center
                          .custom-checkbox.custom-control
                            %input#checkbox-1.custom-control-input{"data-checkboxes" => "mygroup", :type => "checkbox"}/
                            %label.custom-control-label{:for => "checkbox-1"}  
                        %td
                          = company.name
                        %td
                          = company[:juridical_nature]
                          = company.juridical_nature
                        %td
                          = company.city
                        %td
                          .badge.badge-success Completed
                        %td
                          %a.btn.btn-secondary{:href => admin_company_path(company)} Detail
