.main-content
  %section.section
    .section-body
      .row
        - if @company.compromises?
          .col-12.col-md-4
            .card
              .card-header
                %h4 Lieu de signature
              .card-body.no-padding
                .half-card-body
                  .half-item
                    .item-header
                      %h5.txt-danger Notaire
                    .item-body
                      %p
                        = "#{@company.notary_signature[:notary_percent]}%"
                  .half-item.bordered
                    .item-header
                      %h5.txt-danger Agence
                    .item-body
                      %p
                        = "#{@company.notary_signature[:agency_percent]}%"


          .col-12.col-md-4
            .card
              .card-header
                %h4 Conditions suspensives
              .card-body.no-padding
                .half-card-body
                  .half-item
                    .item-header
                      %h5.txt-primary Avec
                    .item-body
                      %p
                        = "#{@company.compromises_funding[:positives]}"
                  .half-item.bordered
                    .item-header
                      %h5.txt-primary Sans
                    .item-body
                      %p
                        = "#{@company.compromises_funding[:negatives]}"


          .col-12.col-md-4
            .card
              .card-header
                %h4 Types de contrat
              .card-body.no-padding
                .half-card-body
                  .half-item
                    .item-header
                      %h5.txt-success Compromis
                    .item-body
                      %p
                        = "#{@company.compromises_contract_types[:compromises]}"
                  .half-item.bordered
                    .item-header
                      %h5.txt-success Promesses
                    .item-body
                      %p
                        = "#{@company.compromises_contract_types[:promises]}"

          .col-12.col-md-6
            .card
              .card-header
                %h4 Objets des compromis
              .card-body.no-padding
                .half-card-body
                  .half-item
                    .item-header
                      %h5.txt-warning Maisons
                    .item-body
                      %p
                        = "#{@company.compromises_object[:houses]}"
                  .half-item.bordered
                    .item-header
                      %h5.txt-warning Appartements
                    .item-body
                      %p
                        = "#{@company.compromises_object[:flats]}"
                  .half-item.bordered
                    .item-header
                      %h5.txt-warning Terrains
                    .item-body
                      %p
                        = "#{@company.compromises_object[:terrains]}"



        .col-12.col-md-6
          .card.card-hero.d-none
            .card-header.primary
              .generic-flex
                %h6.mb-0
                  = @company.name
                .fs-08.fw-500.ml-2
                  = @company.juridical_nature
              .card-description.fw-600.fs-09
                = @company.full_address
            .card-body.p-0
              .tickets-list
                %a.ticket-item{:href => "#"}
                  .ticket-title
                    %h4 My order hasn't arrived yet
                  .ticket-info
                    %div Laila Tazkiah
                    .bullet
                    .text-primary 1 min ago
                %a.ticket-item{:href => "#"}
                  .ticket-title
                    %h4 Please cancel my order
                  .ticket-info
                    %div Rizal Fakhri
                    .bullet
                    %div 2 hours ago
                %a.ticket-item{:href => "#"}
                  .ticket-title
                    %h4 Do you see my mother?
                  .ticket-info
                    %div Syahdan Ubaidillah
                    .bullet
                    %div 6 hours ago
                %a.ticket-item.ticket-more{:href => "features-tickets.html"}
                  View All
                  %i.fas.fa-chevron-right
                - if @company.activity_start_date
                  %a.ticket-item
                    %span Ancienneté société
                    = "#{((Date.today - @company.activity_start_date).to_f / 365.0).round(2)} Années"


      .row
        .col-12.col-md-4
          .card
            .card-header
              %h4 Scoring
            .card-body
              - @scoring.each do |score_hash|
                .mb-4
                  .progress-texts
                    .float-right.font-weight-bold
                      = "#{score_hash[:score]} / 5"
                    .font-weight-bold.mb-1
                      = score_hash[:name]
                  .progress{"data-height" => "4", :style => "height: 4px;"}
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", "data-width" => "#{score_hash[:width]}%", :role => "progressbar", :style => "width: #{score_hash[:width]}%;", class: score_hash[:class]}

        - if @company.user.user_scoring? && @company.user.user_scoring.valid_scoring?
          .col-12.col-md-4
            .card
              .card-header
                %h4 Database scoring params
              .card-body.no-padding
                .instance-full-field
                  .instance-label Incident
                  .instance-value
                    = @company.user.user_scoring.incident
                .instance-full-field
                  .instance-label Fonds propres
                  .instance-value
                    = @company.user.user_scoring.funds
                .instance-full-field
                  .instance-label Résultat N-1
                  .instance-value
                    = @company.user.user_scoring.n_minus_one_result
                .instance-full-field
                  .instance-label Résultat N-2
                  .instance-value
                    = @company.user.user_scoring.n_minus_two_result
                .instance-full-field
                  .instance-label Trésorerie
                  .instance-value
                    = @company.user.user_scoring.treasury
                .instance-full-field
                  .instance-label Incident trésorerie
                  .instance-value
                    = @company.user.user_scoring.treasury_incident
                .instance-full-field
                  .instance-label Activité (CA)
                  .instance-value
                    = @company.user.user_scoring.activity_turnover_evolution
                .instance-full-field
                  .instance-label Activité (Transactions)
                  .instance-value
                    = @company.user.user_scoring.activity_transaction_evolution
                .instance-full-field
                  .instance-label Déjà client
                  .instance-value
                    = @company.user.user_scoring.already_customer
                .instance-full-field
                  .instance-label Site web
                  .instance-value
                    = @company.user.user_scoring.have_website
                .instance-full-field
                  .instance-label Enseigne
                  .instance-value
                    = @company.user.user_scoring.sign
                .instance-full-field
                  .instance-label Réseaux sociaux
                  .instance-value
                    = @company.user.user_scoring.active_on_social_networks
                .instance-full-field
                  .instance-label Tendance marché à 12 mois
                  .instance-value
                    = @company.user.user_scoring.one_year_market_trend
                .instance-full-field
                  .instance-label Indice confiance marché
                  .instance-value
                    = @company.user.user_scoring.market_confidence_index



        .col-12.col-md-8
          .card
            .card-header
              %h4 Paramètres scoring
            .card-body.no-padding
              - if @company.user.user_scoring?
                = simple_form_for [:admin,@company.user.user_scoring] do |f|
                  .row
                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Incident
                        .form-group.custom.radios-classic
                          = f.input :incident, as: :radio_buttons, collection: [[0,"5 dernières années"],[1,"Entre 5 et 10 dernières années"],[2,"+ de 10 ans"],[3,"Pas d'incident"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:incident] if @company.user.user_scoring[:incident]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Fonds propres
                        .form-group.custom.radios-classic
                          = f.input :funds, as: :radio_buttons, collection: [[0,"< 0 €"],[1,"> 0 €"],[2,"> 25% du bilan"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:funds] if @company.user.user_scoring[:funds]}"


                    .col-12.col-md-12
                      .field-item.flex
                        .half-size
                          .form-group.custom.mb-3
                            %label.label-custom.mb-0 Résultat N-1
                          .form-group.custom.radios-classic
                            = f.input :n_minus_one_result, as: :radio_buttons, collection: [[0,"< 0 €"],[1,"> 0 €"],[2,"> 5% du CA"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:n_minus_one_result] if @company.user.user_scoring[:n_minus_one_result]}"

                        .half-size.bordered
                          .form-group.custom.mb-3
                            %label.label-custom.mb-0 Résultat N-2
                          .form-group.custom.radios-classic
                            = f.input :n_minus_two_result, as: :radio_buttons, collection: [[0,"< 0 €"],[1,"> 0 €"],[2,"> 5% du CA"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:n_minus_two_result] if @company.user.user_scoring[:n_minus_two_result]}"


                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Trésorerie
                        .form-group.custom.radios-classic
                          = f.input :treasury, as: :radio_buttons, collection: [[0,"- 3 mois"],[1,"+ 3 mois"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:treasury] if @company.user.user_scoring[:treasury]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Incident Trésorerie
                        .form-group.custom.radios-classic
                          = f.input :treasury_incident, as: :radio_buttons, collection: [[0,"Incident < 0"],[1,"Incident > 0"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:treasury_incident] if @company.user.user_scoring[:treasury_incident]}"


                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Evolution de l'activité (CA)
                        .form-group.custom.radios-classic
                          = f.input :activity_turnover_evolution, as: :radio_buttons, collection: [[0,"Repli + 5%"],[1,"Repli - 5%"],[2,"ISO"],[3,"Prog + 5%"],[4,"Prog - 5%"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:activity_turnover_evolution] if @company.user.user_scoring[:activity_turnover_evolution]}"


                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Evolution de l'activité (Transactions)
                        .form-group.custom.radios-classic
                          = f.input :activity_transaction_evolution, as: :radio_buttons, collection: [[0,"Repli + 5%"],[1,"Repli - 5%"],[2,"ISO"],[3,"Prog + 5%"],[4,"Prog - 5%"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:activity_transaction_evolution] if @company.user.user_scoring[:activity_transaction_evolution]}"


                    .col-12.col-md-12
                      .field-item.flex
                        .half-size
                          .form-group.custom.mb-3
                            %label.label-custom.mb-0 Déjà client
                          .form-group.custom.radios-boolean
                            = f.input :already_customer, as: :radio_buttons, collection: [[0,"Oui"],[1,"Non"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:already_customer] if @company.user.user_scoring[:already_customer]}"

                        .half-size.bordered
                          .form-group.custom.mb-3
                            %label.label-custom.mb-0 Site internet
                          .form-group.custom.radios-boolean
                            = f.input :have_website, as: :radio_buttons, collection: [[0,"Oui"],[1,"Non"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:have_website] if @company.user.user_scoring[:have_website]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Enseigne
                        .form-group.custom.radios-classic
                          = f.input :sign, as: :radio_buttons, collection: [[0,"Franchisé"],[1,"Adhérent"],[2,"Mandataire"],[3,"Non"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:sign] if @company.user.user_scoring[:sign]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-1 Actif sur les réseaux sociaux
                        .form-group.custom.radios-classic
                          = f.input :active_on_social_networks, as: :radio_buttons, collection: [[0,"Peu d'activité"],[1,"Peu actif"],[2,"Actif"],[3,"Très actif"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:active_on_social_networks] if @company.user.user_scoring[:active_on_social_networks]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-1 Tendance du marché à 12 mois
                        .form-group.custom.radios-classic
                          = f.input :one_year_market_trend, as: :radio_buttons, collection: [[0,"Excellente"],[1,"Bonne"],[2,"Moyenne"],[3,"Mauvaise"],[4,"Très mauvaise"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:one_year_market_trend] if @company.user.user_scoring[:one_year_market_trend]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-1 Indice de confiance marché
                        .form-group.custom.radios-classic
                          = f.input :market_confidence_index, as: :radio_buttons, collection: [[0,"1"],[1,"2"],[2,"3"],[3,"4"],[4,"5"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:market_confidence_index] if @company.user.user_scoring[:market_confidence_index]}"


                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-1 Taux d'échec des compromis
                        .form-group.custom.radios-classic
                          = f.input :compromises_failure_rate, as: :radio_buttons, collection: [[0,"- de 1%"],[1,"De 1% à 3%"],[2,"De 3% à 5%"],[3,"De 5% à 10%"],[4,"+ de 10%"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@company.user.user_scoring[:compromises_failure_rate] if @company.user.user_scoring[:compromises_failure_rate]}"


                  .field-item.no-border
                    = f.submit "Sauvegarder", class: "btn btn-primary"


        .col-12.col-md-6
          - if @company.compromises?
            .card
              .card-header
                %h4 Compromis
              .card-body
                .summary
                  .summary-item
                    %ul.list-unstyled.list-unstyled-border
                      - @company.compromises.each do |comp|
                        %li.media
                          = link_to admin_compromise_path(comp) do
                            %h4 Link
                            .feather-container.mr-3
                              = feather_svg("user")
                          .media-body
                            .media-right
                              = number_with_delimiter(comp.fees.to_i, locale: :fr) + " €"
                            .media-title
                              %a{:href => "#"}
                                = comp.seller_lastname
                            .text-small.text-muted
                              by
                              %a{:href => "#"}
                                = "#{@company.user.firstname} #{@company.user.lastname}"
                              .bullet
                              = "Le #{l(comp.created_at, format: :french)}"
          - else
            = render "admin/shared/partials/empty_resource", resource: "compromis"

        .col-12.col-md-6
          - if @activity.values.compact.empty?
            = render "admin/shared/partials/empty_resource", resource: "Activité récente"
          - else
            .card
              .card-header
                %h4 Activité récente
              .card-body.no-padding
                %ul.list-unstyled.list-unstyled-border
                  - @activity.each do |key,value|
                    - if key == :compromise && value
                      = link_to admin_start_path, class: "unstyle-link" do
                        %li.media
                          .media-body
                            .media-title.generic-flex.jc-between
                              .generic-flex
                                .feather-rounded-container.medium-container.gray-stroke.mr-2
                                  = feather_svg("dollar-sign")
                                .fw-700 Compromis
                              .text-primary.fw-700.fs-08
                                = distance_of_time_in_words(value.created_at, Date.today)
                    - elsif key == :cost && value
                      = link_to admin_start_path, class: "unstyle-link" do
                        %li.media
                          .media-body
                            .media-title.generic-flex.jc-between
                              .generic-flex
                                .feather-rounded-container.medium-container.green-stroke.mr-2
                                  = feather_svg("dollar-sign")
                                .fw-700 Charge
                              .text-primary.fw-700.fs-08
                                = distance_of_time_in_words(value.created_at, Date.today)
                    - elsif key == :subscription && value
                      = link_to admin_start_path, class: "unstyle-link" do
                        %li.media
                          .media-body
                            .media-title.generic-flex.jc-between
                              .generic-flex
                                .feather-rounded-container.medium-container.red-stroke.mr-2
                                  = feather_svg("dollar-sign")
                                .fw-700 Abonnement
                              .text-primary.fw-700.fs-08
                                = distance_of_time_in_words(value.created_at, Date.today)
                            %span.text-small.text-muted.fw-600.fs-08
                    - elsif key == :financing_request && value
                      = link_to admin_financing_request_path(value), class: "unstyle-link" do
                        %li.media
                          .media-body
                            .media-title.generic-flex.jc-between
                              .generic-flex
                                .feather-rounded-container.medium-container.blue-stroke.mr-2
                                  = feather_svg("dollar-sign")
                                .fw-700 Financement
                              .text-primary.fw-700.fs-08
                                = distance_of_time_in_words(value.created_at, Date.today)
                            %span.text-small.text-muted.fw-600.fs-08

              .text-center.custom-card-footer
                %a.btn.btn-primary.btn-round{:href => "#"}
                  Tout voir

        .col-12.col-md-6
          .card
            .card-header
              %h4 Scoring
            .card-body
              - @scoring.each do |score_hash|
                .mb-4
                  .progress-texts
                    .float-right.font-weight-bold
                      = "#{score_hash[:score]} / 5"
                    .font-weight-bold.mb-1
                      = score_hash[:name]
                  .progress{"data-height" => "4", :style => "height: 4px;"}
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "25", "data-width" => "#{score_hash[:width]}%", :role => "progressbar", :style => "width: #{score_hash[:width]}%;", class: score_hash[:class]}

        .col-12.col-md-6
          .card
            .card-header
              %h4 Abonnements
            .card-body
              %ul.list-unstyled.user-details.list-unstyled-border.list-unstyled-noborder
                %li.media
                  %img.mr-3.rounded-circle{:alt => "image", :src => "assets/img/avatar/avatar-1.png", :width => "50"}/
                  .media-body
                    .media-title Rizal Fakhri
                    .text-job.text-muted Web Developer
                  .media-items
                    .media-item
                      .media-value 1,239
                      .media-label Posts
                    .media-item
                      .media-value 10K
                      .media-label Followers
                    .media-item
                      .media-value 2,312
                      .media-label Following
                %li.media
                  %img.mr-3.rounded-circle{:alt => "image", :src => "assets/img/avatar/avatar-5.png", :width => "50"}/
                  .media-body
                    .media-title Irwansyah Saputra
                    .text-job.text-muted Web Developer
                  .media-items
                    .media-item
                      .media-value 4,872
                      .media-label Posts
                    .media-item
                      .media-value 43K
                      .media-label Followers
                    .media-item
                      .media-value 1,290
                      .media-label Following
                %li.media
                  %img.mr-3.rounded-circle{:alt => "image", :src => "assets/img/avatar/avatar-4.png", :width => "50"}/
                  .media-body
                    .media-title Hasan Basri
                    .text-job.text-muted Web Developer
                  .media-items
                    .media-item
                      .media-value 1,821
                      .media-label Posts
                    .media-item
                      .media-value 14K
                      .media-label Followers
                    .media-item
                      .media-value 2,891
                      .media-label Following
