= simple_form_for [:dashboard, @company], html: {"data-remote-form": "true", "data-dynamic-receiver": "section.content"} do |f|
  = f.input :name, label: "Raison sociale", placeholder: "Raison sociale", input_html: {class: "custom-form-control"}
  = f.input :trade_name, label: "Nom commercial", placeholder: "Nom commercial", input_html: {class: "custom-form-control"}

  / = f.input :company_type, collection: CompanyType.lists, boolean_style: :inline, label: false, label_method: :last, value_method: :first, prompt: "Forme juridique", selected: @company[:company_type].to_i, input_html: {class: "custom-form-control"}


  / = f.input :company_type, label: false, placeholder: "Raison sociale", input_html: {class: "custom-form-control"}
  = f.input :city, label: "Ville", placeholder: "Ville", input_html: {class: "custom-form-control"}
  = f.input :siren, label: "Siren", placeholder: "Siren", input_html: {class: "custom-form-control"}
  .d-flex.jc-center
    = f.submit "Modifier", class: "btn btn-blue"
