= render "dashboard/shared/current_path"
.fadein
  = render "dashboard/shared/account_menu", title: "Ma société"
  %section.companies
    .row
      .col-12.col-md-6
        .base-block.noheight
          .top-item
            %h5 Les infos clés
            = remote_link_to(target: edit_dashboard_company_path(@company), nested: true, pattern: "html",dynamic_dom_receiver: ".bottom-item.company-edit", trackable_url: false) do
              .icon-edit-btn
                = feather_svg("settings")
          .bottom-item.company-edit
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Forme juridique
              %b
                = @company.juridical_nature
            .d-flex.jc-between
              %p.fw-400.text-mediumblue SIREN
              %b
                - if @company.siren
                  = @company.siren
                - else
                  .small
                    = "Non renseigné"
            .d-flex.jc-between
              %p.fw-400.text-mediumblue SIRET
              %b
                - if @company.siret
                  = @company.siret
                - else
                  .small
                    = "Non renseigné"
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Ville
              %b
                = @company.city if @company.city
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Raison sociale
              %b
                = @company.name
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Nom commercial
              %b
                - if @company.trade_name && @company.trade_name != "null"
                  = @company.trade_name
                - else
                  = "Vide"
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Adresse
              %b
                = @company.full_address

      .col-12.col-md-6
        .base-block.noheight
          .top-item
            %h5 Mes coordonnées
            = remote_link_to(target: edit_dashboard_user_path(current_user), nested: true, pattern: "html",dynamic_dom_receiver: ".bottom-item.user-edit", trackable_url: false) do
              .icon-edit-btn
                = feather_svg("settings")
          .bottom-item.user-edit
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Nom du dirigeant
              %b
                = "#{current_user.lastname} #{current_user.firstname}"
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Mail contact
              %b
                = current_user.email
            .d-flex.jc-between
              %p.fw-400.text-mediumblue Téléphone
              %b
                = current_user.phone

