.main-content
  %section.section
    .section-body
      .row
        .col-12
          .card
            .card-header
              %h4 Demandes de financement
            .card-body.p-0
              .table-responsive
                %table#sortable-table.table.table-striped
                  %thead
                    %tr
                      %th Nom agence
                      %th Montant
                      %th Compromis
                      %th Date
                      %th Status
                      %th Action
                  %tbody.ui-sortable
                    - @financing_requests.sort_by{|req| req.created_at}.reverse.each do |fr|
                      %tr
                        %td
                          .table-name
                            = fr.company.name
                        %td
                          .table-amount
                            = number_with_delimiter(fr.total_transactions_amount, locale: :fr) + " €"
                        %td
                          .table-amount.text-danger
                            = fr.pending_transactions_count
                        %td
                          .table-date
                            = l(fr.created_at, format: :human)
                        %td
                          - if fr[:status] == 0
                            .badge.badge-warning
                              = fr.status
                          - elsif fr[:status] == 1
                            .badge.badge-success
                              = fr.status
                          - elsif fr[:status] == 2
                            .badge.badge-danger
                              = fr.status
                        %td
                          = link_to admin_financing_request_path(fr) do
                            .btn.btn-dark.btn-sm Détails


        .col-12.col-md-6.d-none
          .card
            .card-header
              %h4 En cours
            .card-body
              .summary
                .summary-item
                  %ul.list-unstyled.list-unstyled-border
                    - @financing_requests.each do |fr|
                      %li.media
                        %a{:href => "#"}
                          .feather-container.mr-3
                            = feather_svg("briefcase")
                        .media-body
                          .media-right
                            = number_with_delimiter(fr.total_transactions_amount, locale: :fr) + " €"
                          .media-title
                            %a{:href => "#"}
                              = fr.company.name
                          .text-small.text-muted
                            by
                            %a.fw-600{href: admin_user_path(fr.company.user)}
                              = "#{fr.company.user.email}"
                            = l(fr.created_at, format: :french)

