.main-content
  %section.section
    .section-body
      .row
        .col-12.col-md-6
          .card
            .card-header
              %h4 Mongoid instance
            .card-body
              = @financing_request.inspect

        .col-12.col-md-6
          .card
            .card-header
              %h4 Demande de financement
            .card-body
              = simple_form_for [:admin,@financing_request] do |f|
                .row
                  .col-12.col-md-12
                    .field-item
                      .form-group.custom.mb-3
                        %label.label-custom.mb-0 Statut
                      .form-group.custom.radios-classic
                        = f.input :status, as: :radio_buttons, collection: [[0,"En attente"],[1,"Traitée"],[2,"Annulée"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@financing_request[:status] if @financing_request[:status]}"
                  .col-12.col-md-12
                    = f.submit "Mettre à jour", class: "btn btn-primary"
