.top-item
  %h5 La question du mois
.bottom-item.poll
  %p
    = poll.question
  .d-flex.jc-between
    - poll.percent_calculate.each do |response|
      %a.poll-btn
        = svg("poll-#{response.first}")
        %p{class: "#{response.first}"}
          = "#{response.last} %"
    .abs-small.d-none
      = "#{poll.total} réponses"
