$fixed-menu-width: 60px;
$account-menu-height: 60px;
$circle-radius: 120px;

section.dashboard {
  display: flex;
  min-height: 100vh;
  section.mobile-menu-content {
    position: fixed;
    height: 100vh;
    width: 60%;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 100000000;
    .mobile-menu-closer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg {
        width: 40px;
        height: 40px;
        stroke: white;
      }
    }
    .menu-item {
      display: flex;
      align-items: center;
      color: white;
      margin-bottom: 20px;
      h5 {
        font-size: 1.1rem;
        margin-left: 10px;
      }
      svg {
        width: 18px;
        height: 18px;
      }
      &.active {
        h5 {
          font-weight: 700;
        }
      }
    }
  }
  section.mobile-menu-trigger {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    padding: 10px 10px;
    z-index: 1000000;
    .round-svg {
      width: 37px;
      height: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $light-blue;
      svg {
        width: 55%;
        height: 55%;
        stroke: white;
      }
    }
  }
  section.fixed-menu {
    width: $fixed-menu-width;
    background-color: $dark-blue;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 500000;
    .signout-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70px;
      cursor: pointer;
      svg {
        stroke: white;
        stroke-width: 2;
        &.unicon-svg {
          stroke-width: unset;
          stroke: none;
        }
      }
      h6 {
        font-size: 0.6rem;
        font-weight: 500;
        color: white;
        margin-top: 6px;
        user-select: none;
      }
    }
    a {
      display: flex;
    }
    a:hover {
      .menu-item {
        background-color: lighten($dark-blue,10%);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        svg {
          opacity: 1;
          stroke: white;
          stroke-width: 2;
          &.unicon-svg {
            stroke-width: unset;
            stroke: none;
          }
        }
        h5 {
          display: flex;
        }
      }
    }
    .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      cursor: pointer;
      transition: 0.1s;
      box-sizing: content-box;
      padding-left: 18px;
      h5 {
        display: none;
        font-size: 1rem;
        color: white;
        margin: 0 30px;
        white-space: nowrap;
      }
      svg {
        height: 30px;
        opacity: 0.4;
        stroke: white;
        stroke-width: 2;
        &.unicon-svg {
          stroke-width: unset;
          stroke: none;
        }
      }
      &.active {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 4px;
          background-color: $yellow;
          top: 0;
          left: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
        svg {
          height: 30px;
          opacity: 1;
          stroke: white;
          stroke-width: 2;
          &.unicon-svg {
            stroke-width: unset;
            stroke: none;
          }
        }
      }
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      svg {
        width: 65%;
      }
    }
  }
  section.content {
    width: calc(100% - #{$fixed-menu-width});
    background-color: $bck-gray;
    padding: 40px;
    min-height: 100%;
  }
}


section.account-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $account-menu-height;
  margin-bottom: 20px;
  h3 {
    font-weight: 700;
    color: $light-blue;
  }
  .account-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: darken($bck-gray,5%);
    }
    .agent-mail {
      font-weight: 700;
      margin: 0 10px;
      color: $dark-blue;
      user-select: none;
    }
  }
  .dropdown-menu {
    width: 100%;
    top: 5px !important;
    border: none;
    padding: 10px 0;
    a {
      text-decoration: none;
    }
    .dropdown-item {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      font-size: 0.9rem;
      font-weight: 500;
      color: $dark-blue;
      &:hover {
        color: $light-blue;
        background-color: transparent;
      }
      svg {
        height: 16px;
      }
    }
  }
}

section.square-navigation {
  height: calc(100% - #{$account-menu-height});
  padding: 100px 250px;
  position: relative;
  a {
    text-decoration: none;
  }
  .square-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.2s;
    h3 {
      margin-bottom: 10px;
    }
    &:hover {
      opacity: 0.6;
    }
    svg {
      height: 40px;
      width: 40px;
      stroke-width: 1;
    }
  }
  .centered-circle {
    width: $circle-radius;
    height: $circle-radius;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: calc(50% - #{$circle-radius}/2);
    top: calc(50% - #{$circle-radius}/2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 45%;
    }
  }
  .top-block {
    display: flex;
    height: 50%;
    a {
      width: 50%;
      height: 100%;
      &:first-child {
        .square-item {
          background-color: $light-blue;
          border-top-left-radius: 5px;
        }
      }
      &:last-child {
        .square-item {
          background-color: lighten($light-blue,20%);
          border-top-right-radius: 5px;
        }
      }
    }
  }
  .bottom-block {
    display: flex;
    height: 50%;
    a {
      width: 50%;
      height: 100%;
      &:first-child {
        .square-item {
          background-color: darken($light-blue,10%);
          border-bottom-left-radius: 5px;
        }
      }
      &:last-child {
        .square-item {
          background-color: darken($light-blue,20%);
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}

section.loading-section {
  width: 100%;
  min-height: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 50000;
  h5 {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(140,140,150);
  }
  svg {
    width: 60px;
  }
}

.referer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $yellow;
  transition: 0.3s;
  &:hover {
    color: lighten($yellow,10%);
  }
  svg {
    width: 15px;
    height: 15px;
    stroke-width: 3;
  }
  .referer-title {
    font-weight: 700;
    margin-left: 6px;
    user-select: none;
  }
}


section.management {
  background-color: white;
  border-radius: 5px;
}

section.progress-bar-container {
  position: fixed;
  bottom: 20%;
  right: 0;
  width: calc(100% - #{$fixed-menu-width});
  padding: 50px 40%;
  .progress {
    border-radius: 20px;
    height: 10px;
    .progress-bar {
      transition: 0.4s;
      font-weight: 700;
      font-size: 0.5rem;
    }
  }
}

section.compromise-new-form {
  height: 100%;
  padding: 50px;
  &.smaller {
    padding: 50px 20%;
  }
  form {
    height: 100%;
    display: flex;
    padding: 40px;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    .input.field_with_errors {
      position: relative;
      span.error {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        right: 10px;
        font-size: 0.9rem;
        font-weight: 600;
        color: tomato;
      }
    }
    .form-control {
      height: 50px;
      border: none;
      background-color: $bck-gray;
      margin-bottom: 15px;
      font-weight: 600;
      &::placeholder {
        font-weight: 600;
      }
    }
    .top-block {
      h4 {
        text-align: center;
        font-weight: 700;
        color: $light-blue;
      }
    }
    .middle-block {
      flex: 1;
      margin: 20px 0;
    }
    .bottom-block {
    }
  }
}

.abs-small {
  position: absolute;
  font-size: 0.7rem;
  font-weight: 600;
  bottom: -10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


section.empty-resource {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h5 {
    font-weight: 700;
    color: darken($light-blue,15%);
    margin-bottom: 30px;
  }
}

section.relative-empty-resource {
  height: 100%;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h5 {
    font-weight: 700;
    color: darken($light-blue,15%);
    margin-bottom: 30px;
  }
}


section.stripe-subscription-success {
  height: 100%;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    font-weight: 700;
    color: $light-blue;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 30px;
    color: $dark-blue;
    font-weight: 500;
  }
}


section.month_costs {
  padding: 20px;
}


@media (max-width: 768px) {
  section.dashboard {
    section.content {
      width: 100%;
      padding: 20px;
    }
  }
}

@media (max-width: 768px) {
  section.compromise-new-form {
    padding: 0;
    form.new_compromise {
      padding: 20px;
    }
  }
}


