section.not-found-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    width: 50%;
    svg {
      width: 90px;
      height: 90px;
    }
  }
}

@media(max-width: 768px) {
  section.not-found-page {
    .content {
      width: unset;
    }
  }
}
