form.new_user_question {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .form-control {
    height: 45px;
    border: none;
    background-color: $bck-gray;
    &:first-child {
      margin-bottom: 15px;
    }
  }
  input[type="text"]::placeholder {
    font-weight: 600;
  }
  .input.field_with_errors {
    position: relative;
    span.error {
      position: absolute;
      height: calc(100% - 15px);
      top: 0;
      right: 10px;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 0.9rem;
      color: tomato;
    }
  }
  .input.user_question_message {
    flex: 1;
    margin-bottom: 15px;
    textarea {
      height: 100%;
      &::placeholder {
        font-weight: 600;
      }
    }
  }
}

section.user-question-success {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  svg {
    width: 40px;
    height: 40px;
    stroke: $green;
  }
  h4.success {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: $green;
  }
}



