section.subs-categories {
  display: flex;
  height: calc(100vh - 220px);
  .subs-items-dynamic-content {
    height: 100%;
    padding: 25px;
  }
  .subs-dynamic-content {
    .subs-items-nav {
      display: flex;
      flex-direction: column;
      border-right: 2px solid $bck-gray;
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        width: 100%;
        background-color: darken($bck-gray,10%);
        border-radius: 20px;
      }
      a {
        height: 57.5px;
        .subs-items-item {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 25px;
          transition: 0.3s;
          &.active {
            background-color: rgb(245,245,250);
            p {
              color: $light-blue;
            }
          }
          p {
            color: $dark-blue;
            font-weight: 600;
          }
          &:hover {
            background-color: rgb(245,245,250);
            p {
              color: $light-blue;
            }
          }
          &.active-sub {
            p {
              color: $light-blue;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .subs-categories-nav {
    display: flex;
    flex-direction: column;
    border-right: 2px solid $bck-gray;
    height: 100%;
    a {
      flex-grow: 1;
    }
    .subs-nav-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      border-bottom: 1px solid $bck-gray;
      padding-left: 25px;
      position: relative;
      p {
        color: darken($bck-gray,30%);
        font-weight: 700;
      }
      .small {
        color: $light-blue;
        font-weight: 600;
      }
      .svg-container {
        display: none;
        height: 100%;
      }
      &.active {
        background-color: $smooth-blue;
        p {
          color: white;
        }
        .small {
          color: white;
        }
        .svg-container {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 40px;
          svg {
            width: 50%;
            height: 50%;
            stroke: white;
            stroke-width: 3;
          }
        }
      }
    }
  }
}

section.new-subscription-form {
  padding: 25px 20%;
  .form-control {
    height: 50px;
    border: none;
    background-color: $bck-gray;
    margin-bottom: 15px;
    position: relative;
  }
  .input {
    position: relative;
  }
  .input.field_with_errors {
    span.error {
      position: absolute;
      right: 12px;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      color: tomato;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  .custom-user-radiobuttons {
    margin-top: 0;
    margin-bottom: 15px;
    .input.radio_buttons {
      padding: 0;
    }
  }
}








// #card-element {
//   height: 40px;
//   padding: 10px 12px;
//   width: 100%;
//   color: #32325d;
//   background-color: white;
//   border: 1px solid transparent;
//   border-radius: 4px;

//   box-shadow: 0 1px 3px 0 #e6ebf1;
//   -webkit-transition: box-shadow 150ms ease;
//   transition: box-shadow 150ms ease;
// }

// #card-element--focus {
//   box-shadow: 0 1px 3px 0 #cfd7df;
// }

// #card-element--invalid {
//   border-color: #fa755a;
// }

// #card-element--webkit-autofill {
//   background-color: #fefde5 !important;
// }


