section.subscription-renew {
  section.subscription-content {
    padding: 40px 25%;
  }
  form {
    input.form-control {
      height: 50px;
      margin-bottom: 15px;
      border: none;
      background-color: $bck-gray;
    }
  }
}
