section.sub-show {
  section.contextual-header {
    height: 10vh;
  }
  .sub-show-block {
    border-radius: 4px;
    background-color: white;
    height: 35vh;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    .small-btn-label {
      font-weight: 600;
      font-size: 0.8rem;
      color: lighten($dark-blue,6%);
      margin-top: 5px;
    }
    .title {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
    &.top {
      height: 25vh;
    }
    &.bottom {
      height: 45vh;
    }
    &.unset {
      height: unset;
    }
  }
}

.sub-stat-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: lighten($dark-blue,5%);
  }
  .small {
    font-size: 0.8rem;
    font-weight: 600;
    color: lighten($dark-blue,6%);
  }
}
