%section.edmond-user-signin-section
  %section.left-block
    .svg
      = svg("logo-edmond-inline")
    .form-wrapper
      %h5 Changer votre mot de passe
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: "new_user_password"}) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        .form-inputs
          .custom-user-signin-field
            = feather_svg("lock")
            = f.input :password, label: false, placeholder: "Nouveau mot de passe", required: true, autofocus: true, input_html: { autocomplete: "new-password" }
          .custom-user-signin-field
            = feather_svg("lock")
            = f.input :password_confirmation, label: false, placeholder: "Confirmez votre mot de passe", required: true, input_html: { autocomplete: "new-password" }

        .d-flex.justify-content-center.align-items-center
          = f.button :submit, "Changer mon mot de passe", class: "btn btn-blue"


