%section.edmond-user-signin-section
  %section.left-block
    .svg
      = svg("logo-edmond-inline")
    .form-wrapper
      %h5 Mot de passe oublié ?
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: "new_user_password"}) do |f|
        = f.error_notification
        .form-inputs
          .custom-user-signin-field
            = feather_svg("mail")
            = f.input :email, label: false, placeholder: "Email", required: true, autofocus: true, input_html: {autocomlete: "email"}

        .d-flex.justify-content-center.align-items-center.my-4
          %p.text-center.fw-600.text-lightblue En cliquant sur ce bouton vous recevrez un mail pour réinitialiser votre mot de passe

        .d-flex.justify-content-center.align-items-center
          = f.button :submit, "Réinitialiser mon mot de passe", class: "btn btn-blue"


