.edmond-simulation-widget
  .header
    %h5 Simulation
  .content
    %p.range-slider__label.d-none Durée de l'avance
    .widget-radio.mb-20.d-none
      %input#001{type: "radio", name: "days", value: "15"}
      %label{for: "001"} 15 jours
      %input#002{type: "radio", name: "days", value: "30"}
      %label{for: "002"} 30 jours
      %input#003{type: "radio", name: "days", value: "45"}
      %label{for: "003"} 45 jours
      %input#004{type: "radio", name: "days", value: "60"}
      %label{for: "004"} 60 jours
      %input#005{type: "radio", name: "days", value: "75"}
      %label{for: "005"} 75 jours
      %input#006{type: "radio", name: "days", value: "90"}
      %label{for: "006"} 90 jours
      %input#007{type: "radio", name: "days", value: "105"}
      %label{for: "007"} 105 jours
      %input#008{type: "radio", name: "days", value: "120"}
      %label{for: "008"} 120 jours


    %p.range-slider__label.mb-20 Durée de l'avance
    .range-slider.mb-20
      %input.range-slider__range{max: "120", min: "0", step: "15", type: "range", value: "0", "data-resource-action": "days"}
      %span.range-slider__value 0
      .range-tickmarks
        .range-tick
          .range-tick-value 0 j
        .range-tick
        .range-tick
        .range-tick
        .range-tick
          .range-tick-value 60 j
        .range-tick
        .range-tick
        .range-tick
        .range-tick
          .range-tick-value 120 j


    %p.range-slider__label Montant souhaité
    .range-slider.mb-20
      %input.range-slider__range{max: "300000", min: "0", step: "5000", type: "range", value: "0", "data-resource-action": "total"}
      %span.range-slider__value 0


    %p.range-slider__label Nombre de compromis concernés
    .range-slider
      %input.range-slider__range{max: "100", min: "0", step: "5", type: "range", value: "0", "data-resource-action": "count"}
      %span.range-slider__value 0
  .calculation-result.d-none


:sass
  .widget-radio
    display: flex;
    align-items: center;
    justify-content: space-between;
    label
      cursor: pointer;
      margin-bottom: 0;
    input
      display: none;
    input:checked + label
      color: red;
  .edmond-simulation-widget
    .calculation-result
      border-top: 1px solid #f0f0f2;
      padding: 10px 20px;
      width: 100%;
      display: flex;
      align-items: center;
    .header
      width: 100%;
      padding: 14px;
      border-bottom: 1px solid rgb(240,240,242);
    position: fixed;
    font-family: -apple-system,BlinkMacSystemFont,Cerebri Sans,Helvetica,Arial,sans-serif !important;
    -webkit-font-smoothing: antialiased;
    bottom: 50px;
    right: 50px;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .content
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 20px;
    h1,h2,h3,h4,h5,p
      font-family: -apple-system,BlinkMacSystemFont,Cerebri Sans,Helvetica,Arial,sans-serif !important;
      margin: 0;
      padding: 0;


:sass
  $shade-10: #2c3e50 !default;
  $shade-1: #d7dcdf !default;
  $shade-0: #fff !default;
  $teal: tomato !default;

  $range-width: 100% !default;
  $range-handle-color: black !default;
  $range-handle-color-hover: $teal !default;
  $range-handle-size: 15px !default;
  $range-track-color: $shade-1 !default;
  $range-track-height: 8px !default;
  $range-label-color: $teal !default;
  $range-label-width: 60px !default;

  .mb-20
    margin-bottom: 20px !important;
  .d-none
    display: none !important;
  *
    box-sizing: border-box;
    &:before,&:after
      box-sizing: border-box;
  .range-slider__label
    font-weight: 600;
    font-size: 0.9rem;
    color: rgb(110,110,115);
  .range-tickmarks
    width: 60%;
    position: absolute;
    padding-left: 6px;
    padding-right: 6px;
    top: 4px;
    left: 0;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    .range-tick
      height: 100%;
      width: 2px;
      background-color: rgb(180,180,185);
      position: relative;
      border-radius: 3px;
      .range-tick-value
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        top: -21px;
        left: -19px;
        font-size: 0.7rem;
        font-weight: 600;
        color: rgb(100,100,100);
  .range-slider
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &:last-child
      margin-bottom: 0;
  .range-slider
    width: $range-width;
  .range-slider__range
    -webkit-appearance: none;
    height: $range-track-height;
    width: 60%;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(240,240,240), rgb(200,200,210));
    outline: none;
    padding: 0;
    margin: 0;
    &::-webkit-slider-thumb
      -webkit-appearance: none;
      appearance: none;
      width: $range-handle-size;
      height: $range-handle-size;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background .15s ease-in-out;
      &:hover
        background: $range-handle-color-hover;
    &:active::-webkit-slider-thumb
      background: $range-handle-color-hover;
    &::-moz-range-thumb
      width: $range-handle-size;
      height: $range-handle-size;
      border: 0;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background .15s ease-in-out;
      &:hover
        background: $range-handle-color-hover;
    &:active::-moz-range-thumb
      background: $range-handle-color-hover;
    &:focus
      &::-webkit-slider-thumb
        box-shadow: 0 0 0 3px $shade-0, 0 0 0 6px $teal;
  .range-slider__value
    display: inline-block;
    position: relative;
    border: 1px solid rgb(200,200,200);
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 4px 8px;
    margin-left: 8px;
  ::-moz-range-track
    background: $range-track-color;
    border: 0;
  input::-moz-focus-inner,input::-moz-focus-outer
    border: 0;

:javascript
  function rangeSlider() {
    var sliders = document.querySelectorAll(".range-slider");
    var calculationResult = document.querySelector(".calculation-result");
    var total,count,calculatedResult,average,days = 0;
    console.log(sliders);
    sliders.forEach(function(slider) {
      var range = slider.querySelector("input");
      var label = slider.querySelector("span");
      label.textContent = range.value;
      range.addEventListener("input",function(event) {
        var action = event.currentTarget.dataset.resourceAction;
        if (action == "total") {
          total = event.currentTarget.value;
          label.textContent = parseInt(event.currentTarget.value).toLocaleString("fr-FR") + " €";
        } else if (action == "count") {
          count = event.currentTarget.value;
          label.textContent = event.currentTarget.value.toLocaleString("fr-FR");
        } else if (action == "days") {
          days = event.currentTarget.value;
          label.textContent = event.currentTarget.value.toLocaleString("fr-FR") + " jours";
        }

        console.log(total);
        console.log(count);
        console.log(days);

        if (total > 0 && count > 0 && days > 0) {
          average = Math.round(total / count);
          if (total <= 100000) {
            if (days > 0 && days <= 45) {
              calculatedResult = total * 0.96;
            } else if (days > 45 && days <= 90) {
              calculatedResult = total * 0.9550;
            } else if (days > 90) {
              calculatedResult = total * 0.95;
            }
          } else {
            if (days > 0 && days <= 45) {
              calculatedResult = total * 0.97;
            } else if (days > 45 && days <= 90) {
              calculatedResult = total * 0.9650;
            } else if (days > 90) {
              calculatedResult = total * 0.96;
            }
          }
          calculationResult.textContent = calculatedResult.toLocaleString('fr-FR') + " €";
          calculationResult.classList.remove("d-none");
        } else {
          if (calculationResult.classList.contains("d-none")) {
            console.log("Hidden already present !!");
          } else {
            calculationResult.classList.add("d-none");
          }
        }
      });
    });
  }

  rangeSlider();

