.edmond-simulation-widget
  .header
    %h5 Simulez votre avance sur honoraires
    %p Faites glisser les curseurs pour simuler votre avance sur honoraires
  .content

    .range-slider.mb-20
      .range-slider__label
        .static-value J'ai
        .dynamic-value
        .static-value d'honoraires en attente
      %input.range-slider__range{max: "1000000", min: "0", step: "5000", type: "range", value: "0", "data-resource-action": "total"}


    .range-slider.mb-20
      .range-slider__label
        .static-value J'ai
        .dynamic-value
        .static-value compromis en attente
      %input.range-slider__range{max: "100", min: "0", step: "5", type: "range", value: "0", "data-resource-action": "count"}

    .range-slider
      .range-slider__label
        .static-value Mon délai moyen de signature d'une vente est de
        .dynamic-value
        .static-value jours
      %input.range-slider__range{max: "120", min: "0", step: "15", type: "range", value: "0", "data-resource-action": "days"}


  .calculation-result.d-none
    .static-value.sv1 Pour un compromis moyen à
    .dyn-value-1
    .static-value.sv2 Edmond me verse
    .dyn-value-2
    .static-value.sv3 Tout de suite !

  .button-container
    = link_to "Je demande", "https://edmond.immo/mon-avance-sur-honoraires/", class: "btn btn-blue", disabled: true


:sass
  .button-container
    display: flex;
    align-items: center;
    margin-top: 30px;
  .widget-radio
    display: flex;
    align-items: center;
    justify-content: space-between;
    label
      cursor: pointer;
      margin-bottom: 0;
    input
      display: none;
    input:checked + label
      color: red;
  .edmond-simulation-widget
    .calculation-result
      margin-top: 50px;
      width: 100%;
      font-size: 1.1rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      .bold
        font-weight: 700;
      .static-value
        font-weight: 700;
        color: #06114e;
      .dyn-value-1
        margin: 0 8px;
        color: #00a2d0;
        font-weight: 700;
      .dyn-value-2
        margin: 0 8px;
        color: #00a2d0;
        font-weight: 700;
    .header
      width: 100%;
      h5
        font-weight: 700;
        font-size: 1.8rem;
        color: rgb(0,162,208);
        margin-bottom: 10px;
      p
        color: rgb(6,17,78);
        font-size: 1rem;
        margin-bottom: 30px;
    position: relative;
    padding: 50px;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(233,240,248);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .content
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    h1,h2,h3,h4,h5,p
      margin: 0;
      padding: 0;


:sass
  $shade-10: #2c3e50 !default;
  $shade-1: #d7dcdf !default;
  $shade-0: #fff !default;
  $teal: tomato !default;

  $range-width: 100% !default;
  $range-handle-color: #00a2d0 !default;
  $range-handle-color-hover: #00a2d0 !default;
  $range-handle-size: 15px !default;
  $range-track-color: $shade-1 !default;
  $range-track-height: 8px !default;
  $range-label-color: #00a2d0 !default;
  $range-label-width: 60px !default;

  .widget-d-flex
    display: flex;
    align-items: center;
  .widget-d-flex-col
    display: flex;
    flex-direction: column;
    align-items: center;
  .mb-20
    margin-bottom: 40px !important;
  .d-none
    display: none !important;
  *
    box-sizing: border-box;
    &:before,&:after
      box-sizing: border-box;
  .range-slider__label
    font-weight: 600;
    font-size: 1rem;
    color: rgb(110,110,115);
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .dynamic-value
      margin: 0 8px;
      border-bottom: 2px dashed rgb(0,162,208);
      min-width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 40px;
      color: #00a2d0;
      font-weight: 700;
      text-align: center;
    .static-value
      color: rgb(6,17,78);
  .range-tickmarks
    width: 60%;
    position: absolute;
    padding-left: 6px;
    padding-right: 6px;
    top: 4px;
    left: 0;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
    .range-tick
      height: 100%;
      width: 2px;
      background-color: rgb(180,180,185);
      position: relative;
      border-radius: 3px;
      .range-tick-value
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        top: -21px;
        left: -19px;
        font-size: 0.7rem;
        font-weight: 600;
        color: rgb(100,100,100);
  .range-slider
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &:last-child
      margin-bottom: 0;
  .range-slider
    width: $range-width;
  .range-slider__range
    -webkit-appearance: none;
    height: $range-track-height;
    width: 60%;
    border-radius: 5px;
    background: rgb(200,205,218);
    outline: none;
    padding: 0;
    margin: 0;
    &::-webkit-slider-thumb
      -webkit-appearance: none;
      appearance: none;
      width: $range-handle-size;
      height: $range-handle-size;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background .15s ease-in-out;
      &:hover
        background: $range-handle-color-hover;
    &:active::-webkit-slider-thumb
      background: $range-handle-color-hover;
    &::-moz-range-thumb
      width: $range-handle-size;
      height: $range-handle-size;
      border: 0;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background .15s ease-in-out;
      &:hover
        background: $range-handle-color-hover;
    &:active::-moz-range-thumb
      background: $range-handle-color-hover;
    &:focus
      &::-webkit-slider-thumb
        box-shadow: 0 0 0 2px #00a2d0, 0 0 0 4px #00a2d0;
  .range-slider__value
    display: inline-block;
    position: relative;
    border: 1px solid rgb(200,200,200);
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 4px 8px;
    margin-left: 8px;
  ::-moz-range-track
    background: $range-track-color;
    border: 0;
  input::-moz-focus-inner,input::-moz-focus-outer
    border: 0;

:javascript
  function rangeSlider() {
    var sliders = document.querySelectorAll(".range-slider");
    var calculationResult = document.querySelector(".calculation-result");
    var dynValueOne = calculationResult.querySelector(".dyn-value-1");
    var dynValueTwo = calculationResult.querySelector(".dyn-value-2");
    var total,count,calculatedResult,average,days,coef = 0;
    console.log(sliders);
    sliders.forEach(function(slider) {
      var range = slider.querySelector("input");
      var label = slider.querySelector(".dynamic-value");
      label.textContent = range.value;
      range.addEventListener("input",function(event) {
        var action = event.currentTarget.dataset.resourceAction;
        if (action == "total") {
          total = event.currentTarget.value;
          label.textContent = parseInt(event.currentTarget.value).toLocaleString("fr-FR") + " €";
        } else if (action == "count") {
          count = event.currentTarget.value;
          label.textContent = event.currentTarget.value.toLocaleString("fr-FR");
        } else if (action == "days") {
          days = event.currentTarget.value;
          label.textContent = event.currentTarget.value.toLocaleString("fr-FR");
        }

        console.log(total);
        console.log(count);
        console.log(days);


        if (total > 0 && count > 0 && days > 0) {
          if (total <= 100000) {
            if (days > 0 && days <= 45) {
              coef = 0.96;
              calculatedResult = total * 0.96;
            } else if (days > 45 && days <= 90) {
              coef = 0.9550;
              calculatedResult = total * 0.9550;
            } else if (days > 90) {
              coef = 0.95;
              calculatedResult = total * 0.95;
            }
          } else {
            if (days > 0 && days <= 45) {
              coef = 0.97;
              calculatedResult = total * 0.97;
            } else if (days > 45 && days <= 90) {
              coef = 0.9650;
              calculatedResult = total * 0.9650;
            } else if (days > 90) {
              coef = 0.96;
              calculatedResult = total * 0.96;
            }
          }

          compAverage = Math.round(total / count);
          average = Math.round(calculatedResult / count);

          dynValueOne.textContent = compAverage.toLocaleString('fr-FR') + " €";
          dynValueTwo.textContent = average.toLocaleString('fr-FR') + " €";

          calculationResult.classList.remove("d-none");
        } else {
          if (calculationResult.classList.contains("d-none")) {
            console.log("Hidden already present !!");
          } else {
            calculationResult.classList.add("d-none");
          }
        }
      });
    });
  }

  rangeSlider();

