.d-flex.height100
  .subs-items-nav.f-grow-3
    - @subs_items.sort_by{|item| item.name}.each do |sub_item|
      - if @company.subscriptions_names.include?(sub_item.slug_name)
        = remote_link_to(target: edit_dashboard_subscription_item_path(sub_item), dynamic_dom_receiver: ".subs-items-dynamic-content", toggable: ".subs-items-item", trackable_url: true) do
          .subs-items-item.active-sub
            %p
              = "#{sub_item.name}"
            .badge.bck-lightblue.text-white.fw-600.ml-2 ACTIF
      - else
        = remote_link_to(target: dashboard_subscription_item_path(sub_item), dynamic_dom_receiver: ".subs-items-dynamic-content", toggable: ".subs-items-item", trackable_url: true) do
          .subs-items-item
            %p
              = sub_item.name
  .subs-items-dynamic-content.f-grow-8
