- if !flash.empty?
  = flash.inspect
  .toasts-container.slidein-from-right{style: "--slide-object-width: 280px;"}
    .container-title Notifications
    = render "shared/partials/flashes/#{flash[:create][:template]}" if flash[:create]

    - if flash[:info]
      - if flash[:info].is_a?(Array)
        = render "shared/partials/flashes/#{flash[:info].first[:template]}"
      - else
        = render "shared/partials/flashes/#{flash[:info][:template]}"

    = render "shared/partials/flashes/#{flash[:warning][:template]}" if flash[:warning]
    = render "shared/partials/flashes/#{flash[:reminder][:template]}" if flash[:reminder]

  = render "shared/partials/flashes/error" if flash[:alert]
