/ = "Stripe API call page"

/ = admin_payment_data_url
/ = current_user.email

/ %input#cardholder-name{:type => "text"}/
/ %form#payment-form{"data-secret" => @intent.client_secret}
/   #card-element
/   %button#card-button
/     Save Card
.container
  .stripe-subs-container
    = @datas[:monthly]
    = @datas[:annual]
    .row
      .col-12.col-md-6
        .card
          %input{type: "hidden", value: "#{@datas[:monthly]}", name: "monthly_session_stripe_id"}
          .btn.monthly-stripe-btn Abonnement mensuel
      .col-12.col-md-6
        .card
          %input{type: "hidden", value: "#{@datas[:annual]}", name: "annual_session_stripe_id"}
          .btn.annual-stripe-btn Abonnement annuel

  %script{src: "https://js.stripe.com/v3/"}

- if @card_infos
  = "Expire le #{@card_infos[:exp_month]}/#{@card_infos[:exp_year]}"
  = credit_card(@card_infos[:last4])
  .small
    = @card_infos
