.container
  - if @user
    = @user.email
    = @user.inspect
  .item
    Item 2
  = remote_link_to(target: ajax_test_path, pattern: "json") do
    .card
      .card-body
        Random card

  .custom-choice-radio-inputs
    %input#shareholderChoice1{name: "raw_choice", type: "radio", value: "true"}
    %label{for: "shareholderChoice1"} Je suis seul

    %input#shareholderChoice2{name: "raw_choice", type: "radio", value: "false"}
    %label{for: "shareholderChoice2"} Nous sommes plusieurs actionnaires
