.modal-closer{"data-close": "custom-modal"}
  = unicon_svg(name: "times", size: 26, color: "black")
%h4.fw-700.text-center.mb-3 Code promo
= simple_form_for :coupon_code, url: dashboard_coupon_code_path, method: "POST", html: {"data-remote-form": true, "data-dynamic-receiver": ".custom-modal-body"} do |f|
  - if @error
    .error-message.fw-600.text-red.mb-3
      = @error
  = f.input :code, as: :string, label: false, placeholder: "Code promo", input_html: {class: "form-control"}

  .d-flex.ai-center.jc-center.height100.w100.mt-4
    .btn.btn-secondary.fw-600.mr-2{"data-close": "custom-modal"} Retour
    = f.submit "Appliquer le code promo", class: "btn btn-danger fw-600"
