= simple_form_for [:dashboard, @user], html: {autocomplete: "off","data-remote-form": "true", "data-dynamic-receiver": "section.content"} do |f|
  = f.input :firstname, label: false, placeholder: "Nom", input_html: {class: "custom-form-control"}
  = f.input :lastname, label: false, placeholder: "Prénom", input_html: {class: "custom-form-control"}
  = f.input :email, label: false, placeholder: "Email", input_html: {class: "custom-form-control"}
  = f.input :phone, label: false, placeholder: "Téléphone", input_html: {class: "custom-form-control"}
  = f.input :password, label: false, placeholder: "Nouveau mot de passe", input_html: {class: "custom-form-control", value: "", autocomplete: "new-password"}, value: ""
  = f.input :password_confirmation, label: false, placeholder: "Confirmation du mot de passe", input_html: {class: "custom-form-control"}
  .d-flex.jc-center
    = f.submit "Modifier", class: "btn btn-blue"
