.fadein
  - if !@user.has_platform_access?
    %section.platform-subscription
      .stripe-subs-container
        .row
          - @datas.each do |data|
            .col-12.col-md-6
              .platform-sub-card{class: "#{data[:class]}"}
                %h4.mb-3
                  = data[:name]
                %h3.sub-price
                  = data[:amount]
                %input{type: "hidden", value: "#{data[:session]}", name: "session_stripe_id"}
                %p.sub-desc
                  = data[:description]
                .d-flex.jc-center.ai-center
                  .btn.stripe-btn Je m'abonne
  - elsif @user.has_platform_access?
    .d-flex.height100vh
      .f-grow-3.height100.p-3
        .current-subscription-card.mb-5
          %h4.text-lightblue.fw-700.mb-3
            = "Mon abonnement"
          %h5
            = @user.stripe_product_name
          .d-flex.ai-center.my-1
            %h5.fw-700
              = @user.display_plan_amount
            %span.badge.badge-secondary.ml-3
              = @user.stripe_trial_status

          %p.text-lightblue.fw-600.mb-3
            = "Accès complet à l'outil de pilotage edmond"

          - if @user.sub_trial_period_time
            .d-flex.ai-center.mb-1
              .small Fin de votre période d'essai dans
              %h6.ml-2
                %span.badge.badge-danger.d-flex.ai-center
                  = distance_of_time_in_words(@user.sub_trial_period_time, Date.today)

          .small
            - if @user.upcoming_invoice
              = "Prochaine facture le #{l(@user.upcoming_invoice, format: :french)}"
          .d-flex.ai-center.jc-start.mt-2
            .text-red.fw-600.active-cursor{"data-target": "#subscription-cancel", "data-toggle": "modal"}
              Résilier mon abonnement
          .d-flex.ai-center.jc-start.mt-1
            - if @user.stripe_coupon_id
              - if @user.stripe_coupon_percent_off
                .custom-badge.red
                  = dynamic_svg(name: "discount", color: "tomato", size: 20)
                  = "- #{@user.stripe_coupon_percent_off} % / #{@user.stripe_plan_interval}"
              - elsif @user.stripe_coupon_amount_off
                .custom-badge.red
                  = dynamic_svg(name: "discount", color: "tomato", size: 20)
                  = "- #{@user.stripe_coupon_amount_off} € / #{@user.stripe_plan_interval}"
            - else
              .text-red.fw-600.active-cursor{"data-custom-trigger": "custom-modal", "data-custom-target": "#custom-modal-coupon"}
                Code promo


        %h4.text-lightblue.fw-700.mb-2 Mes factures

        .sortable-list{id: "invoice", "data-remote-list": "list", "data-remote-values": '["invoice-date","invoice-amount","invoice-status","invoice-number"]'}
          .table-responsive
            %table.table
              %thead
                %tr
                  %th.sort{"data-sort": "invoice-date", scope: "row"}
                    .d-flex
                      Date
                      = feather_svg("code")
                  %th.sort{"data-sort": "invoice-amount", scope: "row"}
                    .d-flex
                      Montant TTC
                      = feather_svg("code")
                  %th.sort{"data-sort": "invoice-status", scope: "row"}
                    .d-flex
                      Statut
                      = feather_svg("code")
                  %th.sort{"data-sort": "invoice-number", scope: "row"}
                    .d-flex
                      N° de facture
                      = feather_svg("code")
                  %th
                    .d-flex
                      Actions
                      = feather_svg("code")
              %tbody.list
                - @user.stripe_invoices.as_json["data"].each do |invoice|
                  %tr
                    %th{:scope => "row"}
                      .invoice-date
                        = l(Time.at(invoice["created"]).to_date, format: :french)
                    %td
                      .invoice-amount
                        = '%.2f' % (invoice["amount_paid"].to_f / 100) + " €"
                    %td
                      .invoice-status
                        = stripe_invoice_status(invoice["status"])
                    %td
                      .invoice-number
                        = invoice["number"]
                    %td
                      = link_to invoice["invoice_pdf"] do
                        = "PDF"

      .f-grow-2.height100.p-3
        .billing-infos-card
          %h4.text-lightblue.fw-700.mb-3
            = "Mes infos de facturation"

          .d-flex.ai-center.mb-2
            = unicon_svg(name: "store-alt", size: 20, color: application_colors(:lightblue))
            %h6.text-lightblue.fw-700.ml-2 L'agence
          .d-flex.ai-center.jc-between.mb-2
            .label Nom de la société
            .value
              = @user.companies.last.name
          .d-flex.ai-center.jc-between.mb-2
            .label Siren
            .value
              = @user.companies.last.siren
          .d-flex.ai-center.jc-between.mb-2
            .label Code postal
            .value
              = @user.companies.last.postal_code
          .d-flex.ai-center.jc-between.mb-2
            .label Ville
            .value
              = @user.companies.last.city

          .d-flex.ai-center.mb-2.mt-4
            = unicon_svg(name: "user-circle", size: 20, color: application_colors(:lightblue))
            %h6.text-lightblue.fw-700.ml-2 Le contact
          .d-flex.ai-center.jc-between.mb-2
            .label Prénom
            .value
              = @user.firstname
          .d-flex.ai-center.jc-between.mb-2
            .label Nom
            .value
              = @user.lastname
          .d-flex.ai-center.jc-between.mb-2
            .label Email
            .value
              = @user.email
          .d-flex.ai-center.jc-between.mb-2
            .label Téléphone
            .value
              = @user.phone

          .d-flex.ai-center.mb-2.mt-4
            = unicon_svg(name: "payment-card", size: 20, color: application_colors(:lightblue))
            %h6.text-lightblue.fw-700.ml-2 Mon moyen de paiement


          - if @user.stripe_card_datas
            .stripe-payment-card
              .stripe-card-svg
                = stripe_card_svg(@user.stripe_card_datas["brand"].downcase)
              .stripe-card-number
                = credit_card(@user.stripe_card_datas["last4"])
              .stripe-exp-date
                .small Expire le
                = expiration_date(@user.stripe_card_datas["exp_month"],@user.stripe_card_datas["exp_year"])


- if @user.has_platform_access?
  - if @user.trial_used?
    #subscription-cancel.modal.fade{role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
          .modal-body
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.fw-700.text-center.mb-3 Résilier mon abonnemment

          .modal-footer.border-0.pt-0
            .d-flex.ai-center.jc-center.w100
              %button.btn.btn-secondary.fw-600{"data-dismiss": "modal", type: "button"} Retour
              = remote_link_to(target: dashboard_subscription_cancel_path, dynamic_dom_receiver: "section.content", pattern: "html", method: "POST") do
                %button.btn.btn-danger.fw-600.ml-2 Résilier
  - else
    - if @user.sub_trial_period_time
      #subscription-cancel.modal.fade{role: "dialog", tabindex: "-1"}
        .modal-dialog.modal-dialog-centered{:role => "document"}
          .modal-content
            .modal-body
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                %span{"aria-hidden" => "true"} ×
              %h4.fw-700.text-center.mb-3 Résilier mon abonnemment
              .d-flex.ai-center.jc-center
                .fw-500 Fin de votre période d'essai dans
                .fw-700.text-red.ml-1
                  = distance_of_time_in_words(@user.sub_trial_period_time, Date.today)
              %p.fw-600.text-red.text-center.d-none Attention, vous serez débité une fois la période d'essai finie

            .modal-footer.border-0.pt-0
              .d-flex.ai-center.jc-center.w100
                %button.btn.btn-secondary.fw-600{"data-dismiss": "modal", type: "button"} Retour
                = remote_link_to(target: dashboard_subscription_cancel_path, dynamic_dom_receiver: "section.content", pattern: "html", method: "POST") do
                  %button.btn.btn-danger.fw-600.ml-2 Résilier
    - else
      #subscription-cancel.modal.fade{role: "dialog", tabindex: "-1"}
        .modal-dialog.modal-dialog-centered{:role => "document"}
          .modal-content
            .modal-body
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                %span{"aria-hidden" => "true"} ×
              %h4.fw-700.text-center.mb-3 Résilier mon abonnemment

            .modal-footer.border-0.pt-0
              .d-flex.ai-center.jc-center.w100
                %button.btn.btn-secondary.fw-600{"data-dismiss": "modal", type: "button"} Retour
                = remote_link_to(target: dashboard_subscription_cancel_path, dynamic_dom_receiver: "section.content", pattern: "html", method: "POST") do
                  %button.btn.btn-danger.fw-600.ml-2 Résilier


#custom-modal-coupon.custom-modal-container.fadein.d-none
  .custom-modal
    .custom-modal-body
      .modal-closer{"data-close": "custom-modal"}
        = unicon_svg(name: "times", size: 26, color: "black")
      %h4.fw-700.text-center.mb-3 Code promo
      = simple_form_for :coupon_code, url: dashboard_coupon_code_path, method: "POST", html: {"data-remote-form": true, "data-dynamic-receiver": ".custom-modal-body"} do |f|
        = f.input :code, as: :string, label: false, placeholder: "Code promo", input_html: {class: "form-control"}

        .d-flex.ai-center.jc-center.height100.w100.mt-4
          .btn.btn-secondary.fw-600.mr-2{"data-close": "custom-modal"} Retour
          = f.submit "Appliquer le code promo", class: "btn btn-danger fw-600"

