%section.stripe-subscription-success
  .d-flex.jc-center.ai-center
    = dynamic_svg(name: "chapeau-edmond", size: 160)
  %h4
    = "Je suis abonné"
  %p Je peux accéder à mon tableau de bord dès maintenant !
  .d-flex.ai-center.jc-center
    = remote_link_to(target: new_dashboard_compromise_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
      .btn.btn-blue.mx-2 Nouveau compromis
    = remote_link_to(target: dashboard_management_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
      .btn.btn-blue.mx-2 Ma trésorerie
