.main-content
  %section.section
    .section-body
      .row
        .col-12.col-md-6
          .card
            .card-header
              %h4 Utilisateurs
            .card-body
              %ul.list-unstyled.user-details.list-unstyled-border.list-unstyled-noborder
                - @admins.each do |admin|
                  %li.media
                    .feather-container.mr-3{class: admin.role_color}
                      = feather_svg("role-#{admin.role}")
                    .media-body
                      .media-title.fs-10.fw-700
                        = "#{admin.firstname} #{admin.lastname}"
                      .text-job.text-muted
                        = admin.role
                    .media-items
                      .media-item.d-none
                        .media-value 1,239
                        .media-label Posts
                      .media-item.d-none
                        .media-value 10K
                        .media-label Followers
                      .media-item
                        .media-value
                          = admin.sign_in_count
                        .media-label Connexions
        .col-12.col-md-6
          .card
            .card-header
              %h4 Créer un utilisateur
              .card-header-action
                %a.btn.btn-icon.btn-info.custom-btn-icon{"data-toggle": "collapse", "data-target": "#new-user-card"}
                  = feather_dynamic_svg(name: "plus", color: "white", size: 15, "stroke_width": 4)
            #new-user-card.collapse
              .card-body
                You can show or hide this card.
              .card-footer
                Card Footer

        .col-12.col-md-6
          .card
            .card-header
              %h4 Compromis
            .card-body.no-padding
              %ul.list-unstyled.list-unstyled-border.list-unstyled-noborder
                - @compromises.each do |comp|
                  %li.media.no-pad-no-marg
                    .media-body
                      .media-title-flex
                        .generic-flex
                          .media-title.fw-700.fs-10
                            = comp.seller_lastname
                        .text-warning.fs-08.fw-700
                          = comp.status
                      .text-job.text-muted.fw-700.mb-2
                        = l(comp.created_at, format: :french)
                      .media-description
                        .generic-flex
                          .field-label.mr-2 Honoraires
                          .field-value
                            = number_with_delimiter(comp.fees, locale: :fr) + " €"
                        .generic-flex
                          .field-label.mr-2 Prix de vente
                          .field-value
                            = number_with_delimiter(comp.selling_price, locale: :fr) + " €"
                      .media-links
                        %a.mr-2{:href => "#"} Détails
                        %a.mr-2{:href => "#"} Modifier
                        %a.text-danger{:href => "#"} Supprimer

                %li.media.no-pad-no-marg
                  .feather-rounded-container.gray.mr-3{style: "#{svg_base64_conversion(name: 'user', color: stisla_colors(:gray))}"}
                  .media-body
                    .media-right
                      .text-primary.fs-08.fw-700 Approved
                    .media-title.fw-700.fs-09.mb-1 Rizal Fakhri
                    .text-time Yesterday
                    .media-description.text-muted
                      Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .media-links
                      %a.mr-2{:href => "#"} Détails
                      %a.mr-2{:href => "#"} Modifier
                      %a.text-danger{:href => "#"} Supprimer
                %li.media.no-pad-no-marg
                  .media-body
                    .media-title-flex.mb-1
                      .generic-flex
                        .media-title.fw-700.fs-10 Bambang Uciha
                      .text-warning.fs-08.fw-700 Pending
                    .text-job.text-muted.fw-700.mb-2 Le 13/03/84
                    .media-description.text-muted
                      Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .media-links
                      %a.mr-2{:href => "#"} Détails
                      %a.mr-2{:href => "#"} Modifier
                      %a.text-danger{:href => "#"} Supprimer
                %li.media.no-pad-no-marg
                  .media-body
                    .media-right.d-none
                      .text-primary.fs-08.fw-700 Approved
                    .media-title-flex.mb-1
                      .generic-flex
                        .feather-rounded-container.small-container.gray.mr-2{style: "#{svg_base64_conversion(name: 'user', color: stisla_colors(:gray))}"}
                        .media-title.fw-700.fs-10 Ujang Maman
                      .text-primary.fs-08.fw-700 Approved
                    .text-job.text-muted.fw-700.mb-2 Yesterday
                    .media-description.text-muted
                      Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident
                    .media-links
                      %a{:href => "#"} View
                      .bullet
                      %a{:href => "#"} Edit
                      .bullet
                      %a.text-danger{:href => "#"} Trash
