= render "shared/classic_flashes"
%section.fullheight-section
  .container.mt-5
    .row
      .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
        .login-brand.d-none
          %h4 Edmond - Admin
        .card.card-primary
          .card-header
            %h4.text-center Connexion
          .card-body
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "session_new_admin", class: "session_new_admin", validate: "validate"}) do |f|
              .form-inputs
                .form-group
                  %label{for: "admin_email"} Email
                  = f.input :email, label: false, input_html: {class: "form-control"}

                .form-group
                  %label{for: "admin_password"} Mot de passe
                  .float-right
                    %a.text-small{href: new_password_path(:admin)}
                      Mot de passe oublié ?
                  = f.input :password, label: false, input_html: {class: "form-control"}

                .form-group.d-none
                  = f.input :remember_me, label: "Se souvenir de moi", as: :boolean, boolean_style: :inline if devise_mapping.rememberable?

              .d-flex.justify-content-center.align-items-center
                = f.button :submit, "Connexion", class: "btn btn-primary"

            .mt-4.text-center.fw-600.fs-08.d-none
              Vous n'avez pas de compte ?
              %a.fw-700{:href => "auth-register.html"} S'inscrire

        .simple-footer
          Copyright © Edmond 2020
