.main-content
  %section.section
    .section-body
      .row
        .col-12.col-md-6
          .card
            .card-header.jc-between
              %h4 Simple
              %button.btn.btn-danger.collapsed{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
                = feather_dynamic_svg(name: "plus", size: 15, stroke_width: 3)
                .ml-2 Plus
            .card-body.no-padding#collapseExample.collapse
              %p
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

        .col-12.col-md-6
          .card
            .card-header
              %h4 Scoring
            .card-body
              = @compromise.inspect
              = @compromise_scoring

        .col-12.col-md-6
          .card
            .card-header
              %h4 Scoring compromis
            .card-body.no-padding
              - if @compromise.compromise_scoring?
                = simple_form_for [:admin,@compromise.compromise_scoring] do |f|
                  .row
                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Type vente
                        .form-group.custom.radios-classic
                          = f.input :sale_type, as: :radio_buttons, collection: [[0,"Ancien"],[1,"Neuf"],[2,"Viager"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@compromise.compromise_scoring[:sale_type] if @compromise.compromise_scoring[:sale_type]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Type vendeur
                        .form-group.custom.radios-classic
                          = f.input :seller_type, as: :radio_buttons, collection: [[0,"Partiulier"],[1,"Société"],[2,"Succession"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@compromise.compromise_scoring[:seller_type] if @compromise.compromise_scoring[:seller_type]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Risque vendeur
                        .form-group.custom.radios-classic
                          = f.input :seller_risk, as: :radio_buttons, collection: [[0,"Fort"],[1,"Assez fort"],[2,"Moyen"],[3,"Assez faible"],[4,"Très faible"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@compromise.compromise_scoring[:seller_risk] if @compromise.compromise_scoring[:seller_risk]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Risque acheteur
                        .form-group.custom.radios-classic
                          = f.input :buyer_risk, as: :radio_buttons, collection: [[0,"Fort"],[1,"Assez fort"],[2,"Moyen"],[3,"Assez faible"],[4,"Très faible"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@compromise.compromise_scoring[:buyer_risk] if @compromise.compromise_scoring[:buyer_risk]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Qualité rédaction
                        .form-group.custom.radios-classic
                          = f.input :writing_quality, as: :radio_buttons, collection: [[0,"1"],[1,"2"],[2,"3"],[3,"4"],[4,"5"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@compromise.compromise_scoring[:writing_quality] if @compromise.compromise_scoring[:writing_quality]}"

                    .col-12.col-md-12
                      .field-item
                        .form-group.custom.mb-3
                          %label.label-custom.mb-0 Signaux faibles
                        .form-group.custom.radios-classic
                          = f.input :weak_signals, as: :radio_buttons, collection: [[0,"1"],[1,"2"],[2,"3"],[3,"4"],[4,"5"]], boolean_style: :inline, label: false,label_method: :last, value_method: :first, input_html: {class: "form-control"}, checked: "#{@compromise.compromise_scoring[:weak_signals] if @compromise.compromise_scoring[:weak_signals]}"

                    .col-12
                      .field-item.no-border
                        = f.submit "Sauvegarder", class: "btn btn-primary"


        - if @compromise.compromise_scoring
          .col-12.col-md-6
            .card
              .card-header
                %h4 Compromise scoring database model
              .card-body.no-padding
                .instance-full-field
                  .instance-label Type de vente
                  .instance-value
                    = @compromise.compromise_scoring.sale_type
                .instance-full-field
                  .instance-label Type de vendeur
                  .instance-value
                    = @compromise.compromise_scoring.seller_type
                .instance-full-field
                  .instance-label Qualité de rédaction
                  .instance-value
                    = @compromise.compromise_scoring.writing_quality
                .instance-full-field
                  .instance-label Signaux faibles
                  .instance-value
                    = @compromise.compromise_scoring.weak_signals
                .instance-full-field
                  .instance-label Risque vendeur
                  .instance-value
                    = @compromise.compromise_scoring.seller_risk
                .instance-full-field
                  .instance-label Risque acheteur
                  .instance-value
                    = @compromise.compromise_scoring.buyer_risk


        .col-12.col-md-6
          .card
            .card-header
              %h4 Compromis
            .card-body
              = @compromise.inspect
              %ul
                %li
                  = @compromise.purchase_type
                %li
                  = @compromise.status
                %li
                  = @compromise.reference
                %li
                  = @compromise.fees
                %li
                  = @compromise.selling_price
                %li
                  = @compromise.seller_lastname
                %li
                  = @compromise.contract_type
                %li
                  = @compromise.pending_funding_terms
                %li
                  = @compromise.compromise_signature_place
                %li
                  = @compromise.compromise_signature_date
                %li
                  = @compromise.authentic_act_signature_date
                %li
                  = @compromise.df_fees
                %li
                  = @compromise.df_selling_price
