%section.not-found-page
  .content
    .d-flex.jc-center
      = svg("404")
    %h3.fw-700.text-center.my-4
      = "Une erreur est survenue"
    .d-flex.jc-center
      = link_to "Retour vers votre dashboard", root_path, class: "unbox-btn"
