function stripeSession() {
  const stripe = Stripe("<%= Rails.application.credentials.stripe_public_api_key %>");
  subCards = document.querySelectorAll(".platform-sub-card");

  if (subCards.length > 0) {
    subCards.forEach(function(card) {
      var stripeSession = card.querySelector("input[name=session_stripe_id]").value;
      var stripeBtn = card.querySelector(".btn.stripe-btn");
      var couponInput = card.querySelector("input.coupon-code");

      stripeBtn.addEventListener("click",function(event) {
        stripe.redirectToCheckout({
          sessionId: stripeSession
        }).then(function (result) {
          console.log(result)
        });
      });
    });
  }

}

function startStripeFramework() {
  var stripeContainer = document.querySelector(".stripe-subs-container");
  if (stripeContainer) {
    stripeSession();
  }
}

document.addEventListener("DOMContentLoaded",function() {
  startStripeFramework();
});
