function uploadFile(file,item) {
  var ID = "<%= Rails.application.credentials.aws_id %>";
  var SECRET = "<%= Rails.application.credentials.aws_secret %>";
  var BUCKET_NAME = 'bientotchezsoi';
  const s3 = new AWS.S3({
    params: {Bucket: BUCKET_NAME, Region: "eu-west-3", CacheControl: "public, max-age=31536000"},
    accessKeyId: ID,
    secretAccessKey: SECRET
  });
  console.log(file);
  var bucketRegion = ".s3.eu-west-3";
  var fileName = file.name;
  var filePath = 'edmond/' + fileName;
  var fileUrl = 'https://' + BUCKET_NAME + bucketRegion + '.amazonaws.com/' + filePath;

  var extn = file.name.split('.').pop();
  var contentType = 'application/octet-stream';
  if (extn == 'html') contentType = "text/html";
  if (extn == 'css') contentType = "text/css";
  if (extn == 'js') contentType = "application/javascript";
  if (extn == 'png' || extn == 'jpg' || extn == 'gif' || extn == 'jpeg') contentType = "image/" + extn;

  var trueFilePath = formatS3Url(item,fileName);

  var params = {Key: trueFilePath, Body: file, ContentType: contentType};
  s3.upload(params, function(err, data) {
    console.log(err, data);
    addInputToForm(item,data);
  }).on('httpUploadProgress',function(progress) {
    percent = Math.round((progress.loaded / progress.total) * 100);
    console.log(percent);
    var progress = document.querySelector(".file-progress");
    progress.style.width = percent + "%";
  });
}




function addPhoto(file,item) {
  var ID = "<%= Rails.application.credentials.aws_id %>";
  var SECRET = "<%= Rails.application.credentials.aws_secret %>";
  var BUCKET_NAME = 'bientotchezsoi';
  var cacheControl = "public, max-age=31536000";
  AWS.config.update({
    region: "eu-west-3",
    accessKeyId: ID,
    secretAccessKey: SECRET
  });
  var s3 = new AWS.S3({
    apiVersion: "2006-03-01",
    params: { Bucket: BUCKET_NAME }
  });

  var fileType = file.name.split('.').pop();
  var fileName = file.name;
  var contentType = fileContentType(fileType);
  var key = formatS3Url(item,fileName);

  var upload = new AWS.S3.ManagedUpload({
    params: {
      Bucket: BUCKET_NAME,
      Key: key,
      Body: file,
      ContentType: contentType,
      CacheControl: cacheControl,
      ACL: "public-read"
    }
  });

  var promise = upload.promise();
  upload.on('httpUploadProgress',function(progress) {
    percent = Math.round((progress.loaded / progress.total) * 100);
    // console.log(percent);
    // var progress = document.querySelector(".file-progress");
    var label = item.querySelector("label");
    label.innerHTML = "";
    label.textContent = percent;
    // progress.style.width = percent + "%";
  });
  promise.then(
    function(data) {
      console.log("Successfully uploaded photo");
      console.log(item);
      var label = item.querySelector("label");
      var successSvg = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>';
      label.innerHTML = successSvg;
      item.classList.remove("ongoing");
      item.classList.add("done");
      addInputToForm(item,data);
    },
    function(err) {
      console.log(err.message);
    }
  );
}

function fileContentType(fileType) {
  var extn = fileType;
  console.log(extn);
  var contentType = 'application/octet-stream';
  if (extn == 'html') contentType = "text/html";
  if (extn == 'css') contentType = "text/css";
  if (extn == 'js') contentType = "application/javascript";
  if (extn == 'png' || extn == 'jpg' || extn == 'gif' || extn == 'jpeg') contentType = "image/" + extn;
  console.log(contentType);
  return contentType;
}





function stringParameterize(str) {
  console.log(str.trim().toLowerCase().replace(/[^A-Za-z0-9.\-]/, "_"));
  return str.trim().toLowerCase().replace(/[^A-Za-z0-9.\-]/, "_");
}

function formatS3Url(item,filename) {
  var fileInput = item.querySelector("input[type=file]");
  var parentClass = fileInput.dataset.parentClass;
  formatFilename = stringParameterize(filename);
  return 'edmond/' + parentClass + formatFilename;
}

function addInputToForm(item,data) {
  var fileInput = item.querySelector("input[type=file]");
  var name = fileInput.dataset.replaceName;
  var input = document.createElement("input");
  input.setAttribute("type", "hidden");
  input.setAttribute("name", name);
  input.setAttribute("value", data.Location);
  document.querySelector("form").appendChild(input);
}
