%section.subscription-renew
  %section.contextual-header
    %h4.text-darkblue
      = "Mon abonnement #{@subscription.name}"

  %section.subscription-content
    .freeheight-block.mb-4
      .title.mb-4 Rappel des détails
      .d-flex.ai-center.jc-between.mb-2
        .label.text-mediumblue.fw-600 Service
        .value.text-darkblue.fw-500
          = @subscription.name
      .d-flex.ai-center.jc-between.mb-2
        .label.text-mediumblue.fw-600 Coût TTC/Mois
        .value.text-darkblue.fw-500
          = number_with_delimiter(@subscription.int_amount, locale: :fr) + " €"
      .d-flex.ai-center.jc-between
        .label.text-mediumblue.fw-600 Date de fin
        .value.text-darkblue.fw-500
          = l(@subscription.end_date, format: :medium)

    .freeheight-block
      .title.text-center.mb-4 Je clôture mon abonnement
      = simple_form_for [:dashboard,@subscription], html: {"data-remote-form": true, "data-dynamic-receiver": "section.subscription-renew"}, method: :patch do |f|
        %input{type: "hidden", value: "closed", name: "form_action"}
        = f.input :closed, as: :hidden, value: true, input_html: {value: true}
        .row
          .col-12
            = f.input :end_date, label: false, placeholder: "Date de clôture", input_html: {class: "form-control","data-date-picker": "datepicker", value: ""}
        .d-flex.ai-center.jc-center.mt-4
          = f.submit "Enregistrer", class: "btn btn-blue"

