%section.subscription-renew
  %section.contextual-header
    %h4.text-darkblue
      = "Mon abonnement #{@subscription.name}"

  %section.subscription-content
    .freeheight-block.mb-4
      .title.mb-4 Rappel des détails
      .d-flex.ai-center.jc-between.mb-2
        .label.text-mediumblue.fw-600 Service
        .value.text-darkblue.fw-500
          = @subscription.name
      .d-flex.ai-center.jc-between.mb-2
        .label.text-mediumblue.fw-600 Coût TTC/Mois
        .value.text-darkblue.fw-500
          = number_with_delimiter(@subscription.int_amount, locale: :fr) + " €"
      .d-flex.ai-center.jc-between
        .label.text-mediumblue.fw-600 Date de fin
        .value.text-darkblue.fw-500
          = l(@subscription.end_date, format: :medium)

    .freeheight-block
      .title.text-center.mb-4 Je modifie mon abonnement
      = simple_form_for [:dashboard,@subscription], html: {"data-remote-form": true, "data-dynamic-receiver": "section.subscription-renew"}, method: :patch do |f|
        .row
          .col-12
            .field-with-hint
              .hint € HT / Mois
              = f.input :amount, label: false, placeholder: "Coût / mois", input_html: {class: "form-control","data-remote-mask": true}
          .col-12.col-sm-6
            .dynamic-field-receiver
              = remote_link_to(target: dashboard_dynamic_field_path(field: :end_date, resource: :subscription), dynamic_dom_receiver: ".dynamic-field-receiver", trackable_url: false) do
                .d-flex.ai-center
                  .svg-blue-button.mr-2
                    = feather_svg("plus")
                  %p.text-darkblue Ajouter une nouvelle date de fin
        .d-flex.ai-center.jc-center.mt-4
          = f.submit "Enregistrer", class: "btn btn-blue"
