= render "dashboard/shared/current_path"
.p-20px
  - if @company.subscriptions?
    .fadein
      = render "dashboard/subscriptions/partials/header"
      %section.compromises-index
        = render "shared/flashes"
        .sortable-list{id: "#{@resource_name}", "data-remote-list": @resource_name, "data-remote-values": '["name","category","amount","end_date"]'}
          .table-responsive
            %table.table
              %thead
                %tr
                  %th.sort{"data-sort": "name", scope: "row"}
                    .d-flex
                      Nom
                      = feather_svg("code")
                  %th.sort{"data-sort": "category", scope: "row"}
                    .d-flex
                      Catégorie
                      = feather_svg("code")
                  %th.sort{"data-sort": "amount", scope: "row"}
                    .d-flex
                      Coût HT/Mois
                      = feather_svg("code")
                  %th.sort{"data-sort": "end_date", scope: "row"}
                    .d-flex
                      Date fin
                      = feather_svg("code")
                  %th
                    .d-flex
                      Détails

              %tbody.list
                - @company.subscriptions.each_with_index do |subscription,index|
                  %tr
                    %th{scope: "row"}
                      .name
                        = subscription.name
                    %td
                      .category
                        .d-flex.ai-center
                          = unicon_svg(name: "#{subscription.category_icon}", size: 17, color: "#6584b7")
                          .ml-2
                            = subscription.category
                    %td
                      .amount
                        = number_with_delimiter(subscription.int_amount, locale: :fr) + " €"
                    %td
                      .end_date
                        - if subscription.end_date
                          = l(subscription.end_date, format: :medium_short)
                        - else
                          = "Sans engagement"
                    %td
                      = remote_link_to(target: dashboard_subscription_path(subscription), dynamic_dom_receiver: "section.content", trackable_url: true) do
                        %p Détails

          .relative-pagination
            %ul.pagination
  - else
    %section.empty-resource
      .d-flex.jc-center.ai-center
        = dynamic_svg(name: "empty-resources", size: 160)
      %h5
        = "C'est bien vide ici !"
      .d-flex.ai-center.jc-center
        = remote_link_to(target: new_dashboard_subscription_path, dynamic_dom_receiver: ".custom-tab-content", trackable_url: true) do
          .btn.btn-blue Ajouter un abonnement
