%section.subs-categories
  .f-grow-2
    .subs-categories-nav
      - SubscriptionType.all.each_with_index do |sub_type,index|
        = remote_link_to(target: dashboard_subscription_type_path(sub_type), dynamic_dom_receiver: ".subs-dynamic-content", toggable: ".subs-nav-item", trackable_url: true) do
          .subs-nav-item{class: "#{'active' if index == 0}"}
            .d-flex.ai-start.jc-center.d-column
              %p
                = sub_type.name
              - if @sorted_subs_category[sub_type.name] && @sorted_subs_category[sub_type.name].size != 0
                .small
                  = pluralize(@sorted_subs_category[sub_type.name].size,'Abonnement',plural: 'Abonnements')
            .svg-container
              = feather_svg("chevron-right")
  .f-grow-8.subs-dynamic-content
    = render "dashboard/subscription_types/partials/show"



































.row.d-none
  .col-12
    %section.compromise-new-form.nopaddings
      = simple_form_for [:dashboard,@subscription], html: {"data-remote-form": true, "data-dynamic-receiver": ".custom-tab-content"} do |f|
        .top-block
          %h4 J'ajoute un abonnement
        .middle-block
          .row
            .col-12
              = f.input :company_id, as: :hidden, value: @company.id.to_s, input_html: {value: @company.id.to_s}
              = f.input :name, label: false, placeholder: "Nom", input_html: {class: "form-control"}

              .custom-label Catégorie
              .custom-radiobuttons-iconed
                - if @subscription.category
                  = f.input :category, as: :radio_buttons, collection: SubscriptionType.radiobuttons_lists_with_icons, boolean_style: :inline, label: false,label_method: :last, value_method: :first, checked: @subscription[:category]
                - else
                  = f.input :category, as: :radio_buttons, collection: SubscriptionType.radiobuttons_lists_with_icons, boolean_style: :inline, label: false,label_method: :last, value_method: :first

            .col-12
              .field-with-hint
                .hint € HT / Mois
                = f.input :amount, label: false, placeholder: "Coût / mois", input_html: {class: "form-control","data-remote-mask": true}
            .col-12.col-sm-6
              = f.input :start_date, label: false, placeholder: "Date début", input_html: {"data-date-picker": "datepicker", class: "form-control", autocomplete: "off"}
            .col-12.col-sm-6
              .dynamic-field-receiver
                = remote_link_to(target: dashboard_dynamic_field_path(field: :end_date, resource: :subscription), dynamic_dom_receiver: ".dynamic-field-receiver", trackable_url: true) do
                  .d-flex.ai-center
                    .svg-blue-button.mr-2
                      = feather_svg("plus")
                    %p.text-darkblue Ajouter une date de fin

        .bottom-block
          .d-flex.jc-center
            = f.submit "Enregistrer", class: "btn btn-blue"
  .col-12.col-md-4.d-none
    .context-block
      .user-help-icon
        = unicon_svg(name: "question-circle", size: 30, color: "rgba(255,255,255,0.6)")
      .horizontal-slider
        .sliders-container
          .slider-container{id: "item-1"}
            .slider-item
              .d-flex.ai-center.mb-3
                = unicon_svg(name: "focus-add", size: 21, color: "rgba(255,255,255,0.6)")
                %h5.text-white.fw-600.ml-2 Création
              %p.text-white
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ex, laudantium placeat laboriosam nostrum dicta atque. Ducimus laudantium, debitis quisquam pariatur cum, amet consectetur doloribus minus, blanditiis porro inventore in!
          .slider-container{id: "item-2"}
            .slider-item
              .d-flex.ai-center.mb-3
                = unicon_svg(name: "tachometer-fast", size: 21, color: "rgba(255,255,255,0.6)")
                %h5.text-white.fw-600.ml-2 Modification
              %p.text-white
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ex, laudantium placeat laboriosam nostrum dicta atque. Ducimus laudantium, debitis quisquam pariatur cum, amet consectetur doloribus minus, blanditiis porro inventore in!
          .slider-container{id: "item-3"}
            .slider-item
              .d-flex.ai-center.mb-3
                = unicon_svg(name: "sigma", size: 30, color: "rgba(255,255,255,0.6)")
                %h5.text-white.fw-600.ml-2 Calculs
              %p.text-white
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ex, laudantium placeat laboriosam nostrum dicta atque. Ducimus laudantium, debitis quisquam pariatur cum, amet consectetur doloribus minus, blanditiis porro inventore in!
        .nav
          %a{href: "#item-1"} Création
          %a{href: "#item-2"} Modification
          %a{href: "#item-3"} Calculs
