%section.sub-show
  %section.contextual-header
    %h4.text-darkblue
      = "Mon abonnement #{@subscription.name}"
  .row
    .col-12.col-md-8
      .sub-show-block.unset
        .title.mb-1 Les références
        .row
          .col-12.col-md-6
            .d-flex.ai-center.jc-between.pr-4
              .label.text-altblue.fw-600 Nom
              .value.text-darkblue.fw-600
                = @subscription.name
            .d-flex.ai-center.jc-between.pr-4
              .label.text-altblue.fw-600 Catégorie
              .value.text-darkblue.fw-600
                = @subscription.category
          .col-12.col-md-6
            .d-flex.ai-center.jc-between.pr-5
              .label.text-altblue.fw-600
                - if @subscription.annual?
                  = "Coût HT / An"
                - else
                  = "Coût HT / Mois"
              .value.text-darkblue.fw-600
                = number_with_delimiter(@subscription.int_amount, locale: :fr) + " €"
        .title.mt-2 Durée
        .row
          .col-12.col-md-6
            .d-flex.ai-center.jc-between.pr-4
              .label.text-altblue.fw-600 Date de début
              .value.text-darkblue.fw-600
                = l(@subscription.start_date, format: :french)
          .col-12.col-md-6
            .d-flex.ai-center.jc-between.pr-5
              .label.text-altblue.fw-600 Date de fin
              .value.text-darkblue.fw-600
                = l(@subscription.end_date, format: :french)

    .col-12.col-md-4
      .sub-show-block.top.bck-smoothblue
        .title.text-center.text-white Actions

        .d-flex.ai-center.jc-between.px-4
          .d-flex.d-column.ai-center{"data-target" => "#sub-destroy-modal", "data-toggle" => "modal"}
            .svg-btn
              = unicon_svg(name: "trash-alt", size: 23, color: "orange")
            .small-btn-label Supprimer

          .d-flex.d-column.ai-center
            = remote_link_to(target: dashboard_subscription_close_path(@subscription), dynamic_dom_receiver: "section.content", class: "svg-btn", trackable_url: true) do
              = unicon_svg(name: "padlock", size: 23, color: "#{application_colors(:lightblue)}")
            .small-btn-label Clôturer

          .d-flex.d-column.ai-center
            = remote_link_to(target: dashboard_subscription_renew_path(@subscription), dynamic_dom_receiver: "section.content", class: "svg-btn", trackable_url: true) do
              = unicon_svg(name: "sync", size: 23, color: "#{application_colors(:green)}")
            .small-btn-label Renouveler

          .d-flex.d-column.ai-center
            = remote_link_to(target: edit_dashboard_subscription_path(@subscription), dynamic_dom_receiver: "section.content", class: "svg-btn", trackable_url: true) do
              = unicon_svg(name: "pen", size: 23, color: "#{application_colors(:yellow)}")
            .small-btn-label Modifier
  .row
    .col-12.col-md-8
      .sub-show-block.bottom
        .title Mes charges sur l'année
        = generate_chart(id: "subs-costs", chart_type: "line", datas: @management_datas[:costs], labels: @management_datas[:labels], height: "70")
    .col-12.col-md-4
      .sub-show-block.bottom
        .title Synthèse de mon abonnement
        .sub-stat-item
          %h4
            = number_with_delimiter(@subscription.year_sum.to_i, locale: :fr) + " €"
          .small Sur l'année
        .sub-stat-item
          %h4
            = "#{sub_cost_percent(@subscription.year_sum,@management_datas[:current_year_subs_sum])} %"
          .small De mes charges


#sub-destroy-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          = unicon_svg(name: "times", size: 30, color: "orange")
        .modal-title
          = "Je supprime mon abonnement #{@subscription.name}"
        %p.text-darkblue.my-3.text-center
          En supprimant l'abonnement, j'efface aussi toutes les données renseignées sur celui-ci.
          Si je veux conserver ces données je peux cliquer sur le bouton Clôturer ci-dessous.
        .d-flex.ai-center.jc-center
          = remote_link_to(target: dashboard_subscription_close_path(@subscription), dynamic_dom_receiver: "section.content", dismiss: "modal", trackable_url: true) do
            .btn.btn-smooth-blue.mx-2 Clôturer

          = remote_link_to(target: dashboard_subscription_path(@subscription), method: "delete", dynamic_dom_receiver: "section.content", dismiss: "modal", trackable_url: false) do
            .btn.btn-blue.mx-2 Supprimer
