.costs-month-list-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
  a {
    .costs-month-item {
      padding: 4px 12px;
      border-radius: 20px;
      border: 1px solid darken($bck-gray,10%);
      margin-right: 10px;
      font-size: 0.8rem;
      color: $dark-blue;
      font-weight: 600;
      &.active {
        border-color: $light-blue;
        color: white;
        background-color: $light-blue;
      }
    }
  }
}

section.new-month-cost {
  .small {
    font-weight: 600;
    color: tomato;
  }
  .new-cost-month-title {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .section-title {
    color: $light-blue;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

section.show-month-cost {
  h4 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 1rem;
    b {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}






