.alert.alert-has-icon {
  display: inline-flex;
  align-items: center;
  width: auto;
  margin-bottom: 0;
  .alert-title {
    margin-bottom: 0;
  }
  &.white-alert {
    background-color: white;
    font-weight: 600;
    color: $stisla-dark-blue;
    font-size: 0.8rem;
    letter-spacing: .5px;
    .alert-title {
      color: $stisla-red;
      font-weight: 800;
      font-size: 1rem;
    }
  }
}

.alert-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
}
