.synthesis-block {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .top-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    h5 {
      color: darken($light-blue,10%);
      font-weight: 700;
    }
    p {
      font-size: 0.9rem;
      font-weight: 700;
      color: lighten($dark-blue,5%);
    }
  }
  .bottom-item {
    padding: 20px;
    padding-top: 0;
  }
}

.base-block {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 37vh;
  position: relative;
  overflow: hidden;
  .label {
    font-weight: 500;
    color: darken($light-blue,20%);
  }
  .value {
    font-weight: 600;
    color: lighten($dark-blue,5%);
  }
  &.bck-light-blue {
    background-color: $light-blue;
    .top-item {
      h5 {
        color: white;
      }
    }
  }
  &.noheight {
    height: unset;
  }
  &.sm-block {
    height: 26vh;
  }
  &.lg-block {
    height: 48vh;
  }
  &.fullpage {
    height: 74vh;
  }
  .top-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    h5 {
      color: $light-blue;
      font-size: 1.2rem;
      font-weight: 700;
    }
    h3,h4 {
      color: $light-blue;
      justify-content: space-between;
      font-weight: 700;
    }
  }
  .bottom-item {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    .price {
      font-size: 1.6rem;
      font-weight: 700;
      color: $dark-blue;
      margin-left: 10px;
    }
    p {
      font-size: 1rem;
      color: $dark-blue;
      font-weight: 600;
      margin-bottom: 10px;
    }
    h3,h4,h5 {
      font-weight: 700;
      color: darken($light-blue,10%);
    }
  }
}

.pending-feature-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: rgba(50,50,60,0.5);
  .pending-feature {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: darken($light-blue,10%);
    color: white;
    font-weight: 600;
    svg {
      width: 15px;
      height: 15px;
      stroke-width: 3;
    }
    p {
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: 700;
    }
  }
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 700;
  color: $light-blue;
}


.treasury-block {
  padding: 20px;
  background-color: $bck-gray;
  border-radius: 5px;
  .amount {
    font-size: 1.7rem;
    font-weight: 700;
  }
  p {
    font-weight: 600;
    color: $dark-blue;
    font-size: 0.7rem;
  }
}


section.fullheight-layout {
  height: calc(100vh - 80px);
  padding: 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  .fullheight-base-block {
    width: 100%;
    height: 70%;
    border-radius: 4px;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    &.nocolor {
      background-color: transparent;
    }
    &.success-block {
      svg {
        width: 120px;
        height: 120px;
      }
      h4 {
        font-weight: 700;
        color: $light-blue;
        text-align: center;
      }
      p {
        font-weight: 500;
        color: $dark-blue;
        margin: 30px 0;
        text-align: center;
      }
    }
    h5 {
      font-weight: 700;
      color: $light-blue;
      margin-bottom: 20px;
    }
    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .input.field_with_errors {
        position: relative;
        span.error {
          position: absolute;
          right: 10px;
          top: 0;
          height: calc(100% - 15px);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.9rem;
          font-weight: 600;
          color: tomato;
        }
      }
      .input.field_with_hint {
        position: relative;
        span.hint {
          position: absolute;
          height: calc(100% - 15px);
          top: 0;
          font-weight: 600;
          right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: darken($bck-gray,40%);
        }
      }
      .form-control {
        height: 45px;
        border: none;
        background-color: $bck-gray;
        margin-bottom: 15px;
        font-weight: 600;
        &::placeholder {
          color: darken($bck-gray,30%);
          font-weight: 600;
        }
      }
    }
  }
}

.compromise-info-block {
  padding: 20px;
  background-color: white;
  display: flex;
  border-radius: 4px;
  margin-top: 10px;
  flex-direction: column;
  .label {
    color: $light-blue;
    font-weight: 500;
  }
  .value {
    color: $dark-blue;
    font-weight: 700;
  }
}

.question {
  margin: 15px 0;
  p {
    font-weight: 500;
    color: $dark-blue;
  }
}

.fullheight-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  &.validation-success {
    svg {
      width: 120px;
      height: 60px;
      stroke: darken($light-blue,5%);
    }
    h4 {
      color: $light-blue;
      font-weight: 700;
      margin: 25px 0;
    }
  }
}

.costs-breakdown-block {
  padding: 20px;
  background-color: $alt-blue;
  display: flex;
  border-radius: 4px;
  color: white;
  height: 100%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  .subtitle {
    color: white;
  }
  h6 {
    font-weight: 700;
    font-size: 1.7rem;
  }
}

i.block-subtitle {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .base-block {
    margin: 0 !important;
    margin-bottom: 20px !important;
    height: unset !important;
  }
}

@media(max-width: 768px) {
  section.fullheight-layout {
    padding: 0;
    .fullheight-base-block {
      padding: 20px;
    }
  }
}

.cost-form-block {
  padding: 20px;
  background-color: $bck-gray;
  border-radius: 4px;
  .new-cost-month-title {
    margin-bottom: 20px;
    color: $light-blue;
  }
  .custom-form-control {
    border: none !important;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &.field_with_hint {
      span.hint {
        position: absolute;
        right: 10px;
        top: 0;
        height: calc(100% - 10px);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    label {
      min-width: 130px;
      font-weight: 700;
      letter-spacing: -0.4px;
      color: darken($light-blue, 20%);
      &.required {
        abbr {
          display: none;
        }
      }
    }
  }
}

.cost-show-block {
  padding: 20px;
  background-color: $bck-gray;
  border-radius: 4px;
  .subtitle {
    font-size: 1.4rem;
    font-weight: 700;
    color: $light-blue;
  }
  h5 {
    color: darken($light-blue,10%);
    font-weight: 700;
    letter-spacing: -0.4px;
    b {
      color: $dark-blue;
    }
  }
}

.context-block {
  height: 100%;
  display: flex;
  background-color: rgb(60,120,190);
  padding: 20px;
  padding-top: 30px;
  position: relative;
  flex-direction: column;
  .user-help-icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.freeheight-block {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  .title {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

