.btn-blue {
  background-color: $light-blue;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.7;
  }
}

.btn-smooth-blue {
  background-color: $smooth-blue;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.7;
  }
}

.btn-orange {
  background-color: $orange;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.7;
  }
}

.btn-green {
  background-color: $green;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.7;
  }
}

.btn-lightblue {
  background-color: lighten($bluegray,15%);
  font-weight: 600;
  color: white;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.7;
  }
}

.icon-edit-btn {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background-color: darken($yellow,10%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    stroke: white;
    width: 60%;
  }
}

.table-show-link {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 6px;
  background-color: lighten($yellow,20%);
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    transform: rotate(-90deg);
    fill: darken($yellow,15%);
    width: 24px;
    height: 24px;
  }
}


.poll-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  svg {
    width: 45px;
    height: 45px;
  }
  p {
    font-size: 0.9rem !important;
    color: $dark-blue;
    &.sad {
      color: tomato;
      font-weight: 700;
    }
    &.mitigate {
      color: orange;
      font-weight: 700;
    }
    &.happy {
      color: $green;
      font-weight: 700;
    }
  }
}

.svg-yellow-button {
  padding: 6px;
  background-color: $yellow;
  border-radius: 4px;
  svg {
    width: 16px;
    height: 16px;
    stroke: white;
  }
}

.svg-blue-button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-blue;
  border-radius: 4px;
  svg {
    width: 22px;
    height: 22px;
    stroke: white;
  }
}

.unbox-btn {
  font-size: 1rem;
  font-weight: 600;
  color: $light-blue;
  &:hover {
    color: darken($light-blue,20%);
  }
}


.svg-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: rgb(240,240,245);
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: rgb(230,230,235);
  }
}

.stripe-btn {
  cursor: pointer;
  color: $dark-blue;
  background-color: rgba(255,255,255,0.9);
  transition: 0.3s;
  font-weight: 600;
  &:hover {
    background-color: rgba(255,255,255,1);
  }
}







