.dashboard-card {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  .card-header {
    color: $dark-blue;
  }
  .card-body {

  }
  .card-footer {

  }
}


.reinsurance-card {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 70px;
  .big-brand-inline-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    svg {
      width: 220px;
      height: 80px;
    }
  }
  .reinsurance-card-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      color: $dark-blue;
      font-weight: 600;
      margin-left: 8px;
      font-size: 1.1rem;
    }
    svg {
      stroke: $light-blue;
      height: 20px;
    }
  }
}

.platform-sub-card {
  border-radius: 4px;
  width: 100%;
  height: 300px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  h4 {
    font-weight: 700;
  }
  h3.sub-price {
    font-weight: 700;
  }
  p.sub-desc {
    font-size: 1.1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.monthly {
    background-color: $light-blue;
  }
  &.annual {
    background-color: $smooth-blue;
  }
  &.test {
    background-color: tomato;
  }
}

.current-subscription-card {
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  .small {
    font-weight: 600;
    color: rgb(140,140,160);
  }
}

.billing-infos-card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  .label {
    color: darken($light-blue,20%);
    font-size: 1rem;
  }
  .value {
    font-weight: 600;
    font-size: 1rem;
  }
}










