.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-legend-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .chart-legend-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    p {
      margin-left: 7px;
      font-size: 0.9rem;
      font-weight: 600;
      color: lighten($dark-blue,5%);
    }
  }
}


.chart-legend-simple-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  .chart-legend-simple-container-item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p {
      margin-left: 6px;
      font-weight: 600;
      font-size: 0.9rem;
      color: lighten($dark-blue,5%);
    }
  }
}


.chart-legend-simple {
  width: 30px;
  height: 14px;
  border-radius: 30px;
  &.rent {
    background-color: rgb(255,229,164);
  }
  &.subscriptions {
    background-color: rgb(43,121,172);
  }
  &.wages {
    background-color: rgb(255,200,57);
  }
  &.others {
    background-color: rgb(0,162,208);
  }
  &.done {
    background-color: $light-blue;
  }
  &.estimated {
    background-color: $light-blue-lighter;
  }
}

.chart-legend {
  width: 30px;
  height: 14px;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  .left-color {
    width: 50%;
    height: 100%;
  }
  .right-color {
    width: 50%;
    height: 100%;
  }
  &.done {
    .left-color {
      background-color: darken($bluegray,20%);
    }
    .right-color {
      background-color: $bluegray;
    }
  }
  &.ongoing {
    .left-color {
      background-color: $light-blue;
    }
    .right-color {
      background-color: lighten($light-blue,25%);
    }
  }
  &.estimated {
    .left-color {
      background-color: $yellow;
    }
    .right-color {
      background-color: lighten($yellow,20%);
    }
  }
}


.doughnut-chart-centered-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .first {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    &.big {
      font-size: 1.8rem;
    }
  }
  .last {
    font-size: 0.8rem;
    font-weight: 600;
    &.big {
      font-size: 1.1rem;
    }
  }
}












