section.contextual-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 20px;
  h4 {
    color: $light-blue;
    font-weight: 700;
    font-size: 1.8rem;
  }
}
