.costs-year-selector {
  .current-year {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2rem;
    width: 60px;
  }
  svg {
    stroke: darken($bck-gray, 30%);
  }
}
