.custom-modal-container {
  position: fixed;
  top: 0;
  left: 60px;
  z-index: 1000;
  height: 100vh;
  width: calc(100vw - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(125,125,130,0.5);
  &.backdrop-filter {
    background-color: transparent;
    backdrop-filter: blur(15px) contrast(60%);
  }
  .custom-modal {
    max-height: 50%;
    width: 35%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .modal-closer {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .custom-modal-header {
      flex: 1;
      border-bottom: 1px solid rgb(230,230,235);
    }
    .custom-modal-body {
      flex: 4;
      overflow-y: scroll;
      padding: 20px;
    }
    .custom-modal-footer {
      flex: 1;
      border-top: 1px solid rgb(230,230,235);
    }
  }
}

@supports (backdrop-filter: blur(20px)) {
  .custom-modal-container {
    &.backdrop-filter {
      background-color: transparent;
      backdrop-filter: blur(15px) contrast(60%);
    }
  }
}
@supports not (backdrop-filter: blur(20px)) {
  .custom-modal-container {
    &.backdrop-filter {
      background-color: rgba(50,50,55,0.4);
    }
  }
}



