.simple-footer {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}


.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}



.fs-07 {
  font-size: 0.7rem !important;
}
.fs-08 {
  font-size: 0.8rem !important;
}
.fs-09 {
  font-size: 0.9rem !important;
}
.fs-10 {
  font-size: 1rem !important;
}
.fs-11 {
  font-size: 1.1rem !important;
}
.fs-12 {
  font-size: 1.2rem !important;
}
.fs-13 {
  font-size: 1.3rem !important;
}



.card {
  ul {
    margin-bottom: 0;
  }
  .summary {
    .summary-item {
      margin-top: 0;
      ul {
        margin-bottom: 0;
      }
    }
  }
}

.fullheight-section {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
}


.empty-state {
  h2 {
    color: $stisla-dark-blue;
    font-size: 1.1rem;
    margin-top: 20px;
  }
  .empty-state-icon {
    line-height: 0;
    width: 40px;
    height: 40px;
  }
}


.card {
  .card-header {
    h4 {
      letter-spacing: 2px;
      font-size: 0.8rem;
      color: $stisla-dark-blue;
      text-transform: uppercase;
    }
    .custom-btn-icon {
      margin-top: 0;
      cursor: pointer;
    }
  }
  .card-body {
    &.no-padding {
      padding: 0;
    }
  }
}

.media-body {
  &.custom-media-body {
    padding: 25px;
  }
  .media-links {
    a {
      font-size: 0.75rem;
      font-weight: 700;
      color: lighten($stisla-dark-blue,5%);
    }
  }
}

li.media {
  &.no-pad-no-marg {
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 20px;
  }
}

.media-title-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .media-title {
    margin-bottom: 0;
  }
}

.generic-flex {
  display: flex;
  align-items: center;
  &.jc-between {
    justify-content: space-between;
  }
}

.field-label {
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}
.field-value {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
}


.main-sidebar {
  .sidebar-menu {
    li {
      a {
        font-size: 0.9rem;
        font-weight: 700;
        color: rgba(30,50,80,0.4);
      }
    }
    li.active {
      a {
        font-weight: 700;
        color: $stisla-dark-blue;
      }
    }
  }
}

.navbar {
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 890;
  width: calc(100% - 250px);
  margin-left: 250px;
  background-color: #e6ebf2;
  .nav-link.nav-link-user {
    font-weight: 600;
    font-size: 0.9rem;
    color: $stisla-dark-blue;
  }
}

.main-content {
  padding-top: 40px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.dropdown-menu-right.adjusted-menu {
  top: calc(100% + 21px);
  margin-top: 0;
  padding: 0;
  &.adjusted-menu-user {
    top: calc(100% + 19px);
  }
  .dropdown-title {
    font-weight: 800;
    font-size: 0.55rem;
    color: #98a6ad !important;
  }
  .dropdown-header {
    color: $stisla-dark-blue;
    font-weight: 700;
    font-size: 0.9rem;
    border-bottom: 1px solid #f9f9f9;
  }
}

.dropdown-menu {
  overflow: hidden;
  .dropdown-divider {
    margin: 0;
  }
  a.dropdown-item {
    font-size: 0.85rem;
    font-weight: 700;
    color: $stisla-dark-blue;
    padding: 12px 20px;
    &.dropdown-item-unread {
      background-color: white;
      border-bottom: 1px solid #f9f9f9;
    }
    .dropdown-item-desc {
      margin-left: 0;
    }
  }
}



.dropdown-list .dropdown-list-icons .dropdown-item .dropdown-item-icon {
  flex-shrink: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  line-height: 1;
  text-align: center;
}

.dropdown-list .dropdown-list-icons .dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-list .dropdown-list-content {
  max-height: 350px;
  height: auto;
  overflow-y: scroll;
}

.dropdown-list .dropdown-list-content:not(.is-end):after {
  content: "";
  display: none;
}

ul.navbar-nav.navbar-right {
  align-items: center;
}


.custom-card-footer {
  border-top: 1px solid #f9f9f9;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.unstyle-link {
  text-decoration: none;
  &:last-child {
    li.media {
      border-bottom: none;
    }
  }
  &:hover {
    text-decoration: none;
  }
  li.media {
    text-decoration: none;
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid #f9f9f9;
    .media-title {
      margin: 0;
    }
    &:hover {
      background-color: #f9f9f9;
    }
  }
}

.progress-texts {
  color: $stisla-dark-blue;
  font-size: 0.9rem;
}

.form-group.custom {
  label {
    font-weight: 700;
    color: $stisla-dark-blue;
    font-size: 0.8rem;
    letter-spacing: .5px;
    &.label-custom {
      font-weight: 700;
    }
  }
  &.radios-boolean {
    margin: 0;
    .input.radio_buttons {
      display: flex;
      align-items: center;
      input[type="radio"] {
        display: none;
        &:checked + label {
          color: darken($stisla-green,20%);
          background-color: $stisla-green-light;
        }
      }
      input[value="1"]:checked + label {
        color: darken($stisla-red,10%);
        background-color: $stisla-red-light;
      }
      label {
        padding: 11px 13px;
        line-height: 1;
        border-radius: 3px;
        font-weight: 700;
        font-size: 0.72rem;
        background-color: lighten($stisla-gray-light,5%);
        color: $stisla-dark-blue;
        cursor: pointer;
        margin: 0;
        margin-right: 10px;
      }

    }
  }
  &.radios-classic {
    margin: 0;
    .input.radio_buttons {
      display: flex;
      align-items: center;
      input[type="radio"] {
        display: none;
        &:checked + label {
          color: darken($stisla-green,20%);
          background-color: $stisla-green-light;
        }
      }
      label {
        padding: 11px 13px;
        line-height: 1;
        border-radius: 3px;
        font-weight: 700;
        font-size: 0.72rem;
        background-color: lighten($stisla-gray-light,5%);
        color: $stisla-dark-blue;
        cursor: pointer;
        margin: 0;
        margin-right: 10px;
      }

    }
  }
}


.card.card-hero .card-header {
  &.primary {
    background-image: linear-gradient(to bottom, rgb(40,43,47), rgb(60,63,67));
  }
}

.field-item {
  padding: 25px 30px;
  border-bottom: 1px solid rgba(230,234,239,0.55);
  &.flex {
    display: flex;
    padding: 0;
  }
  &.no-border {
    border-bottom: none;
  }
  .half-size {
    width: 50%;
    padding: 25px 30px;
    &.bordered {
      border-left: 1px solid rgba(230,234,239,0.55);
    }
  }
}

.d-flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.ai-center {
    align-items: center;
  }
  &.ai-start {
    align-items: flex-start;
  }
  &.jc-center {
    justify-content: center;
  }
}

.text-dark {
  color: $stisla-dark-blue !important;
}


.half-card-body {
  width: 100%;
  display: flex;
  .half-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    .item-header {
      text-transform: uppercase;
      padding: 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      h5 {
        font-size: 0.6rem;
        letter-spacing: 2px;
        font-weight: 800;
        margin-bottom: 0;
        &.txt-danger {
          color: $stisla-red;
        }
        &.txt-dark {
          color: $stisla-dark-blue;
        }
        &.txt-success {
          color: $stisla-green;
        }
        &.txt-primary {
          color: $stisla-purple;
        }
        &.txt-warning {
          color: $stisla-orange;
        }
      }
    }
    .item-body {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 25px;
      p {
        font-size: 1.5rem;
        font-weight: 700;
        color: $stisla-dark-blue;
        margin-bottom: 15px;
      }
    }
    &.bordered {
      border-left: 1px solid #f9f9f9;
    }
  }
}


.instance-full-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  padding: 15px 25px;
  &:last-child {
    border-bottom: none;
  }
  .instance-label {
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(140,148,165);
    margin-right: 10px;
  }
  .instance-value {
    font-size: 0.9rem;
    font-weight: 700;
    color: $stisla-dark-blue;
  }
}


.jc-between {
  justify-content: space-between;
}


.card {
  .card-header {
    .btn {
      margin-top: 0;
    }
  }
}

.table-date {
  font-size: 0.8rem;
  font-weight: 700;
  color: $stisla-dark-blue;
}
.table-name {
  font-size: 0.9rem;
  font-weight: 700;
  color: $stisla-dark-blue;
}
.table-amount {
  font-size: 0.9rem;
  font-weight: 700;
  color: $stisla-dark-blue;
}

.no-border {
  border: none !important;
}

