.datepicker.datepicker-dropdown {
  padding: 20px;
  td,th {
    width: 35px;
    height: 35px;
    text-align: center;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    &.day:hover {
      background-color: $bck-gray;
    }
  }
  th.datepicker-switch {
    font-weight: 600;
    font-size: 1.2rem;
  }
  td.disabled.disabled-date {
    cursor: not-allowed;
    color: tomato !important;
    opacity: 0.4;
  }
  th.dow {
    font-weight: 600;
    font-size: 0.7rem;
    color: darken($bck-gray,40%);
  }
  td.old.day {
    color: darken($bck-gray,15%);
  }
  td.new.day {
    color: darken($bck-gray,15%);
  }
  td.active.day {
    background-image: none;
    background-color: $light-blue;
    color: white;
    font-weight: 600;
    text-shadow: none;
    transition: 0.3s;
    &:hover {
      background-image: none;
      background-color: darken($light-blue,5%);
    }
  }
}









