section.fixed_user_menu {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  align-items: center;
  padding: 9px 16px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  z-index: 10000000;
  box-shadow: 0 0 5px 0px rgba(100,100,100,0.4);
  .fixed-menu-link {
    display: flex;
    align-items: center;
    color: $dark-blue;
    font-size: 0.8rem;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      color: lighten($dark-blue,25%);
    }
    svg {
      width: 15px;
      height: 15px;
    }
  }
}
