.relative-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
  span.error {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    font-weight: 600;
    font-size: 0.8rem;
    color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-icon {
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input {
    width: 100%;
    height: 100%;
  }
  input {
    font-weight: 600;
    width: 100%;
    outline: none;
    height: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
    text-transform: lowercase;
    &::placeholder {
      font-weight: 600;
      color: darken($bck-gray,25%);
    }
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

.result-container {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  min-height: 100%;
  background-color: white;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  z-index: 100000;
  .result-header {
    padding: 10px 15px;
    background-color: $bck-gray;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $bck-gray;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .item {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid $bck-gray;
    background-color: white;
    padding: 12px;
    white-space: nowrap;
    transition: 0.3s;
    line-height: 0.7;
    &::-webkit-scrollbar {
      height: 0;
      background-color: darken($bck-gray,15%);
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($bck-gray,30%);
    }
    .search-icon {
      min-width: 40px;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      svg {
        height: 60%;
      }
    }
    &:hover {
      background-color: $bck-gray;
      overflow-x: auto;
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
    p {
      display: none;
      font-size: 0.8rem;
      word-break: break-word;
    }
  }
}

.company-name, .company-postal-code, .company-city, .company-com-name, .company-siret, .company-juridical-nature, .company-siren, .company-activity-start-date, .company-full-address {
  // min-width: 110px;
  // max-width: 110px;
  // overflow-x: hidden;
  // text-overflow: ellipsis;
  margin-right: 10px;
  color: rgb(60,60,60);
  font-weight: 500;
  text-transform: lowercase;
  p {
    font-size: 0.8rem !important;
    margin-bottom: 0;
    color: darken($bck-gray,30%);
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 6px;
  }
}

.company-name {
  font-weight: 600;
}
.company-postal-code, .company-city {
  font-weight: 600;
  color: rgb(160,160,180);
}
.company-siret {
  font-size: 0.8rem;
  font-weight: 700;
}
.company-postal-code {
  margin-right: 5px;
}

.company-com-name, .company-juridical-nature, .company-siren, .company-activity-start-date, .company-full-address {
  display: none;
}


.result-container::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
  height: 8px;
  background-color: darken($bck-gray,3%);
}
.result-container::-webkit-scrollbar-thumb {
  background: darken($bck-gray,20%);
  border-radius: 20px;
}











