.fixed-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 0;
  width: calc(100% - 60px);
  ul.pagination {
    li {
      margin: 0 5px;
      border-radius: 3px;
      background-color: darken($bck-gray,10%);
      width: 30px;
      height: 30px;
      a {
        height: 100%;
        width: 100%;
        color: rgb(50,50,60);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.active {
        background-color: darken($bck-gray,65%);
        a {
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}

.relative-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  ul.pagination {
    li {
      margin: 0 5px;
      border-radius: 3px;
      background-color: darken($bck-gray,10%);
      width: 30px;
      height: 30px;
      a {
        height: 100%;
        width: 100%;
        color: rgb(50,50,60);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.active {
        background-color: darken($bck-gray,65%);
        a {
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .fixed-pagination {
    width: 100%;
  }
}
