.modal-content {
  border: none;
  box-shadow: none;
  .modal-title {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
    color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-body {
    padding: 35px;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    &:focus {
      outline: none;
    }
  }
}

.modal-backdrop {
  background-color: transparent;
  &.show {
    opacity: 1;
    background-color: transparent;
    backdrop-filter: blur(15px) contrast(60%);
  }
}
