.file-progress-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  .file-progress {
    height: 100%;
    background-color: rgba(255,255,255,0.5);
  }
}
