.edmond-simulation-widget {
  .header {
    background-color: rgb(40,40,50);
    color: white;
    width: 100%;
    padding: 14px;
  }
  position: fixed;
  font-family: -apple-system,BlinkMacSystemFont,Cerebri Sans,Helvetica,Arial,sans-serif !important;
  bottom: 50px;
  right: 50px;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
}
