.horizontal-slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .sliders-container {
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
    width: 100%;
    border-radius: 5px;
  }
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin: 0 10px;
      font-weight: 600;
      font-size: 0.9rem;
      color: rgba(255,255,255,0.6);
      &:active {
        color: rgba(255,255,255,1);
      }
    }
  }
  .slider-container {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    position: relative;
    .slider-item {
      height: 100%;
      width: 100%;
      padding: 20px;
    }
  }
}



.sliders-container::-webkit-scrollbar {
  display: none;
}
