.stripe-payment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .stripe-exp-date {
    color: rgb(80,80,90);
    font-weight: 600;
    display: flex;
    align-items: center;
    .small {
      font-weight: 700;
      margin-right: 10px;
    }
  }
  .stripe-card-number {
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(120,120,130);
    margin: 0 20px;
  }
  .stripe-card-svg {
    filter: grayscale(1);
    svg {
      width: 30px;
      height: 25px;
    }
  }
}
