.feather-container {
  width: 43px;
  height: 43px;
  border-radius: 3px;
  background-color: rgba(102,120,236,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 53%;
    height: 53%;
  }
  &.white {
    background-color: transparent;
    width: 100%;
    height: 100%;
    svg {
      width: 85%;
      height: 85%;
      stroke: white;
    }
  }
  &.blue {
    background-color: $stisla-blue-light;
    svg {
      stroke: $stisla-blue;
      fill: $stisla-blue;
    }
  }
  &.green {
    background-color: $stisla-green-light;
    svg {
      stroke: $stisla-green;
      fill: $stisla-green;
    }
  }
  &.red {
    background-color: $stisla-red-light;
    svg {
      stroke: $stisla-red;
      fill: $stisla-red;
    }
  }
  &.purple {
    background-color: $stisla-purple-light;
    svg {
      stroke: $stisla-purple;
      fill: $stisla-purple;
    }
  }
  &.orange {
    background-color: $stisla-orange-light;
    svg {
      stroke: $stisla-orange;
      fill: $stisla-orange;
    }
  }
}


.feather-rounded-container {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: rgba(102,120,236,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-size: 87%;
  background-position: center 170%;
  background-repeat: no-repeat;
  svg {
    width: 53%;
    height: 53%;
  }
  &.small-container {
    width: 20px;
    height: 20px;
  }
  &.medium-container {
    width: 26px;
    height: 26px;
  }
  &.white {
    background-color: transparent;
    width: 100%;
    height: 100%;
    svg {
      width: 85%;
      height: 85%;
      stroke: white;
    }
  }
  &.blue {
    background-color: $stisla-blue-light;
    svg {
      stroke: $stisla-blue;
      fill: $stisla-blue;
    }
  }
  &.blue-stroke {
    background-color: $stisla-blue-light;
    svg {
      stroke: $stisla-blue;
      stroke-width: 3;
    }
  }
  &.green {
    background-color: $stisla-green-light;
    svg {
      stroke: $stisla-green;
      fill: $stisla-green;
    }
  }
  &.green-stroke {
    background-color: $stisla-green-light;
    svg {
      stroke: $stisla-green;
      stroke-width: 3;
    }
  }
  &.red {
    background-color: $stisla-red-light;
    svg {
      stroke: $stisla-red;
      fill: $stisla-red;
    }
  }
  &.red-stroke {
    background-color: $stisla-red-light;
    svg {
      stroke: $stisla-red;
      stroke-width: 3;
    }
  }
  &.purple {
    background-color: $stisla-purple-light;
    svg {
      stroke: $stisla-purple;
      fill: $stisla-purple;
    }
  }
  &.purple-stroke {
    background-color: $stisla-purple-light;
    svg {
      stroke: $stisla-purple;
      stroke-width: 3;
    }
  }
  &.orange {
    background-color: $stisla-orange-light;
    svg {
      stroke: $stisla-orange;
      fill: $stisla-orange;
    }
  }
  &.orange-stroke {
    background-color: $stisla-orange-light;
    svg {
      stroke: $stisla-orange;
      stroke-width: 3;
    }
  }
  &.gray {
    background-color: $stisla-gray-light;
    color: $stisla-gray-light;
    svg {
      stroke: $stisla-gray;
      fill: $stisla-gray;
    }
  }
  &.gray-stroke {
    background-color: $stisla-gray-light;
    color: $stisla-gray-light;
    svg {
      stroke: $stisla-gray;
      stroke-width: 3;
    }
  }
}

