ul.nav.custom-tabs-navigation {
  border-bottom: 2px solid $bck-gray;
  li.nav-item {
    a.nav-link {
      padding: 12px 16px;
      color: rgb(160,160,170);
      font-weight: 600;
      position: relative;
      &.active {
        color: $dark-blue;
        &:after {
          content: "";
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          border-bottom: 2px solid $yellow;
        }
      }
    }
  }
}

.custom-tab-content {
  padding: 0;
}


ul.nav.custom-tabs-navigation {
  li.nav-item {
    a {
      .nav-link {
        font-weight: 600;
        padding: 12px 24px;
        position: relative;
        color: darken($bck-gray,30%);
        &.active {
          color: $dark-blue;
          &:after {
            content: "";
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            border-bottom: 2px solid $yellow;
          }
        }
      }
    }
  }
}
