table.table {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.table tbody + tbody {
  border: none;
}

.table thead th {
  border: none;
}

.table {
  thead {
    tr {
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: darken($bck-gray,40%);
      background-color: darken($bck-gray,7%);
      padding: 1rem;
      user-select: none;
    }
    th {
      padding: 12px 1rem;
      border: none;
      cursor: pointer;
      svg {
        width: 18px;
        height: 9px;
        stroke-width: 4;
        transform: rotate(90deg);
      }
      &:first-child {
        // padding-left: 0;
      }
    }
  }
  tbody + tbody {
    border: none;
  }
  tbody tr {
    font-size: 1rem;
    font-weight: 600;
  }
  tbody tr:first-child {
    td {
      border-top: none;
    }
    th {
      border-top: none;
    }
  }
  tbody td {
    padding: 1rem;
    border-top: 2px solid $bck-gray;
    position: relative;
  }
  tbody th {
    padding: 1rem;
    border-top: 2px solid $bck-gray;
    &:first-child {
      // padding-left: 0;
    }
  }
}

@media(max-width: 768px) {
  .table {
    thead {
      th {
        min-width: 150px;
        overflow: hidden;
      }
    }
  }
}




