.toasts-container {
  width: 280px;
  height: 100vh;
  z-index: 30000;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  .container-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(40,40,45);
    padding: 15px 0;
  }
  .custom-toast {
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-top: 1px solid $bck-gray;
    &.info {
      svg {
        stroke: $light-blue;
      }
    }
    &.warning {
      svg {
        stroke: tomato;
      }
    }
    &.reminder {
      svg {
        stroke: $green;
      }
    }
    &.create {
      svg {
        stroke: $green;
      }
    }
    .toast-header {
      padding: 6px 20px;
      padding-top: 20px;
      font-weight: 700;
      justify-content: space-between;
      border-bottom: none;
      color: rgb(40,40,45);
      .title-container {
        display: flex;
        align-items: center;
        .toast-title {
          margin-left: 7px;
        }
        svg {
          width: 17px;
          stroke-width: 3;
          padding-top: 1px;
        }
      }
      .time {
        font-weight: 600;
        font-size: 0.8rem;
        color: darken($bck-gray,23%);
      }
    }
    .toast-content {
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 500;
      font-size: 0.9rem;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          color: rgb(140,140,150);
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
