= render "dashboard/shared/current_path"
.fadein
  = render "dashboard/pages/partials/management/header"
  %section.management
    %ul.nav.custom-tabs-navigation
      %li.nav-item
        = remote_link_to(target: dashboard_treasury_path, dynamic_dom_receiver: ".custom-tab-content", toggable: ".nav-link", trackable_url: true) do
          .nav-link.active
            = "Ma trésorerie"
      %li.nav-item
        = remote_link_to(target: dashboard_sells_path, dynamic_dom_receiver: ".custom-tab-content", toggable: ".nav-link", trackable_url: true) do
          .nav-link
            = "Mes honoraires"
      %li.nav-item
        = remote_link_to(target: dashboard_costs_path, dynamic_dom_receiver: ".custom-tab-content", toggable: ".nav-link", trackable_url: true) do
          .nav-link
            = "Mes charges"
      %li.nav-item
        = remote_link_to(target: dashboard_subscriptions_path, dynamic_dom_receiver: ".custom-tab-content", toggable: ".nav-link", trackable_url: true) do
          .nav-link
            = "Mes abonnements"

    .tab-content.custom-tab-content
      = render "dashboard/pages/partials/management/treasury"

= render "dashboard/pages/partials/restricted_access_modal"
