%section.d-flex.d-column.ai-center.jc-center.height100
  %h4.fw-700.text-lightblue.mb-1.d-none
    = "Vous avez terminé votre période d'essai gratuite"
  %h4.fw-700.text-lightblue
    = "Souscrivez pour accéder à votre outil Edmond"

  .d-flex.ai-center.jc-center.mt-3
    = remote_link_to(target: dashboard_subscription_infos_path, dynamic_dom_receiver: "section.content", trackable_url: true, class: "useless") do
      .btn.btn-blue Souscrire
    = remote_link_to(target: new_dashboard_financing_request_path, dynamic_dom_receiver: "section.content", pattern: "html", trackable_url: true) do
      .btn.btn-blue.ml-2 Demander une avance

#restricted-account.modal.fade{"data-backdrop": "static"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-body
        .d-flex.ai-center.d-column
          = dynamic_svg(name: "chapeau-edmond", size: 70)
          %h4.fw-700 Bienvenue chez Edmond
        %p.text-center.my-4
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        .d-flex.ai-center.jc-center
          = remote_link_to(target: dashboard_subscription_infos_path, dynamic_dom_receiver: "section.content", trackable_url: true, class: "useless") do
            .btn.btn-dark.fw-600 Souscrire
          = remote_link_to(target: new_dashboard_financing_request_path, dynamic_dom_receiver: "section.content", pattern: "html", trackable_url: true) do
            .btn.btn-dark.ml-2.fw-600 Demander une avance

