%section.dashboard
  = render "dashboard/shared/fixed_menu"
  = render "dashboard/shared/fixed_user_menu"
  %section.content
    = render "shared/flashes"
    = hidden_field :url, :ajax, value: dashboard_synthesis_path, class: "start-dashboard-trigger", "data-remote-dom-receiver": "section.content"
