= render "dashboard/shared/current_path"
.fadein
  = render "dashboard/pages/partials/header"
  = render "shared/flashes"
  %section.synthesis
    .row.no-gutters
      .col-12.col-sm-4.pr-md-1
        .base-block.sm-block
          .top-item
            %h4 Ma dernière vente
          .bottom-item
            - if @last_signed_compromise
              .d-flex
                .d-flex.d-column.f-grow-1.ai-start
                  %p Votre dernière vente signée
                  %h6.fw-500.text-darkblue
                    = "Signé le " + l(@last_signed_compromise.authentic_act_signature_date, format: :medium)
                  %h6.fw-500.text-darkblue
                    = @last_signed_compromise.seller_lastname
                  %h6.fw-500.text-darkblue
                    = "#{number_with_delimiter(@last_signed_compromise.fees.to_i, delimiter: " ")} € " + "d'honoraires"
                .d-flex.d-column.f-grow-1
                  %h6.fw-500.text-lightblue
                    = "Il y a "
                  %h3.fw-700.text-lightblue
                    = time_ago_in_words(@last_signed_compromise.authentic_act_signature_date).gsub("environ","")

            - else
              %p Vous n'avez pas de vente enregistrée
              %h4 Il y a 0 jours

      .col-12.col-sm-4.px-md-1
        .base-block.sm-block
          .top-item
            %h4 Mes honoraires
          .bottom-item
            .d-flex
              .d-flex.f-grow-1
                = unicon_svg(name: "euro-circle", size: 25, color: "lightgreen")
                .price
                  - if @company.signed_compromises_fees_sum
                    = "#{number_with_delimiter(@company.signed_compromises_fees_sum.to_i, delimiter: " ")} €"
                  - else
                    = "0 €"
              .d-flex.f-grow-1
                = unicon_svg(name: "euro-circle", size: 25, color: "orange")
                .price
                  - if @company.unsigned_compromises_fees_sum
                    = "#{number_with_delimiter(@company.unsigned_compromises_fees_sum.to_i, delimiter: " ")} €"
                  - else
                    = "0 €"
            .d-flex
              .d-flex.f-grow-1
                %p Encaissés
              .d-flex.f-grow-1
                %p En attente

      .col-12.col-sm-4.pl-md-1
        .base-block.poll.sm-block
          .top-item
            %h4 La question du mois
          .bottom-item.poll
            %p
              = @poll.question
            .d-flex.jc-between
              - if @filling_poll
                - @poll.percent_calculate.each do |response|
                  %a.poll-btn
                    = svg("poll-#{response.first}")
                    %p{class: "#{response.first}"}
                      = "#{response.last} %"
                .abs-small.d-none
                  = "#{@poll.total} réponses"
              - else
                - @poll.responses.each do |response|
                  = remote_link_to(target: "/dashboard/polls/#{response.first}?id=#{current_user.id.to_s}&poll_id=#{@poll.id.to_s}", pattern: "html", class: "poll-btn", dynamic_dom_receiver: ".base-block.poll", trackable_url: false) do
                    = svg("poll-#{response.first}")
                    %p{class: "#{response.first}"}
                      = response.last


    .row.no-gutters.my-md-2
      .col-12.col-sm-8.pr-md-1
        .base-block.lg-block
          .top-item
            %h4 Ma trésorerie
          .bottom-item
            = generate_chart(id: "home-treasury", chart_type: "bar", datas: [@management_datas[:fees],@management_datas[:costs],@management_datas[:current_month_unsigned_fees]], stack: true, labels: @management_datas[:labels], height: "80")

            .d-flex.jc-start.p-3
              .d-flex.jc-start.mr-4
                .chart-legend.ongoing
                  .left-color
                  .right-color
                %p.ml-2.text-darkblue.fw-500.no-bottom-margin Honoraires encaissés HT
              .d-flex.jc-start.mr-4
                .chart-legend.estimated
                  .left-color
                  .right-color
                %p.ml-2.text-darkblue.fw-500.no-bottom-margin Charges HT

      .col-12.col-sm-4.pl-md-1
        .base-block.lg-block
          .top-item
            %h4 Besoin d'une avance ?
          .bottom-item
            .d-flex.jc-center
              = unicon_svg(name: "euro-circle", size: 90, color: "rgb(0,172,217)")
            %h6.text-center.fw-500.my-3
              Edmond s'appuie sur vos compromis en attente de signature pour avancer vos honoraires.
            .d-flex.jc-center
              = remote_link_to(target: new_dashboard_financing_request_path, dynamic_dom_receiver: "section.content", pattern: "html", trackable_url: true) do
                .btn.btn-blue Je demande une avance


      .col-12.col-sm-3.px-md-1.mobile-hidden.d-none
        .base-block.lg-block
          .pending-feature-container
            .pending-feature
              = feather_svg("lock")
              %p Bientôt disponible
          .top-item
            %h5 Besoin d'une avance ?
      .col-12.col-sm-3.pl-md-1.d-none
        .base-block.lg-block
          .pending-feature-container.d-none
            .pending-feature
              = feather_svg("lock")
              %p Bientôt disponible
          .top-item
            %h5 Mes points
          .bottom-item
            .doughnut-chart-centered-text
              .first
                = current_user.points
              .last Points
            = generate_chart(id: "points", chart_type: "doughnut", datas: [current_user.points,10000], labels: ["points",""], height: "190")

= render "dashboard/pages/partials/restricted_access_modal"

