.main-wrapper
  .main-sidebar
    %aside#sidebar-wrapper
      .sidebar-brand
        %a{:href => admin_start_path} Edmond
      %ul.sidebar-menu
        %li.menu-header Dashboard
        %li{class: "#{'active' if current_page?(admin_start_path)}"}
          %a{:href => admin_start_path}
            .mr-2
              = unicon_svg(name: "cube", size: 20, mono: true)
            %span.ml-1 Accueil
        %li{class: "#{'active' if current_page?(admin_companies_path)}"}
          %a{:href => admin_companies_path}
            .mr-2
              = unicon_svg(name: "briefcase", size: 20, mono: true)
            %span.ml-1 Sociétés
        %li{class: "#{'active' if current_page?(admin_users_path)}"}
          %a{:href => admin_users_path}
            .mr-2
              = unicon_svg(name: "ruler", size: 20, mono: true)
            %span.ml-1 Clients
        %li{class: "#{'active' if current_page?(admin_financing_requests_path)}"}
          %a{:href => admin_financing_requests_path}
            .mr-2
              = unicon_svg(name: "layer-group", size: 20, mono: true)
            %span.ml-1 Financements
        %li{class: "#{'active' if current_page?(admin_admins_path)}"}
          %a{:href => admin_admins_path}
            .mr-2
              = unicon_svg(name: "box", size: 20, mono: true)
            %span.ml-1 Utilisateurs
  = render "admin/shared/partials/navbar"
  = yield
