.card
  .card-header
    %h4
      = "#{resource.capitalize}"
  .card-body
    .empty-state
      .empty-state-icon
        .feather-container.white
          = feather_svg("help")
      %h2 Aucune donnée trouvée
      %p.lead.d-none
        = "Désolé"
