- if flash[:missing_field]
  %a.dropdown-item{:href => "#"}
    .dropdown-item-icon.bg-danger.text-white
    .dropdown-item-desc
      = flash[:missing_field]
      .time
        = l(DateTime.now, format: :time_without_seconds)
