%nav.navbar.navbar-expand-lg.main-navbar
  = render "admin/shared/partials/search"
  %ul.navbar-nav.navbar-right
    %li.dropdown.dropdown-list-toggle
      %a.nav-link.nav-link-lg.message-toggle.beep{"data-toggle" => "dropdown", :href => "#"}
        = feather_dynamic_svg(name: "mail", size: 18, color: "#34395e")
      .dropdown-menu.dropdown-list.dropdown-menu-right.adjusted-menu
        .dropdown-header
          Messages
          .float-right
            %a.fw-700{:href => "#"} Mark All As Read
        .dropdown-list-content.dropdown-list-message
          %a.dropdown-item.dropdown-item-unread{:href => "#"}
            .dropdown-item-desc
              %b Kusnaedi
              %p Hello, Bro!
              .time 10 Hours Ago
          %a.dropdown-item.dropdown-item-unread{:href => "#"}
            .dropdown-item-desc
              %b Dedik Sugiharto
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit
              .time 12 Hours Ago
          %a.dropdown-item.dropdown-item-unread{:href => "#"}
            .dropdown-item-desc
              %b Agung Ardiansyah
              %p Sunt in culpa qui officia deserunt mollit anim id est laborum.
              .time 12 Hours Ago
          %a.dropdown-item{:href => "#"}
            .dropdown-item-desc
              %b Ardian Rahardiansyah
              %p Duis aute irure dolor in reprehenderit in voluptate velit ess
              .time 16 Hours Ago
          %a.dropdown-item{:href => "#"}
            .dropdown-item-desc
              %b Alfa Zulkarnain
              %p Exercitation ullamco laboris nisi ut aliquip ex ea commodo
              .time Yesterday
        .dropdown-footer.text-center
          %a{:href => "#"}
            View All
            %i.fas.fa-chevron-right
    %li.dropdown.dropdown-list-toggle
      %a.nav-link.notification-toggle.nav-link-lg.beep{"data-toggle" => "dropdown", :href => "#"}
        = feather_dynamic_svg(name: "bell", size: 17, color: "#34395e")
      .dropdown-menu.dropdown-list.dropdown-menu-right.adjusted-menu
        .dropdown-header
          Notifications
          .float-right
            %a{:href => "#"} Mark All As Read
        .dropdown-list-content.dropdown-list-icons
          - if flash
            = render "admin/shared/partials/flashes"

          %a.dropdown-item.dropdown-item-unread{:href => "#"}
            .dropdown-item-icon.bg-primary.text-white
              %i.fas.fa-code
            .dropdown-item-desc
              Template update is available now!
              .time.text-primary 2 Min Ago
          %a.dropdown-item{:href => "#"}
            .dropdown-item-icon.bg-info.text-white
              %i.far.fa-user
            .dropdown-item-desc
              %b You
              and
              %b Dedik Sugiharto
              are now friends
              .time 10 Hours Ago
          %a.dropdown-item{:href => "#"}
            .dropdown-item-icon.bg-success.text-white
              %i.fas.fa-check
            .dropdown-item-desc
              %b Kusnaedi
              has moved task
              %b Fix bug header
              to
              %b Done
              .time 12 Hours Ago
          %a.dropdown-item{:href => "#"}
            .dropdown-item-icon.bg-danger.text-white
              %i.fas.fa-exclamation-triangle
            .dropdown-item-desc
              Low disk space. Let's clean it!
              .time 17 Hours Ago
        .dropdown-footer.text-center
          %a{:href => "#"}
            View All
            %i.fas.fa-chevron-right
    %li.dropdown
      %a.nav-link.dropdown-toggle.nav-link-lg.nav-link-user{"data-toggle" => "dropdown", :href => "#"}
        .d-sm-none.d-lg-inline-block.fw-700
          = "Hi, #{current_admin.firstname}"
          = unicon_svg(name: "angle-down", size: 20, mono: true)
      .dropdown-menu.dropdown-menu-right.adjusted-menu.adjusted-menu-user
        .dropdown-title.text-muted
          = "Loggé à #{l(current_admin.current_sign_in_at, format: :time_without_seconds)}"
        .dropdown-divider
        %a.dropdown-item.has-icon{:href => "features-profile.html"}
          %i.far.fa-user
          Profile
        %a.dropdown-item.has-icon{:href => "features-activities.html"}
          %i.fas.fa-bolt
          Activities
        %a.dropdown-item.has-icon{:href => "features-settings.html"}
          %i.fas.fa-cog
          Settings
        .dropdown-divider
        %a.dropdown-item.has-icon.text-danger{:href => "#"}
          %i.fas.fa-sign-out-alt
          Se déconnecter
