%form.form-inline.mr-auto
  .search-element.d-none
    %input.form-control{"aria-label" => "Search", "data-width" => "250", :placeholder => "Search", :style => "width: 250px;", :type => "search"}/
    %button.btn{:type => "submit"}
