%section.contextual-header.d-mobile-column
  %h4 Mon tableau de bord
  .d-flex.jc-center.d-mobile-column
    = remote_link_to(target: new_dashboard_compromise_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
      .btn.btn-blue Nouveau compromis
    = remote_link_to(target: dashboard_new_pending_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
      .btn.btn-blue.ml-2 Nouvelle vente signée
