- if @restricted_access
  - if current_user.trial_used?
    #restricted-account.custom-modal-container.backdrop-filter.d-none
      .custom-modal
        .custom-modal-body
          .d-flex.ai-center.d-column.mb-1
            = dynamic_svg(name: "chapeau-edmond", size: 70)
            %h4.fw-700 Bienvenue chez Edmond
          .text-gray.d-flex.ai-center.jc-center
            Période d'essai terminée

          %p.text-center.my-4
            Vous pouvez souscrire à Edmond en cliquant sur le bouton ci-dessous.
            Vous pouvez également faire une demande d'avance sur honoraire.

          .d-flex.ai-center.jc-center
            = remote_link_to(target: dashboard_subscription_infos_path, dynamic_dom_receiver: "section.content", trackable_url: true, class: "useless") do
              .btn.btn-dark.fw-600 Souscrire
            = remote_link_to(target: new_dashboard_financing_request_path, dynamic_dom_receiver: "section.content", pattern: "html", trackable_url: true) do
              .btn.btn-dark.ml-2.fw-600 Demander une avance
  - else
    #restricted-account.custom-modal-container.backdrop-filter.d-none
      .custom-modal
        .custom-modal-body
          .d-flex.ai-center.d-column.mb-1
            = dynamic_svg(name: "chapeau-edmond", size: 70)
            %h4.fw-700 Bienvenue chez Edmond
          .text-gray.d-flex.ai-center.jc-center
            1 mois gratuit
            .point-separator.mx-2
            Sans engagement

          %p.text-center.my-4
            Testez Edmond gratuitement pendant 1 mois, sans limite ni engagement. Vous ne serez pas facturé pendant votre mois d’essai et pourrez résilier sans frais.

          .d-flex.ai-center.jc-center
            = remote_link_to(target: dashboard_subscription_infos_path, dynamic_dom_receiver: "section.content", trackable_url: true, class: "useless") do
              .btn.btn-dark.fw-600 Souscrire
            = remote_link_to(target: new_dashboard_financing_request_path, dynamic_dom_receiver: "section.content", pattern: "html", trackable_url: true) do
              .btn.btn-dark.ml-2.fw-600 Demander une avance





