%section.square-navigation
  .centered-circle
    = svg("logo-edmond")
  .top-block
    = link_to root_path do
      .square-item
        %h3 Alert
        = feather_svg("alert-circle")
    = link_to root_path do
      .square-item
        %h3 Aperture
        = feather_svg("aperture")
  .bottom-block
    = link_to root_path do
      .square-item
        %h3 Archive
        = feather_svg("archive")
    = remote_link_to(target: dashboard_compromises_path, pattern: "html", nested: true, trackable_url: true) do
      .square-item
        %h3 Award
        = feather_svg("award")
