= render "dashboard/shared/current_path"
.p-20px
  .row
    .col-12.col-sm-4
      .treasury-block
        .d-flex
          %h4.subtitle Mes honoraires
        %i.small.fw-500.block-subtitle HT sur l'année
        .d-flex.d-column.ai-start
          .d-flex.f-grow-1
            = unicon_svg(name: "euro-circle", size: 40, color: "rgb(0,172,217)")
            .d-flex.d-column.ai-start.ml-3
              .amount
                - if @company.signed_compromises_fees_sum
                  = "#{number_with_delimiter(@company.signed_compromises_fees_sum.to_i, delimiter: " ")} €"
                - else
                  = "0 €"
              %p.fw-500 CA Encaissé
          .d-flex.f-grow-1
            = unicon_svg(name: "euro-circle", size: 40, color: "rgba(0,172,217,0.5)")
            .d-flex.d-column.ai-start.ml-3
              .amount
                - if @company.unsigned_compromises_fees_sum
                  = "#{number_with_delimiter(@company.unsigned_compromises_fees_sum.to_i, delimiter: " ")} €"
                - else
                  = "0 €"
              %p.fw-500 CA à venir


    .col-12.col-sm-4
      .treasury-block
        .d-flex
          %h4.subtitle Mes charges
        %i.small.fw-500.block-subtitle HT sur l'année
        .d-flex.d-column.ai-start
          .d-flex.f-grow-1
            = unicon_svg(name: "invoice", size: 40, color: "rgb(255,196,56)")
            .d-flex.d-column.ai-start.ml-3
              .amount
                - if @cashed_costs
                  = "#{number_with_delimiter(@cashed_costs.to_i, delimiter: " ")} €"
                - else
                  = "0 €"
              %p.fw-500 Charges payées
          .d-flex.f-grow-1
            = unicon_svg(name: "invoice", size: 40, color: "rgba(255,196,56,0.5)")
            .d-flex.d-column.ai-start.ml-3
              .amount
                - if @uncashed_costs
                  = "#{number_with_delimiter(@uncashed_costs.to_i, delimiter: " ")} €"
                - else
                  = "0 €"
              %p.fw-500 Charges à venir

    .col-12.col-sm-4
      .costs-breakdown-block
        %h4.subtitle
          = "Ma synthèse au #{l(Date.today, format: :french)}"
        %i.small.fw-500.block-subtitle
          = "Cumul depuis #{l(Date.today.beginning_of_year, format: :french)}"
        .d-flex.mb-1.f-grow-1
          = unicon_svg(name: "euro-circle", size: 40, color: "white")
          .d-flex.d-column.ai-start.ml-3
            %h6.fw-700
              = number_with_delimiter(@company.signed_compromises_fees_sum.to_i - @cashed_costs.to_i, delimiter: " ") + " €"
            .small.fw-500 A ce jour
        .d-flex.f-grow-1
          = unicon_svg(name: "invoice", size: 40, color: "white")
          .d-flex.d-column.ai-start.ml-3
            %h6.fw-700
              = number_with_delimiter(@company.unsigned_compromises_fees_sum.to_i - @uncashed_costs.to_i, delimiter: " ") + " €"
            .small.fw-500 Prévus

  .row.mt-4
    .col-12
      .d-flex.d-column.ai-start
        %h5.subtitle.nomargins Ma trésorerie
        %p.fw-500 Mes honoraires et mes charges (HT)

  .row
    .col-12
      - if @datas
        = generate_chart(id: "treasury", chart_type: "bar", datas: [@datas,@cost_datas,@unsigned_datas], stack: true, labels: @labels, height: "60")
      - else
        = generate_chart(id: "treasury", chart_type: "bar", datas: [[0,0,0,0,0,0,0,0,0,0,0,0],@cost_datas,@unsigned_datas], stack: true, labels: @labels, height: "60")
    .col-12
      .d-flex.jc-start.p-3
        .d-flex.jc-start.mr-4
          .chart-legend.ongoing
            .left-color
            .right-color
          %p.ml-2.text-darkblue.fw-500 Honoraires encaissés HT
        .d-flex.jc-start.mr-4
          .chart-legend.estimated
            .left-color
            .right-color
          %p.ml-2.text-darkblue.fw-500 Charges HT

