.main-content
  %section.section
    .section-body
      .row
        .col-12
          .card
            .card-header
              %h4 Clients actifs
              .card-header-form
                %form.d-none
                  .input-group
                    %input.form-control{placeholder: "Search", type: "text"}
                    .input-group-btn
                      %button.btn.btn-primary
                        %i.fas.fa-search
            .card-body.p-0
              .table-responsive
                %table.table.table-striped
                  %tbody
                    %tr
                      %th
                        .custom-checkbox.custom-control
                          %input#checkbox-all.custom-control-input{"data-checkbox-role": "dad", "data-checkboxes": "mygroup", type: "checkbox"}
                          %label.custom-control-label{for: "checkbox-all"}  
                      %th Nom
                      %th Progress
                      %th Members
                      %th Société
                      %th Status
                      %th Action
                    - @users.each_with_index do |user,index|
                      %tr
                        %td.p-0.text-center
                          .custom-checkbox.custom-control
                            %input.custom-control-input{"data-checkboxes": "mygroup", type: "checkbox", id: "checkbox-#{index+1}"}
                            %label.custom-control-label{for: "checkbox-#{index+1}"}  
                        %td
                          = "#{user.firstname} #{user.lastname}"
                        %td.align-middle
                          .progress{"data-height": "4", "data-original-title": "100%", "data-toggle": "tooltip", style: "height: 4px;", title: ""}
                            .progress-bar.bg-success{"data-width" => "100", :style => "width: 100px;"}
                        %td
                        %td
                          = user.companies.last.name
                        %td
                          .badge.badge-success Completed
                        %td
                          %a.btn.btn-secondary{href: admin_user_path(user)} Detail

