.main-content
  %section.section
    .section-header
      %h1 Client
      .section-header-breadcrumb
        .breadcrumb-item.active
          %a{:href => "#"} Dashboard
        .breadcrumb-item
          %a{:href => "#"} Client
        .breadcrumb-item
          = "#{@user.firstname} #{@user.lastname}"
    .section-body
      .row
        .col-12.col-md-6
          .card
            .card-header
              %h4 Société
            .card-body
              .summary
                .summary-item
                  %ul.list-unstyled.list-unstyled-border
                    - @company.compromises.each do |comp|
                      %li.media
                        %a{:href => "#"}
                          .feather-container.mr-3
                            = feather_svg("briefcase")
                        .media-body
                          .media-right
                            = number_with_delimiter(comp.fees.to_i, locale: :fr) + " €"
                          .media-title
                            %a{:href => "#"}
                              = comp.seller_lastname
                          .text-small.text-muted.fw-600
                            by
                            %a.fw-600{:href => "#"}
                              = "#{@company.user.firstname} #{@company.user.lastname}"
                            .bullet
                            = "Le #{l(comp.created_at, format: :french)}"
        .col-12.col-md-6
          .card
            .card-header
              %h4 Société
            .card-body
              %ul.list-unstyled.user-details.list-unstyled-border.list-unstyled-noborder
                %li.media
                  .generic-flex
                    .feather-rounded-container.small-container.gray.mr-2{style: "#{svg_base64_conversion(name: 'git-commit', color: stisla_colors(:gray))}"}
                    .title NOM
                  .media-body
                    .media-title
                      = @company.name
                  .media-items
                    .media-item
                      .media-label Nom
                      .media-value
                        = @company.name
                    .media-item
                      .media-label Siret
                      .media-value
                        = @company.siren

        .col-12.col-md-6
          .card
            .card-header
              %h4 Abonnements
            .card-body
              %ul.list-unstyled.user-details.list-unstyled-border.list-unstyled-noborder
                %li.media
                  .feather-container.blue.mr-3
                    = feather_svg("user")
                  .media-body
                    .media-title Rizal Fakhri
                    .text-job.text-muted Web Developer
                  .media-items
                    .media-item
                      .media-value 1,239
                      .media-label Posts
                    .media-item
                      .media-value 10K
                      .media-label Followers
                    .media-item
                      .media-value 2,312
                      .media-label Following
                %li.media
                  .feather-container.red.mr-3
                    = feather_svg("user")
                  .media-body
                    .media-title Irwansyah Saputra
                    .text-job.text-muted Web Developer
                  .media-items
                    .media-item
                      .media-value 4,872
                      .media-label Posts
                    .media-item
                      .media-value 43K
                      .media-label Followers
                    .media-item
                      .media-value 1,290
                      .media-label Following
                %li.media
                  .feather-container.green.mr-3
                    = feather_svg("user")
                  .media-body
                    .media-title Hasan Basri
                    .text-job.text-muted Web Developer
                  .media-items
                    .media-item
                      .media-value 1,821
                      .media-label Posts
                    .media-item
                      .media-value 14K
                      .media-label Followers
                    .media-item
                      .media-value 2,891
                      .media-label Following
