%section.account-menu
  .d-flex.ai-start.d-column
    %h3
      = title
    - if @referer
      .d-flex.justify-content-start
        = remote_link_to(target: @referer, class: "referer-link", dynamic_dom_receiver: "section.content", trackable_url: true) do
          = feather_svg("arrow-left")
          .referer-title
            = @referer_title

  .dropdown.d-none
    .account-menu-container{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown"}
      .feather-svg-lightred
        = feather_svg("unicon-user-circle")
      .agent-mail
        = "#{current_user.firstname.downcase.capitalize} #{current_user.lastname.downcase.capitalize}"
      .feather-svg-darkblue
        = feather_svg("chevron-down")
    .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
      = remote_link_to(target: dashboard_companies_path, dynamic_dom_receiver: "section.content", pattern: "html", trackable_url: true) do
        .dropdown-item
          .feather-svg-lightred.mr-2
            = feather_svg("settings")
          Profil et paramètres
      = link_to destroy_user_session_path, method: :delete do
        .dropdown-item
          .feather-svg-lightred.mr-2
            = feather_svg("log-out")
          Déconnexion

