- if @referer
  .d-flex.justify-content-start
    = remote_link_to(target: @referer, class: "referer-link", dynamic_dom_receiver: "section.content", trackable_url: true) do
      = feather_svg("arrow-left")
      .referer-title
        = @referer_title
