%section.fixed-menu.mobile-hidden
  .fadein
    .logo
      = svg("logo-edmond")
    = remote_link_to(target: dashboard_synthesis_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item.active
        = feather_svg("home")
        %h5 Dashboard
    = remote_link_to(target: dashboard_management_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item
        = unicon_svg(name: "tachometer-fast", size: 25, color: "white")
        %h5 Pilotage
    = remote_link_to(target: dashboard_compromises_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item
        = feather_svg("flag")
        %h5 Mes transactions
    = remote_link_to(target: dashboard_companies_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item
        = unicon_svg(name: "user-circle", size: 25, color: "white")
        %h5 Ma société
    = remote_link_to(target: dashboard_subscription_infos_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true, class: "useless") do
      .menu-item
        = unicon_svg(name: "store-alt", size: 25, color: "white")
        %h5 Mon abonnement

%section.mobile-menu-trigger.d-md-none
  .round-svg.mobile-btn-trigger
    = feather_svg("align-justify")
%section.mobile-menu-content.d-none
  .mobile-menu-closer
    = feather_svg("x")

  .pt-5
    = remote_link_to(target: dashboard_synthesis_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item.active
        = feather_svg("home")
        %h5 Dashboard
    = remote_link_to(target: dashboard_management_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item
        = unicon_svg(name: "tachometer-fast", size: 25, color: "white")
        %h5 Pilotage
    = remote_link_to(target: dashboard_compromises_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item
        = feather_svg("flag")
        %h5 Mes transactions
    = remote_link_to(target: dashboard_companies_path, dynamic_dom_receiver: "section.content", toggable: ".menu-item", trackable_url: true) do
      .menu-item
        = unicon_svg(name: "store-alt", size: 25, color: "white")
        %h5 Ma société
