%section.fixed_user_menu.mobile-hidden
  .d-flex.mr-3
    = remote_link_to(target: dashboard_companies_path, dynamic_dom_receiver: "section.content", pattern: "html", class: "fixed-menu-link", trackable_url: true) do
      .feather-svg-lightred.mr-2
        = feather_svg("user")
      Profil et paramètres
  .d-flex
    = link_to destroy_user_session_path, method: :delete, class: "fixed-menu-link" do
      .feather-svg-lightred.mr-2
        = feather_svg("log-out")
      Déconnexion
