= render "dashboard/shared/current_path"
%section.month_costs
  .costs-month-list-container
    - month_list_with_values.each do |item|
      = remote_link_to(target: dashboard_month_costs_path(month: item.first,year: @year.to_i), method: "POST", pattern: "html", dynamic_dom_receiver: ".costs-receiver", toggable: ".costs-month-item", trackable_url: false) do
        - if item.first == @month
          .costs-month-item.active
            = item.last
        - else
          .costs-month-item
            = item.last

    .d-flex.costs-year-selector
      = remote_link_to(target: dashboard_year_costs_path(year: @year.to_i - 1), method: "POST", pattern: "html", dynamic_dom_receiver: "section.month_costs", trackable_url: false) do
        = feather_svg("chevron-left")

      .current-year
        = @year.to_i

      = remote_link_to(target: dashboard_year_costs_path(year: @year.to_i + 1), method: "POST", pattern: "html", dynamic_dom_receiver: "section.month_costs", trackable_url: false) do
        = feather_svg("chevron-right")

  .costs-receiver
    - if @new_cost
      = render "dashboard/costs/partials/new", cost: @new_cost, company: @company, month: @month, year: @year, datas: @datas
    - else
      = render "dashboard/costs/partials/show", cost: @cost, datas: @datas, costs_total: @costs_total, company: @company
