%section.contextual-header
  %h4 Mon outil de pilotage
  .d-flex.jc-center
    = remote_link_to(target: new_dashboard_compromise_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
      .btn.btn-blue Nouveau compromis
    = remote_link_to(target: dashboard_new_pending_path, pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
      .btn.btn-blue.ml-2 Nouvelle vente signée
    = remote_link_to(target: new_dashboard_financing_request_path, dynamic_dom_receiver: "section.content", pattern: "html", trackable_url: true) do
      .btn.btn-blue.ml-2 Demander une avance
