= render "dashboard/shared/current_path"
.p-20px
  - if @company.compromises?
    .sortable-list{id: "compromises-index", "data-remote-list": "compromises-index", "data-remote-values": '["date","name","status","fees","compromise_signature_date"]'}
      %table.table
        %thead
          %tr
            %th.sort{"data-sort": "date"}
              .d-flex
                Crée le
                = feather_svg("code")
            %th.sort{"data-sort": "name"}
              .d-flex
                Vendeur
                = feather_svg("code")
            %th.sort{"data-sort": "status"}
              .d-flex
                Statut
                = feather_svg("code")
            %th.sort{"data-sort": "fees"}
              .d-flex
                Honoraires
                = feather_svg("code")
            %th.sort{"data-sort": "compromise_signature_date"}
              .d-flex
                Date de signature
                = feather_svg("code")
            %th
        %tbody.list
          - @compromises.each_with_index do |compromise,index|
            %tr
              %th{:scope => "row"}
                .date
                  = l(compromise.created_at, format: :medium_short)
              %td
                .name
                  = "#{compromise.seller_lastname}"
              %td
                .status
                  = "#{compromise.status}"
              %td
                .fees
                  %strong
                    = number_with_delimiter(compromise.fees.to_i, locale: :fr) + "€"
              %td
                .compromise_signature_date
                  = l(compromise.compromise_signature_date, format: :medium_short)
              %td
                = remote_link_to(target: dashboard_compromise_path(compromise), dynamic_dom_receiver: "section.content", class: "table-show-link", trackable_url: true) do
                  = svg("angle-down")
      .fixed-pagination
        %ul.pagination
  - else
    %section.empty-resource
      .d-flex.jc-center.ai-center
        = dynamic_svg(name: "empty-resources", size: 160)
      %h5
        = "C'est bien vide ici !"
      .d-flex.ai-center.jc-center
        = remote_link_to(target: new_dashboard_compromise_path(@company), pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
          .btn.btn-blue.mx-2 Nouveau compromis
        = remote_link_to(target: dashboard_new_pending_path(current_user.companies.last), pattern: "html",dynamic_dom_receiver: "section.content", trackable_url: true) do
          .btn.btn-blue.mx-2 Nouvelle vente signée


