.custom-toast.create
  .toast-header
    .title-container
      = feather_svg("alert-circle")
      .toast-title
        = flash[:create][:title]
    .time
      = flash[:create][:date]
  .toast-content
    - if flash[:create][:instance]
      %ul
        %li
          %b Statut
          %p
            = flash[:create][:instance].status
        %li
          %b Reference
          %p
            = flash[:create][:instance].reference
        %li
          %b Prix
          %p
            = flash[:create][:instance].fees
        %li
          %b Type de bien
          %p
            = flash[:create][:instance].purchase_type
