.alert-flex-container
  .alert.alert-light.alert-has-icon.white-alert
    .unicon-container.mr-3.d-none
      = unicon_svg(name: "lightbulb-alt", color: "black", size: 25)
    .alert-body
      .alert-title
        = "Attention"
      = flash[:alert]
