- if flash[:info].is_a?(Array)
  - flash[:info].each do |info|
    .custom-toast.info
      .toast-header
        .title-container
          = feather_svg("alert-circle")
          .toast-title
            = info[:title]
        .time
          = info[:date]
      .toast-content
        = info[:content]
- else
  .custom-toast.info
    .toast-header
      .title-container
        = feather_svg("alert-circle")
        .toast-title
          = flash[:info][:title]
      .time
        = flash[:info][:date]
    .toast-content
      = flash[:info][:content]
