.custom-toast.reminder
  .toast-header
    .title-container
      = feather_svg("bell")
      .toast-title
        = flash[:reminder][:title]
    .time
      = flash[:reminder][:date]
  .toast-content
    = flash[:reminder][:content]
