.custom-toast.warning
  .toast-header
    .title-container
      = feather_svg("alert-triangle")
      .toast-title
        = flash[:warning][:title]
    .time
      = flash[:warning][:date]
  .toast-content
    = flash[:warning][:content]
