!!!
%html
  %head
    %meta{content: "text/html", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{property: "og:type", content: "website"}/
    %meta{name: "error_url", content: "#{internal_error_url}"}/
    %meta{name: "description", content: "Edmond, c’est l’outil qui facilite le pilotage de trésorerie aux agences immobilières. Inscrivez-vous gratuitement en 3 clics."}/
    %title Edmond : l’outil de pilotage de trésorerie pour agences immo
    = csrf_meta_tags
    = stylesheet_link_tag 'admin', media: 'all'
    = favicon_link_tag
  %body
    - if current_admin
      = render "admin/shared/partials/admin_layout", yield: yield
    - else
      = yield
    = javascript_include_tag 'admin'
