!!!
%html
  %head
    %meta{content: "text/html", "http-equiv": "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{charset: "utf-8"}/
    %meta{property: "og:type", content: "website"}/
    %meta{name: "error_url", content: "#{internal_error_url}"}/

    %meta{name: "description", content: "Edmond, c’est l’outil qui facilite le pilotage de trésorerie aux agences immobilières. Inscrivez-vous gratuitement en 3 clics."}/
    %title Edmond : l’outil de pilotage de trésorerie pour agences immo
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag
  %body
    = yield
    = javascript_include_tag 'application'
    %script{src: "https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.js"}
    %script{src: "https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"}
    %script{src: "https://sdk.amazonaws.com/js/aws-sdk-2.585.0.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"}
    %script{src: "https://js.stripe.com/v3/"}


    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T2JNX8S');

    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-T2JNX8S", :style => "display:none;visibility:hidden", :width => "0"}
